{% if type == 'block' %}
  {% assign title = block.settings.title %}
{% else %}
  {% assign title = section.settings.title %}
{% endif %}
<div class="bgsec1">
	<div class="container-fluid">
  <div class="section clearfix homepage_content">
  
      <div class="sixteen columns mb-5">
        <h2 class="title center blog text-dark">
          {{ title | escape }}
        </h2>
      </div>
    <div class="one-third column medium-down--one-whole article small-down--one-whole text-center">
      <a href="{{ section.settings.link1 }}"> <img src="{{section.settings.image1 | img_url: '300x300' }}">  </a>
      <h3 class="blog_sub_title">
        <a href="{{ section.settings.link1 }}">{{ section.settings.imagetitle1 }}</a>
      </h3>
  	</div>
    <div class="one-third column medium-down--one-whole article small-down--one-whole text-center">
      <a href="{{ section.settings.link2 }}"> <img src="{{section.settings.image2 | img_url: '300x300' }}">  </a>
      <h3 class="blog_sub_title">
        <a href="{{ section.settings.link2 }}">{{ section.settings.imagetitle2 }}</a>
      </h3>
  	</div>
    <div class="one-third column medium-down--one-whole article small-down--one-whole text-center">
      <a href="{{ section.settings.link3 }}"> <img src="{{section.settings.image3 | img_url: '300x300' }}">  </a>
      <h3 class="blog_sub_title">
        <a href="{{ section.settings.link3 }}">{{ section.settings.imagetitle3 }}</a>
      </h3>
  	</div>

<!--     <div class="one-third column medium-down--one-whole article small-down--one-whole text-center">
      <a href="#"> <img src="{{'Cooking-Icon.png' | asset_img_url: '300x300' }}">  </a>
      <h3 class="blog_sub_title">
        <a href="#">10 items every kitchen needs</a>
      </h3>
  	</div>
    <div class="one-third column medium-down--one-whole article small-down--one-whole text-center">
      <a href="#"> <img src="{{'Egg-Icon.png' | asset_img_url: '300x300' }}">  </a>
      <h3 class="blog_sub_title">
        <a href="#">Top non-vegetarian protein sources</a>
      </h3>
  	</div>
    <div class="one-third column medium-down--one-whole article small-down--one-whole text-center">
      <a href="#"> <img src="{{'Fruits-_-Vegetables.png' | asset_img_url: '300x300' }}">  </a>
      <h3 class="blog_sub_title">
        <a href="#">Hydrating fruits & vegetables</a>
      </h3>
  	</div> -->
</div>
</div>
</div>



  
  
<style>
  
.bgsec1 {
    background-image: url(//cdn.shopify.com/s/files/1/0579/7173/6733/t/2/assets/bg-blog.png?v=1632996…);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 0 100px;
}
  
 h2.title.center.blog.text-dark {
    color: #000!important;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 80px;
} 
  h2.title.center.blog.text-dark a {
    color: #000!important;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 80px;
}

  h3.blog_sub_title {
    color: #000!important;
    letter-spacing: initial;
    max-width: 100%;
    margin: auto;
    display: block;
}
  .blog_sub_title a {
    color: #000!important;
}
 .bgsec1 .one-third a {
    display: flex;
    height: 165px;
    width: 100%;
    margin-bottom: 35px;
}
  .bgsec1 .one-third a img {
    display: block;
    padding: 0;
    margin: 0 auto;
}
 .bgsec1 .blog_sub_title a {
    height: auto;
    font-size: 26px;
    font-weight: 600;
    font-family: 'gohtam-bold'!important;
}
  
  @media only screen and (min-width: 320px) and (max-width: 667px) {
	
    .bgsec1 {
    background-image: url(//cdn.shopify.com/s/files/1/0579/7173/6733/t/2/assets/mobile-blog.png);
    background-size: 100% 100%;
    padding: 2px 0 0px!important;
}
  
  
  }
</style>

  