{% assign button_color = "rgba(0, 0, 0, 0.8)" %}
{% assign text_color = "rgba(255, 255, 255, 0.8)" %}

<style>
  #qwikcilver{
    display:none;
  }
  .qwikcilver-wrapper {
    float: left;
    width: 100%;
    margin-top: 25px;
    padding: 20px 0 16px 7px;
    border: 0;
    border-top: 1px solid rgba(175, 175, 175, 0.34);
  }

  .qwikcilver-wrapper .te-input-wrapper {
    display: flex;
  }

  .qwikcilver-wrapper .te-input-wrapper input {
   height: 18px !important;
    border: 1px solid #D9D9D9;
  }

  .qwikcilver-wrapper .redeem-coupon {
    margin-bottom: 0px;
    font-size: 13px;
    max-width: 127px;
    border-radius: 2px 0 0 2px;
    text-align: left;
    padding: 10px 18px;
    border: 1px solid #949494;
    background-color: #fff;
    color: #000;
    line-height: 1.2;
    padding-left: 35px;
  }

  .close-qsilver-modal {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .redeem-btn {
    height: 40px;
    min-height: 40px;
    min-width: 114px;
    line-height: 21px;
    margin-left: 8px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    background: #197BBD;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px 15px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    text-transform: inherit;
    letter-spacing: 0.08em;
    white-space: normal;
    font-size: 9px;
  }

  .redeem-btn.disabled {
    background: #b6b6b6;
    background-color: #b6b6b6 !important;
  }

  .qwikcilver-checkout {
    margin-top: 36px;
    font-size: 12px;
    width: 145px;
    height: 45px;
    background: #F0F1F2;
    color: #000;
  }

  .ticket-heading {
    font-size: 16x;
    font-weight: 600;
    text-transform: inherit;
    padding-bottom: 15px;
    display: block;
  }

  .multi-redeem {
    display: inline-block;
    font-size: 12px;
    text-decoration: underline;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer;
    color: #BD9219;
  }

  .qwikcilver-error,
  .redeem-error,
  .multiredeem-error,
  .voucher-err {
    display: none;
    font-size: 12px;
    color: #ff0000;
    padding-left: 5px;
    padding-top: 5px;

  }

  .qwikcilver-error {
    margin-bottom: 0px;
  }

  .success-msg,
  .response-msg {
    display: none;
    font-size: 14px;
    color: #BBBBBB;
    float: inherit;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
    margin-top: 12px;
  }

  .response-msg.txError {
    color: #f00;
  }

  .qsilver-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    margin-top: 0 !Important;
    border-radius: unset !Important;
    max-width: 100% !Important;
    width: 100% !Important;
    height: 100% !Important;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: #2f343b;
    font-size: 17px;
    line-height: 2em;
  }

  .qsilver-modal-content {
    background-color: #fff;
    margin: auto;
    padding: 0px;
    width: 30%;
    min-width: 500px;
    min-height: 132px;
    padding: 28px;
    height: auto;
    transform: translateY(25vh);
    margin-bottom: 10vh;
  }

  .qsilver-header {
    position: absolute;
    right: 12px;
    top: 2px;
    font-size: 17px;
  }

  .redemption-wrapper {
    display: none;
    text-align: center;
  }

  .redemption-wrapper .button__wrapper {
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 14px;
  }

  .authenticate-title,
  .redemption-title {
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-align: left;
    padding-bottom: 15px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 35px;
  }

  input.auth-pin {
    background-image: url('https://cdn.shopify.com/s/files/1/0012/0658/3356/files/key.svg?60349');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 8px;
    padding: 10px 15px 10px 35px;
    margin-left: 7px;
  }

  .amount-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .ticket-input {
    margin-bottom: 0px;
    font-size: 13px;
    width: 58px;
    max-width: 100%;
    border-radius: 2px 0 0 2px;
    text-align: left;
    padding: 10px 18px;
    border: 1px solid #383838;
    background-color: #fff;
    color: #383838;
    line-height: 1.2;
  }

  input.amount-redeem {
    background-image: url('https://cdn.shopify.com/s/files/1/0012/0658/3356/files/wallet_3.svg?60345');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 8px;
    padding: 10px 15px 10px 35px;
    font-weight: 700;
  }

  .button__wrapper {
    display: flex;
  }

  .add-coupon {
    display: block;
    text-align: left;
    font-size: 12px;
    float: right;
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #BD9219;
  }

  .multiple-wrapper {
    display: none;
  }

  .multiple-wrapper .multi-couponbox {
    display: block;
    width: 90%;
    margin: 0 auto;
  }


  .flex-coupon input {
    margin-bottom: 15px;
  }

  #coupon-redeem {
    font-size: 11px;
  }

  .remove-coupon {
    width: 56px;
    height: 40px;
    padding: 0;
    background: none;
  }

  .remove-coupon svg {
    width: 21px;
    vertical-align: middle;
    height: 26px;
  }

  .remove-coupon:hover {
    background: none;
  }

  .remove-coupon:disabled {
    opacity: 1;
    pointer-events: none;
  }

  .remove-coupon:disabled svg {
    fill: #e4e4e4 !important;
  }

  .remove-coupon.active svg {
    fill: #000 !important;
  }

  .multiple-boxes,
  .replicate-boxes {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 0px;
  }

  .replicate-boxes.cloned:last-child {
    padding-bottom: 0px;
  }

  .replicate-boxes .te-input-wrapper {
    justify-content: space-between;
  }

  .replicate-boxes .te-input-wrapper input {
    width: 30%;
    margin: 0;
  }

  .multi-red-btn {
    display: flex;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding-top: 25px;
    margin-top: 85px
  }

  #response-wrapper {
    text-align: center;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  input[name="coupon_box"] {
    background-image: url('https://cdn.shopify.com/s/files/1/0015/0765/5739/files/coupon.svg?233');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 8px;
    padding: 10px 15px 10px 35px;
    margin-bottom: 0px;
  }

  .bin__icon {
    fill: #e4e4e4 !important;
  }

  input.error {
    border: 1px solid red !important;
  }

  .multiple-boxes .balance-div {
    display: flex;
    justify-content: flex-end;
    display: none;
  }

  .button__wrapper .redeem-btn {
    font-size: 11px;
  }

  .redeem_amount {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    margin-bottom: 11px;
  }

  .balance-text,
  .balance-info {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .balance-color {
    color: #2196F3;
    font-weight: 700;
  }

  .coupon-bal {
    font-size: 16px;
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    padding-bottom: 7px;
  }

  .color {
    color: #197BBD;
  }

  .success__icon {
    display: none;
    margin: 0 auto;
    fill: #00c243 !important;
  }

  .check_balance {
    font-size: 11px;
    margin-left: 0;
  }

  .replicate-boxes .voucher-err {
    display: inline-block;

  }

  .balance-btn {
    margin-bottom: 0;
    cursor: pointer;
    width: 50%;
    display: block;
    text-align: right;
    font-size: 13px;
    letter-spacing: 1px;
    background: #fff;
    text-decoration: underline;
    color: #000;
  }

  .voucher-bottom {
    margin-bottom: 0px;
  }
  .final-redeem img{
    width:23px;
  }

  .check-balance {
    display: none;
    font-size: 14px;
    text-decoration: underline;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer;
    font-weight: 600;
  }

  .voucher-box {
    display: flex;
    position: relative;
  }

  .notice--error {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .qsilver-modal-content {
      width: 95%;
      min-width: 95%;
      padding: 28px 5px;
    }

    .amount-wrapper {
      display: block;
      width: 100%;
      margin-top: 4px;
    }

    .qwikcilver-wrapper .te-input-wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .qwikcilver-wrapper .te-input-wrapper input {
      width: 35%;
      margin: 6px 0;
    }

    .qwikcilver-wrapper .redeem-coupon {
      width: 100% !important;
    }

    input.auth-pin {
      margin-left: 0;
    }

    .qwikcilver-wrapper {
      padding-top: 25px;
      float: unset;
      width: 96%;
      padding-left: 0;
      padding-right: 0;
      display: block;
      margin: 0 auto;
      margin-top: 80px;
    }

    .qwikcilver-wrapper .redeem-coupon {
      max-width: 100%;
      width: 100%;
    }

    #coupon-redeem {
      display: block;
      margin-top: 6px;
      height: 38px;

    }

    .ticket-input {
      width: 30%;
    }

    .multiple-wrapper .multi-couponbox {
      width: 85%;
    }

    .qsilver-modal-content {
      transform: translateY(10vh);
      margin-bottom: 25vh;
    }

    .check_balance {
      width: 104px;
      height: 40px;
    }

    .multi-red-btn .button__wrapper {
      display: block;
      text-align: center;
    }

  }
  
  .close-qsilver-modal.success{
   display:none;
  }
  *:disabled {
    opacity: 0.25;
  }
  .loader_active{
    opacity: 1;
    pointer-events:none;
  }
</style>
<div id ="quikcilver--content">
  <div class="qwikcilver-wrapper" id="qwikcilver">
    <span class="ticket-heading">Redeem Qwikcilver Gift Card</span>
    <div class="te-input-wrapper">
      <input type="text" name="coupon_box" class="redeem-coupon input-group__field" value=""
        placeholder="Enter Coupon Code" autocomplete="off" maxlength="16">
      <input type="password" name="auth_pin" maxlength="6" class="auth-pin ticket-input input-group__field" value="" placeholder="Enter Pin"
        autocomplete="off">
      <button type="button" id="coupon-redeem" class="btn button redeem-btn">Redeem Now</button>
    </div>
    <span class="voucher-err" style="display: block;"></span>
    <div class="balance-div">
      <span id="link-multi-redeem" class="multi-redeem" style="">Redeem more than one gift card ?</span>
    </div>
    <div id="discountModal" class="qsilver-modal">
      <div class="qsilver-modal-content">
        <div class="qsilver-header">
          <span class="close-qsilver-modal">X</span>
        </div>
        <div class="qsilver-body">
          <div class="redemption-wrapper">

            <span class="coupon-bal balance-info" style="display: inline-block;">Available Balance: <span class="balance-color">₹
                <span class="singlegetbalance"></span></span></span>
            <div class="amount-wrapper">
              <p class="single-balance balance-text">Enter amount you want to redeem :</p>
              <div class="button__wrapper">
                <input type="number" name="coupon_amount" class="amount-redeem ticket-input input-group__field" value="1"
                  placeholder="0" min="1">
                <button type="button" class="btn button redeem-btn final-redeem" data-id="{{checkout.id}}"
                  data-bill="{{checkout.total_price}}" data-customer="{{customer.id}}">Redeem Now</button>
              </div>
              <p class="redeem-error"></p>
            </div>
          </div>
          <div class="multiple-wrapper">
            <span class="redemption-title">Enter Gift Card Details</span>
            <div class="multi-couponbox">
              <div class="multiple-boxes">
                <div class="replicate-boxes">
                  <div class="te-input-wrapper">
                    <input type="text" name="coupon_box" class="redeem-coupon input-group__field" value=""
                      placeholder="Enter Coupon Code" autocomplete="off" maxlength="16">
                    <input type="password" name="auth_pin" class="auth-pin ticket-input input-group__field" value=""
                      placeholder="Enter Pin" autocomplete="off" maxlength="6">
                    <button type="button" class="btn button remove-coupon"><svg class="bin__icon"
                        xmlns="http://www.w3.org/2000/svg" width="20.827" height="25.5" viewBox="0 0 20.827 25.5">
                        <defs>
                          <style></style>
                        </defs>
                        <path class="a"
                          d="M20.762,5.7,20.2,4.012a1.57,1.57,0,0,0-1.491-1.075H13.976V1.4A1.4,1.4,0,0,0,12.58,0H8.246a1.4,1.4,0,0,0-1.4,1.4V2.937H2.119A1.57,1.57,0,0,0,.627,4.012L.064,5.7a1.264,1.264,0,0,0,1.2,1.663h.589l1.3,16.017a2.317,2.317,0,0,0,2.3,2.12h10.2a2.317,2.317,0,0,0,2.3-2.12l1.3-16.017h.326a1.263,1.263,0,0,0,1.2-1.663ZM8.345,1.494h4.137V2.937H8.345Zm8.108,21.766a.815.815,0,0,1-.807.746H5.443a.815.815,0,0,1-.807-.746L3.35,7.363H17.739ZM1.583,5.868l.462-1.384a.078.078,0,0,1,.074-.053H18.708a.078.078,0,0,1,.074.053l.462,1.384Zm0,0"
                          transform="translate(0 0)" />
                        <path class="a"
                          d="M269,180.537h.039a.747.747,0,0,0,.745-.708l.7-13.467a.747.747,0,1,0-1.492-.078l-.7,13.467A.747.747,0,0,0,269,180.537Zm0,0"
                          transform="translate(-254.934 -157.33)" />
                        <path class="a"
                          d="M106.529,179.834a.747.747,0,0,0,.745.706h.041a.747.747,0,0,0,.705-.787l-.735-13.467a.747.747,0,1,0-1.492.081Zm0,0"
                          transform="translate(-100.524 -157.332)" />
                        <path class="a"
                          d="M195,180.54a.747.747,0,0,0,.747-.747V166.326a.747.747,0,0,0-1.494,0v13.467A.747.747,0,0,0,195,180.54Zm0,0"
                          transform="translate(-184.579 -157.332)" />
                      </svg></button>
                  </div>
                  <span class="voucher-err"></span>
                  <span class="add-coupon">+ Add More</span>
                </div>
              </div>
              <p class="multiredeem-error"></p>
              <div class="multi-red-btn">
                <button class="check_balance redeem-btn" type="button">Redeem All</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="response-wrapper" class="qsilver-modal">
      <div class="qsilver-modal-content">
        <div class="qsilver-header">
          <span class="close-qsilver-modal">X</span>
        </div>
        <div class="qsilver-body">
          <svg class="success__icon" xmlns="http://www.w3.org/2000/svg" width="87.804" height="87.804"
            viewBox="0 0 87.804 87.804">
            <defs>
              <style></style>
            </defs>
            <path class="a"
              d="M43.9,0A43.9,43.9,0,1,0,87.8,43.9,43.952,43.952,0,0,0,43.9,0Zm0,84.145A40.243,40.243,0,1,1,84.145,43.9,40.289,40.289,0,0,1,43.9,84.145Z" />
            <path class="a"
              d="M123.2,149.726l-23.145,23.145L87.618,160.433a1.338,1.338,0,0,0-1.893,1.893L99.11,175.709a1.338,1.338,0,0,0,1.893,0l24.091-24.091a1.338,1.338,0,0,0-1.893-1.893Z"
              transform="translate(-61.7 -118.724)" />
          </svg>
          <p class="response-msg"></p>
          <button id="qwikcilver-checkout" type="button" class="btn button redeem-btn qwikcilver-checkout">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.$ = Checkout.$;
  let snippet = ""; //Storing snippet html data
  $(function(){
    //card_details
    let card_details = [];
    let gift_tag  =  false;
    let giftcard = false;
    function validateCart(){
      {% for item in checkout.line_items %}
      {% assign product_type = line_item.product.type | upcase %}
        {% if product_type == "GIFT CARD" or product_type == "QWIKCILVER_GIFT_CARD" %}
          giftcard = true;
        {% endif %}
      {% endfor %}
      
      if(giftcard == false){
        appendContent();
      }
   }//end of validateCart
    
   function appendContent(){
      snippet = $('#quikcilver--content').html();
      $('#qwikcilver').appendTo("#order-summary .fieldset").show();
    }
    
    validateCart();
    
    let shop_url = "{{shop.url | split: 'https://' }}"; //shop url 
    
    //flag variable for adding or refreshing gift card
    tag_flag = function(){
      if($(document).find('.tag').length >= 1){
       gift_tag = true;
      }
    }

    //add Index for duplications validation
    function addIndex() {
      $('.replicate-boxes').each(function (index) {
        $input = $(this).find(".redeem-coupon");
        $input.attr("id", index);
      })
    }
    //add coupen
    $(document).on('click', '.add-coupon', function () {
    $('.replicate-boxes').last().clone().addClass("cloned").appendTo(".multiple-boxes");
      var newBox = $('.replicate-boxes.cloned').last();
      $(newBox).find('input').val("");
      $(newBox).find('input').removeClass("error");
      $(newBox).find('.balance-text').hide();
      $(newBox).find('.voucher-err').hide();
      var getLatestLen = $('.replicate-boxes').length;
      if (getLatestLen > 1) {
        $('.remove-coupon').addClass("active").prop("disabled", false);
      }
      else {
        $('.remove-coupon').removeClass("active").prop("disabled", true);
      }
      $('.replicate-boxes').find(".add-coupon").hide();
      if(getLatestLen < 5){
      $('.replicate-boxes').last().find(".add-coupon").show();
      }
      else{
      $('.replicate-boxes').find(".add-coupon").hide();
      }
      addIndex();
    });

    //remove coupen
    $(document).on('click', '.remove-coupon', function () {
      $(this).parents('.replicate-boxes').remove();
      var getLength = $('.replicate-boxes').length;
      if (getLength > 1) {
        $('.remove-coupon').addClass("active").prop("disabled", false);
      }
      else {
        $('.remove-coupon').removeClass("active").prop("disabled", true);
      }
      $('.replicate-boxes').last().find(".add-coupon").show();
    });

    // single coupen redeem popup
    $(document).on('click', '#coupon-redeem', function () {
      $('.redeem-error').hide();
      $redeem = $(this);
      $redeem_text = $(this).text();
      var redeemVal = $(this).siblings('input[name="coupon_box"]').val();
      var redeemPin = $(this).siblings('input[name="auth_pin"]').val();
      if (redeemVal == "" || redeemVal == null) {
        $(this).parents(".te-input-wrapper").siblings(".voucher-err").html("Please enter Gift Card code.").show();
        $(this).siblings('input[name="coupon_box"]').addClass("error");
      }
      else if (redeemPin == "" || redeemPin == null) {
        $(this).parents(".te-input-wrapper").siblings(".voucher-err").html("Please pin.").show();
        $(this).siblings('input[name="auth_pin"]').addClass("error");
      }
      else {
        $(this).parents(".te-input-wrapper").siblings(".voucher-err").hide();
        $(this).text("Verifying");
        var settings = {
          "url": "https://qwikcilver.marmeto.com/giftcards/check_balance",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({ "store": shop_url, "card_number": redeemVal, "card_pin": redeemPin }),
        };

        $.ajax(settings).done(function (data) {
          $('.singlegetbalance').text(data.data.balance);
          $('.coupon-bal').show();
          $('.redemption-wrapper').show();
          $('.multiple-wrapper').hide();
          $('.redeem-btn.final-redeem').attr("id","single-redeem");
          showModal();
          $redeem.text($redeem_text);
        }).fail(function (data) {
          if (data.responseJSON) {
            $('.voucher-err').text(data.responseJSON.message).show();
          }
          else {
            $('.voucher-err').text("Something went wrong. Please try again later!").show();
          }
          $redeem.siblings("input").addClass("error");
          $redeem.text($redeem_text);
        });
      }
    });
  
    let formvalid = false; //use only for multiple form validation

 // multiple voucher validation and check balance
 $(document).on().on('click','.check_balance', function () {
      let total_balance = 0;
      $checkbalance_text = $(this).text();
      $checkbalance = $(this);
      $('.replicate-boxes').removeClass("error");
      $('.replicate-boxes').each(function () {
        let box = $(this);
        var code = $(this).find('input[name="coupon_box"]').val();
        var pin = $(this).find('input[name="auth_pin"]').val();
        let balance = 0;
        if (code == "" || code == null) {
          $(this).find('.voucher-err').text("Please Enter Card Number").show();
          $(this).find('input[name="coupon_box"]').addClass("error");
          $(this).addClass("error");
          

        }
        else if (pin == "" || pin == null) {
          $(this).find('.voucher-err').text("Either Pincode").show();
          $(this).find('input[name="auth_pin"]').addClass("error");
          $(this).addClass("error");
          
        }
        else {
          $checkbalance.text("Verifying");
          $('.multiredeem-error').hide();
          var settings = {
            "url": "https://qwikcilver.marmeto.com/giftcards/check_balance",
            "method": "POST",
            "headers": {
              "Content-Type": "application/json"
            },
            "data": JSON.stringify({ "store": shop_url, "card_number": code, "card_pin": pin }),
          };
 
            $.ajax(settings).done(function (data) {
              balance = data.data.balance;
              total_balance += balance;
              formvalid = true;
              let details = {
                "card_number": code,
                "card_pin": pin,
                "balance": balance
              }
              card_details.push(details);

              $('.redeem-btn.final-redeem').attr("id","multiple-redeem");
            }).fail(function (messege) {
              $checkbalance.text($checkbalance_text)
              box.addClass("error");
              box.find("input").addClass("error");
              if (messege.responseJSON) {
                box.find('.voucher-err').text(messege.responseJSON.message).show();
              }
              else {
                box.find('.voucher-err').text("Something went wrong. Please try again later!").show();
              }

            }); 

       }
      })
      setTimeout(function(){
        if($('.replicate-boxes').hasClass("error")){
          $checkbalance.text($checkbalance_text)
           }
           else{
          $('#balance_amount').text(total_balance);
          $('.singlegetbalance').text(total_balance);
          $('.coupon-bal').show();
          $('.redemption-wrapper').show();
          $('.multiple-wrapper').hide();
        }
      }, 2000);
    });


    //multiple voucher redeem
    $(document).on('click', '#multiple-redeem', function () {
      tag_flag();
      $btn = $(this);
      $data = $(this).html();
       $('.redeem-error').hide();
      $(this).addClass("loader_active");
      $(this).html('<img class="ajax-loader" src="{{'spinner.gif' | asset_url}}"/>');
      $(this).prop("disabled",true);
      let customer = $(this).attr("data-customer");
      let checkout = {{ checkout.id }};
      let bill = {{ checkout.total_price | divided_by: 100}};
      var amount = parseInt($('input[name="coupon_amount"]').val());
        var settings = {
          "url": "https://qwikcilver.marmeto.com/giftcards/redeem",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({ "store": shop_url, "card_details": card_details, "checkout_id": checkout, "customer_id": customer, "redemption_amount": amount, "bill_amount": bill }),
        };
   
        $.ajax(settings).done(function (response) {
          $btn.html($data);
          $btn.removeClass("loader_active");
           $(this).prop("disabled",false);
          $('#checkout_reduction_code').val(response.gift_card.code);
          $('.response-msg').html("<p class='redeem_amount'>Rs " + response.amount_redeemed + "</b> Redemmed Successfully</p>. This discount will be applied automatically on the checkout page.").addClass("txSuccess").show();
          $('.success__icon').show();
          $('.qwikcilver-checkout').show();
          $('#response-wrapper').show();
          $('#discountModal').hide();
          $('.success-msg').show();
          $('.close-qsilver-modal').addClass("success");
          }).fail(function (response) {
          $btn.html($data);
          $btn.removeClass("loader_active");
          $btn.prop("disabled",false);
          if (response.responseJSON) {
            if (response.responseJSON.errored_redemptions) {
             $('.redeem-error').html(response.responseJSON.errored_redemptions[0].message).addClass("txError").show();
            }
            else if (response.responseJSON.message) {
              $('.redeem-error').html(response.responseJSON.message).addClass("txError").show();
            }
            else if(response.responseText){
             $('.redeem-error').html(response.responseText).addClass("txError").show();
            }
            else{
            $('.redeem-error').html("Something went wrong.Please try again later").addClass("txError").show();
            }
          }
          else {
            $('.redeem-error').html("Oops something went wrong. Please try again later").addClass("txError").show();
          }
          });
       
   }); //multiple voucher redeem ends


  // single coupen redeem
  $(document).on('click', '#single-redeem', function () {
    tag_flag();
    $btn = $(this);
    $data = $(this).html();
     $('.redeem-error').hide();
    $(this).addClass("loader_active");
    $(this).html('<img class="ajax-loader" src="{{'spinner.gif' | asset_url}}"/>');
    $(this).prop("disabled",true);
    let available_balance = parseInt($('.redemption-wrapper').find(".singlegetbalance").text());
    var card_number = $('input[name="coupon_box"]').val();
    let checkout_id = {{ checkout.id }};
    let bill = {{ checkout.total_price | divided_by: 100}};
    let customer = $(this).attr("data-customer");
    var pin = $('input[name="auth_pin"]').val();
    var amount = parseInt($('input[name="coupon_amount"]').val());
      var settings = {
        "url": "https://qwikcilver.marmeto.com/giftcards/redeem",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "data": JSON.stringify({
          "store": shop_url, "card_details": [{ "card_number": card_number, "card_pin": pin, "balance": available_balance }], "redemption_amount": amount,
          "checkout_id": checkout_id, "customer_id": customer, "bill_amount": bill
        }),
      };

      $.ajax(settings).done(function (response) {
        $btn.html($data);
        $btn.removeClass("loader_active");
        $btn.prop("disabled",false);
        $('#checkout_reduction_code').val(response.gift_card.code);
        $('.success__icon').show();
        $('.response-msg').html("<p class='redeem_amount'>Rs " + response.amount_redeemed + "</b> Redemmed Successfully</p>. This discount will be applied automatically on the checkout page.").addClass("txSuccess").show();
        $('.qwikcilver-checkout').show();
        $('#response-wrapper').show();
        $('#discountModal').hide();
        $('.success-msg').show();
        $('.close-qsilver-modal').addClass("success");
        localStorage.setItem('checkoutID', checkout_id);
        localStorage.setItem('giftcardID', response.gift_card.code);
      }).fail(function (response) {
        $btn.html($data);
        $btn.removeClass("loader_active");
        $btn.prop("disabled",false);
          if (response.responseJSON) {
            if (response.responseJSON.errored_redemptions) {
             $('.redeem-error').html(response.responseJSON.errored_redemptions[0].message).addClass("txError").show();
            }
            else if (response.responseJSON.message) {
              $('.redeem-error').html(response.responseJSON.message).addClass("txError").show();
            }
            else{
            $('.redeem-error').html("Something went wrong.Please try again later").addClass("txError").show();
            }
          }
          else if(response.responseText){
            $('.redeem-error').html(response.responseText).addClass("txError").show();
          }
          else {
            $('.redeem-error').html("Oops something went wrong. Please try again later").addClass("txError").show();
          }
      }); //end of ajax

  });
    

  //hide modal
  function hideModal() {
    $('#discountModal').hide();
    $('#response-wrapper').hide();
  }

  //Redemption confirm click
  $(document).on('click', '#qwikcilver-checkout', function () {
    if(gift_tag == false){
      $('#checkout_reduction_code').parents('form').submit();
    }
    else{
      if (window.OrderSummaryUpdater) {
        OrderSummaryUpdater.prototype.refresh();
      }
    }
    $('.qwikcilver-wrapper input').val("");
    $('#checkout_reduction_code').val("");
    hideModal();
  });

  //multiple redeem popup
  $(document).on('click', '#link-multi-redeem', function () {
    $('.multiple-wrapper').show();
    $('.redemption-wrapper').hide();
    $('.voucher-err').hide();
    $('.redeem-error').hide();

    if ($(".replicate-boxes:not(.cloned)").length <= 0) {
      $('.replicate-boxes.cloned').first().removeClass('cloned');
    }
    $('.replicate-boxes.cloned').remove();
    $('.remove-coupon').prop("disabled", true);
    $('.multiple-boxes input').val("");
    showModal();
  });


  //Amount Validation
    $(document).on('keyup', '.redemption-wrapper .amount-redeem', function () {
    let available_balance = parseInt($('.redemption-wrapper').find(".singlegetbalance").text());
    let redeem_balance = parseInt($('.amount-redeem').val());

    let bill = parseInt($('.payment-due__price').attr("data-checkout-payment-due-target")) / 100;
      console.log(bill);
    if (redeem_balance > available_balance) {
      $('.redeem-error').text("please Enter amount lesser than Rs " + available_balance).show();
      $('.redeem-btn').prop("disabled", true);
    }
    else if (redeem_balance == '' || redeem_balance == 0 || !redeem_balance) {
      $('.redeem-error').text("please Enter valid amount").show();
      $('.redeem-btn').prop("disabled", true);
    }
    else if(redeem_balance > bill){
      $('.redeem-error').text("please Enter amount lesser than Rs " + bill).show();
      $('.redeem-btn').prop("disabled", true);
    }
    else {
      $('.redeem-error').hide();
      $('.redeem-btn').prop("disabled", false);
    }

  });
    

  //Hiding error on key change
  $(document).on('keyup', '.te-input-wrapper input', function () {
    if ($(this).hasClass('error')) {
      $(this).removeClass("error");
    }
    $(this).parents(".te-input-wrapper").siblings(".voucher-err").hide();
  });

  //Duplicate validation
  $(document).on('change', '.replicate-boxes .redeem-coupon', function () {
    var $current = $(this);
    $('.replicate-boxes').each(function () {
      $input = $(this).find(".redeem-coupon");
      if ($input.val() == $current.val() && $input.attr('id') != $current.attr('id')) {
        $(this).find('.voucher-err').text("card already exist").show();
        $(this).find('.auth-pin ').val("").prop('disabled', true);
      }
    });
  });
    
    
  //show modal
  function showModal() {
    $(window).scrollTop(0);
    $('#discountModal').show();
  }

  //popup close
  $(document).on('click', '.close-qsilver-modal', function () {
    if (window.OrderSummaryUpdater) {   //refresh order summary section
      OrderSummaryUpdater.prototype.refresh();
    }
    hideModal();
    $('.redeem-btn').prop("disabled", false);
    $('.qwikcilver-wrapper input').val("");
    $('#checkout_reduction_code').val("");
  });
    
});
  
  //fix for snippet removal on page change
  $(document).on('page:change',function(){
    let giftcard = false;
    function validateCart(){
    $.getJSON('/cart.json', function(data){
      $.each(data.items, function (index, value) {
        let type = (value.product_type).toUpperCase();
        if(type == "GIFT CARD" || type == "QWIKCILVER_GIFT_CARD" ){
          giftcard = true;
          $('.edit_checkout .tag__button').click();
        }
        if(giftcard == false){
          appendContent();
        }
      }) //end of each
    }) //end of fetch
//     if(giftcard == false){
//       appendContent();
//     }
   }
    function appendContent(){
      $('#qwikcilver').remove();
      $(snippet).appendTo("#order-summary .fieldset").show();
    }
    validateCart();
  });
  
</script>
