<div class="themevale_MultiCategory_wrapper">
    <div class="themevale_MultiCategory">
        <nav id="navPages" style="display: none;">
            {%- assign category_filter = settings.category_filter -%}
            {% if linklists[category_filter].links.size > 0 %}
                <ul>
                    {% for link in linklists[category_filter].links %}
                    <li {{ link.child_active }} {% if link.active %}class="active"{% endif %}>
                        <a href="{{ link.url}}" title=" {{ link.title }}" >
                            {% render 'multilang' with link.title %}
                        </a>
                        {% if linklists[link.handle] != empty %}
                            {% assign link_child = link.handle %}
                            <ul>
                                {% for link_child_item in linklists[link_child].links %}
                                <li {{ link_child_item.child_active }} {% if link_child_item.current %} class="active"{% endif %}>
                                    <a href="{{ link_child_item.url }}" data-value="{{ link_child_item.title | handle }}">
                                        {% render 'multilang' with link_child_item.title %}
                                    </a>

                                    {% if linklists[link_child_item.handle] != empty %}
                                        {% assign link_child = link_child_item.handle %}
                                        <ul>
                                            {% for link_child_2 in linklists[link_child].links %}
                                            <li {% if link_child_2.current %} class="active"{% endif %}>
                                                <a href="{{ link_child_2.url }}" data-value="{{ link_child_2.title | handle }}">
                                                    {% render 'multilang' with link_child_2.title %}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
        <div class="themevale_multilevel-category-filter">
            <div class="form-label">
                {% if settings.category_filter_title != blank %}
                    <label>{% render 'multilang' with settings.category_filter_title %}</label>
                {% endif %}
                {% if settings.category_filter_des != blank %}
                    <p>{% render 'multilang' with settings.category_filter_des %}</p>
                {% endif %}
            </div>      
            <div class="form-wrapper">
                <div class="form-field">
                    <label class="form-label">{% render 'multilang' with settings.category_filter_label1 %}</label>
                    <span class="da-force-up form-select form-control">{% render 'multilang' with settings.category_filter_label1 %}</span>
                    <div class="dropdown-up" id="themevale_select-level-1">
                        <ul>
                            <li class="hide1" onclick="changeOptionAll(1)">{% render 'multilang' with settings.category_filter_label1 %}</li>
                        </ul>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-label">{% render 'multilang' with settings.category_filter_label2 %}</label>
                    <span class="da-force-up form-select form-control">{% render 'multilang' with settings.category_filter_label2 %}</span>
                    <div class="dropdown-up" id="themevale_select-level-2">
                        <ul>
                            <li class="hide1" onclick="changeOptionAll(2)">{% render 'multilang' with settings.category_filter_label2 %}</li>
                        </ul>
                    </div>
                </div>
                <div class="form-field">
                    <label class="form-label">{% render 'multilang' with settings.category_filter_label3 %}</label>
                    <span class="da-force-up form-select form-control">{% render 'multilang' with settings.category_filter_label3 %}</span>
                    <div class="dropdown-up" id="themevale_select-level-3">
                        <ul>
                            <li class="hide1" onclick="changeOptionAll(3)">{% render 'multilang' with settings.category_filter_label3 %}</li>
                        </ul>
                    </div>
                </div>
                <div class="group-button">
                    <a class="btn btn--primary" href="javascript:void(0)" id="themevale_select-browse" {% if settings.enable_multilang %}data-translate="general.search.placeholder"{% endif %}>{{ 'general.search.placeholder' | t }}</a>
                    <a class="btn btn--primary" href="javascript:void(0)" id="themevale_clear-select">
                        <svg id="icon-refresh" class="icon icon--big" viewBox="0 0 16 16">
                            <path d="M2.083,9H0.062H0v5l1.481-1.361C2.932,14.673,5.311,16,8,16c4.08,0,7.446-3.054,7.938-7h-2.021 c-0.476,2.838-2.944,5-5.917,5c-2.106,0-3.96-1.086-5.03-2.729L5.441,9H2.083z" />
                            <path d="M8,0C3.92,0,0.554,3.054,0.062,7h2.021C2.559,4.162,5.027,2,8,2c2.169,0,4.07,1.151,5.124,2.876 L11,7h2h0.917h2.021H16V2l-1.432,1.432C13.123,1.357,10.72,0,8,0z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="loading" style="display: none;">
                <img src="{{ 'loading.svg' | asset_url }}" alt="">
            </div>
        </div>
    </div>
</div>
