<div class="page-wrapper stand-mixer-mainWrapper">
  <!-- Header Start here -->
  <div class="page-header stand-mixer-header">
    <div class="header_content">
      <div class="container">
        <!-- Logo Section Start -->
        <div class="col-md-3 col-sm-6 col-xs-6 logo_wrapper">
          <a href="/">
            <img src="{{'header_logo_revo.png' | file_url }}' | file_url }}" alt="Wonderchef" title="Wonderchef">
          </a>
        </div>
        <!-- Logo Section Close -->
        <!-- Header Social Icons Section Start -->
        <div class="col-md-2 col-sm-6 col-xs-6 pull-right social_wrapper">
          <div class="header_social_icons">
            <ul>
             <li>
                  <a href="https://www.facebook.com/WonderchefLife/" target="_blank">
                    <img src="{{'revo_facebook.png' | file_url }}" alt="Facebook" title="Facebook">
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/wonderchef" target="_blank">
                    <img src="{{'new_revo_twitter.png' | file_url }}" alt="Twitter" title="Twitter">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/wondercheflife" target="_blank">
                    <img src="{{'revo_instagram.png' | file_url }}" alt="Instagram" title="Instagram">
                  </a>
                </li>
            </ul>
          </div>
        </div>
        <!-- Header Social Icons Section Close -->
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
    </div>
  </div>
  <!-- Header Close here -->
  <!-- Main Banner Section start -->
  <div class="mainBanner-wrapper">
    <div class="banner-overly-bg">
      <div class="container">
        <div class="banner-content-wrapper">
          <div class="banner-text">
            <h2>
              REVO - The STAND MIXER for every home
            </h2>
            <h4>
              An affordable Atta Kneader for everyday use
            </h4>
          </div>
          <div class="banner-img">
            {% unless customer.email contains 'manish.wonderchef@gmail.com'%}
                    	<img src="{{'stand_mixer_for_ref.png' | file_url }}" alt="Stand Mixer" >
            {%endunless%}
<!--   360* rotating     -->
            {% if customer.email contains 'manish.wonderchef@gmail.com'%}
            
            <div
                 class="yofla360 yofla360__instance yofla360--pureWhite yofla360--controls-below"
                 data-yofla360='{"path":"","id":"6STCK6Bhxl"}'
                 >
              <div class="yofla360__images"> </div>
              <div class="yofla360__controls">
                <button class="yofla360__button yofla360__button--play" title="toggle play">
                  <span class="button__icon button__icon--play" aria-label="play"></span>
                  <span class="button__text" aria-hidden="true">Play</span>
                </button>

                <button class="yofla360__button yofla360__button--left" title="step left">
                  <span class="button__icon button__icon--left" aria-label="step left"></span>
                  <span class="button__text" aria-hidden="true">Left</span>
                </button>

                <button class="yofla360__button yofla360__button--right" title="step right">
                  <span class="button__icon button__icon--right" aria-label="step right"></span>
                  <span class="button__text" aria-hidden="true">Right</span>
                </button>

                <button class="yofla360__button yofla360__button--fullscreen yofla360__button--hidden" title="toggle fullscreen">
                  <span class="button__icon button__icon--fullscreen" aria-label="toggle fullscreen"></span>
                  <span class="button__text" aria-hidden="true">Fullscreen</span>
                </button>

              </div>
              <div class="yofla360__preloader">
                <div class="yofla360__preloader-bar">
                </div>
                <div class="yofla360__preloader-text">
                </div>
              </div>
              <div class="yofla360__start-button"> </div>
            </div>
            
            <style>
              div.yofla360{
                width: 500px;
                height: 538px;
                margin: 0 auto;
              }

              .yofla360{
                position: relative;
                border: 0px;
                min-width: 300px;
                min-height: 300px;
                max-width: 100%;
                background: white;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-tap-highlight-color: transparent;
              }

              .yofla360.yofla360--noborder{
                border: 0px;
              }

              .yofla360:fullscreen {
                width: 100%;
                height: 100%;
              }

              .yofla360:-webkit-full-screen {
                width: 100vw;
                height: 100vh;
              }

              .yofla360:-moz-full-screen {
                width: 100vw;
                height: 100vh;
              }

              .yofla360:-ms-fullscreen {
                width: 100vw;
                height: 100vh;
              }

              .yofla360:fullscreen {
                width: 100vw;
                height: 100vh;
              }

              .yofla360--controls-below .yofla360__images,
              .yofla360__images{
                position: absolute;
                z-index: 0;
                background: none;
                width: 100%;
                height: calc(100% - 40px); /* height of controls */
                display: block;
                overflow: hidden;
              }

              .yofla360--controls-over .yofla360__images{
                height: 100%;
              }

              .yofla360__controls{
                position: absolute;
                z-index: 1;
                bottom: 3px;
                height: 27px;
                width: 100%;
                background: none;
                display: none;
              }

              .yofla360__button {
                width: 22px;
                height: 22px;
                display: block;
                border: none;
                background: none;
                padding: 0;
                cursor: pointer;
                position: absolute;
                outline: none;
              }

              .yofla360__button .button__icon {
                display: block;
                width: 100%;
                height: 100%;
              }

              .yofla360__button .button__text {
                display: none;
              }

              .yofla360__button.yofla360__button--hidden {
                display: none;
              }

              .yofla360__button.yofla360__button--play {
                left: 5px;
              }

              .yofla360__button.yofla360__button--left {
                left: 32px;
              }

              .yofla360__button.yofla360__button--right {
                left: 59px;
              }

              .yofla360__button.yofla360__button--fullscreen {
                right: 5px;
              }


              .button__icon--play {
                background: no-repeat url(https://cdn.shopify.com/s/files/1/0104/9211/7092/files/button-play.png?10056);
              }

              .yofla360__button:hover .button__icon--play {
                background: no-repeat url(assets/button-play-over.png);
              }

              .button__icon--left {
                background: no-repeat url(https://cdn.shopify.com/s/files/1/0104/9211/7092/files/button-left.png?10056);
              }

              .yofla360__button:hover .button__icon--left {
                background: no-repeat url(assets/button-left-over.png);
              }

              .button__icon--right {
                background: no-repeat url(https://cdn.shopify.com/s/files/1/0104/9211/7092/files/button-right.png?10056);
              }

              .yofla360__button:hover .button__icon--right {
                background: no-repeat url(assets/button-right-over.png);
              }

              .button__icon--fullscreen {
                background: no-repeat url(assets/button-fullscreen.png);
              }

              .yofla360__button:hover .button__icon--fullscreen {
                background: no-repeat url(assets/button-fullscreen-over.png);
              }


              .yofla360__preloader {
                position: absolute;
                top: calc(50% - 20px);

                height: 30px;
                width: calc(100% - 20px);

                margin-left: 10px;
                background: gray;
                display: none;

                opacity: 0.8;
                border: 1px solid gray;
              }

              .yofla360__preloader .yofla360__preloader-bar{
                position: absolute;
                z-index: 0;
                background: #eee;
                height: 100%;
                width: 0%;
              }

              .yofla360__preloader .yofla360__preloader-text {
                position: absolute;
                z-index: 1;
                color: #222;
                font-size: 20px;
                font-family: sans-serif;
                line-height: 32px;
                display: inline-block;
                width: 100%;
                text-align: center;
              }

              .yofla360__start-button {
                height: 100px;
                width: 100px;
                background: no-repeat url(assets/button-start.png);
                background-size: 100%;
                position: absolute;
                top: calc(50% - 50px);
                left: calc(50% - 50px);
                display: none;
                cursor: pointer;
              }

              .yofla360__start-button:hover {
                filter: brightness(1.2);
              }

              /**
              * Pure White Theme
              */

              .yofla360--pureWhite .yofla360__button {
                width: 25px;
                height: 25px;
              }

              body::after{
                position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
                content:url(assets/button-left-over.png) url(assets/button-play-over.png) url(assets/button-right-over.png) url(assets/button-fullscreen-over.png);
              }

            </style>

            <script src="{{ 'yofla360.js' | asset_url }}"></script>
            <script src="{{ 'config.js' | asset_url }}"></script>
            {%endif%}
            <!--   360* rotating     -->
                       
                    </div>
        </div>
      </div>

      <div class="clearfix" style="clear: both;">

      </div>
    </div>
    <div class="banner-white-bg">
      <div class="container">
        <div class="buttons">
          <!--  <ul>
<li class="arrow arrow-prev">
<a href="#">
<img src="https://d5nnzdfbdy5p5.cloudfront.net/wysiwyg/prev-arrow.png" />
</a>
</li>
<li>
<a href="#">
<img src="https://d5nnzdfbdy5p5.cloudfront.net/wysiwyg/play_pause.png" />
</a>
</li>
<li class="arrow arrow-next">
<a href="#">
<img src="https://d5nnzdfbdy5p5.cloudfront.net/wysiwyg/next-arrow.png" />
</a>
</li>
</ul> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Main Banner Section close -->
  <!-- Here why Its Work Section  Start -->
  <section class="itWorks-mainWrapper">
    <div class="container">
      <div class="title-wrap">
        <h3>
          Here's why
        </h3>
        <h2>
          It works.
        </h2>
        <div class="title-icon-box">
            <img src="{{'icon.png' | file_url }}" alt="Icon" >
        </div>
      </div>
      <div class="content-box">
        <p>
         REVO Stand Mixer & Dough Kneader offers the performance of a powerful and expensive stand mixer at a really affordable price point. This is made possible thanks to 3 innovations. Moving Head creates the effect of Planetary Motion, which ensures effective mixing of dough, eggs, cream, etc.
        </p>
        <p>
          The patented Red Spatula ensures that the dough does not stick on the sides and gets kneaded properly to help make fabulous fluffy Rotis everytime. Rotating Stainless Steel Bowl completes the trinity of unique features that give REVO the performance usually found in mixers that cost 5 to 7 times more.
        </p>
      </div>
      <div class="preBook-btn-wrapper">
<!--         <div class="pre-book">
          <h4>
            <a href="#preBookFormWrapper">
              Pre-Book your REVO now&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </h4>
        </div> -->
        <div class="watch-action">
          <a href="#" type="button" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/8SZbibKeL4c" data-target="#watchAction">
            Watch it in action
            <span>
              <img src="{{'play-button.png' | file_url }}" alt="Youtube">
            </span>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="watchAction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>        
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8SZbibKeL4c" id="actionVideo"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="clearfix" style="color: both;">

    </div>
  </section>
  <!-- Here why Its Work Section close -->
  <!-- Tap to Explore Section start -->
  <section class="tapExplore-wrapper">
    <div class="overly-bg">
      <div class="container">
        <div class="explore-wrap">                  
          <div class="col-sm-6 exploreText-wrap">
            <div class="showHide">
              <h3 style="text-align: center;">
                <span>
                  Tap
                </span>
                <span>
                 
                   <img src="{{'plus.png' | file_url }}" alt="Icon" width="25" >
                </span>
              </h3>
              <h2>
                to explore
              </h2>
            </div>
            <div class="exploreInfoWrapper col-sm-12 pull-left">
              <div class="panelhandleInfo">
                <h2>
                  Speed Control
                </h2>
                <p>

                </p>
                <p>
                  Starts slowly and works its way up to the most suitable speed as per requirement<br /><br />
                </p>
              </div>
              <div class="panelheadInfo">
                <h2>
                  Moving Head
                </h2>
                <p>

                </p>
                <p>
                  Unique moving head to make consistent dough for perfect rotis everyday<br /><br />
                </p>
              </div>
              <!-- <div class="panelmiddleInfo">
3) This patented innovation ensures the dough is not left sticking to the sides of the bowl, but is brought back into action repeatedly. This gives your cakes, rotis and other creations that professional touch This patented innovation ensures the dough is not left sticking to the sides of the bowl, but is brought back into action repeatedly. This gives your cakes, rotis and other creations that professional touch
</div> -->
              <div class="panelbowlInfo">
                <h2>
                  Rotating Bowl
                </h2>
                <p>

                </p>
                <p>
                  Rotating action of the bowl mixes & whips to the perfect consistency<br /><br />
                </p>
              </div>
            </div>
          </div>

         
           <div class="col-sm-6 exploreImage-wrap pull-right">
             <img src="{{'mixie.png' | file_url }}" alt="Tap  TO EXPLORE">
              <div class="explorePlusButtonwrap">
                <span class="handle">
                  <img class="plusIcon" src="{{'plus.png' | file_url }}" alt="Plus" />
                  <img class="plusHoverIcon" src="{{'plus_customised.png' | file_url }}" alt="Plus Active" />
                </span>
                <span class="head">
                 <img class="plusIcon" src="{{'plus.png' | file_url }}" alt="Plus" />
                  <img class="plusHoverIcon" src="{{'plus_customised.png' | file_url }}" alt="Plus Active" />
                </span>
                <!-- <span class="middle">
<img class="plusIcon" src="https://d5nnzdfbdy5p5.cloudfront.net/wysiwyg/plus.png" alt="" />
<img class="plusHoverIcon" src="https://d5nnzdfbdy5p5.cloudfront.net/wysiwyg/plus_customised.png" alt="" />
</span> -->
                <span class="bowl">
                  <img class="plusIcon" src="{{'plus.png' | file_url }}" alt="Plus" />
                  <img class="plusHoverIcon" src="{{'plus_customised.png' | file_url }}" alt="Plus Active" />
                </span>
              </div>
            </div>
          <!-- <div id="image_map"> 
<map name="map_example"> 
<area id="test1Show" href="#test1" alt="Facebook"shape=poly coords="30,100, 140,50, 290,220, 180,280"> 
<area id="test2Show" href="#test2" alt="Wikipedia Social Media Article" shape=poly coords="190,75, 200,60, 495,60, 495,165, 275,165"> 
</map> 
<img src="https://html.com/wp-content/uploads/image_map_example.jpg" alt="image map example" width=500 height=332 usemap="#map_example"> 
</div>  -->
          <!-- <script type="text/javascript">
require(['jquery', 'bootstrap'], function($){ 
jQuery("#test1").hide();
jQuery("#test2").hide();

jQuery("#test1Show").click(function(ev){
jQuery("#test1").show();
jQuery("#test2").hide();

});
jQuery("#test2Show").click(function(ev){
jQuery("#test2").show();
jQuery("#test1").hide();

});
});
</script> -->
        </div>
      </div>
    </div>
    <div class="clearfix" style="clear: both;">

    </div>
  </section>
  <!-- Tap to Explore Section Section close -->
  <!-- Mix Parts Section Section start -->
  <section class="mixParts-mainWrapper">
    <div class="container">
      <div class="parts-wrap">                
        <div class="col-sm-6 parts-img">
          <img src="{{'moving_head.jpg' | file_url }}" alt>
        </div>
        <div class="col-sm-6 parts-content-wrapper">
          <div class="title-box">
            <h2>
              moving head
            </h2>
          </div>
          <div class="content-box">
            <p>
             Truly an innovation from Wonderchef the moving head ensures complete coverage of the ingredients inside the large bowl, so that no part of that dough or cream is left untouched
            </p>
          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
      <div class="parts-wrap">
        <div class="col-sm-6 parts-img">
          <img src="{{'red_spatula.png' | file_url }}" alt>
        </div>
        <div class="col-sm-6 parts-content-wrapper">
          <div class="title-box">
            <h2>
              red spatula
            </h2>
          </div>
          <div class="content-box">
            <p>
              This patented innovation ensures the dough is not left sticking to the sides of the bowl, but is scraped & brought back into action repeatedly. This kneads the dough properly which gives your cakes, rotis and other creations that professional touch
            </p>
          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
      <div class="parts-wrap">                
        <div class="col-sm-6 parts-img">
           <img src="{{'rotating_bowl.png' | file_url }}" alt>
        </div>
        <div class="col-sm-6 parts-content-wrapper">
          <div class="title-box">
            <h2>
              rotating
            </h2>
            <h2>
              stainless
            </h2>
            <h2>
              steel bowl
            </h2>
          </div>
          <div class="content-box">
            <p>
              The rotating bowl further enhances the effect of powerful mixers and moving head, and gives you the performance of an expensive stand mixer which may otherwise cost 5-7 times more


            </p>
          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
      <div class="parts-wrap">
        <div class="col-sm-6 parts-img">
          <img src="{{'dough_hooks.png' | file_url }}" alt>
        </div>
        <div class="col-sm-6 parts-content-wrapper">
          <div class="title-box">
            <h2>
              dough hooks
            </h2>
          </div>
          <div class="content-box">
            <p>
              Help you knead dough for every need – from soft Roti Atta to stiff baguette dough, whole grain rolls to pliant pizza dough and cinnamon buns to garlic bread dough. The options are limitless
            </p>
          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
      <div class="parts-wrap">
        <div class="col-sm-6 parts-img">
         <img src="{{'beaters.png' | file_url }}" alt>
        </div>
        <div class="col-sm-6 parts-content-wrapper">
          <div class="title-box">
            <h2>
              beaters
            </h2>
          </div>
          <div class="content-box">
            <p>
              Help you knead dough for every need – from soft Roti Atta to stiff baguette dough, whole grain rolls to pliant pizza dough and cinnamon buns to garlic bread dough. The options are limitless
            </p>
          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
      <div class="clearfix" style="clear: both;">

      </div>
    </div>
  </section>
  <!-- Mix Parts Section Section close -->
  <!-- strategy design Section start -->
  <section class="strategyMain-wrapper">
    <div class="container">
      <div class="strategwrap-box">
        <div class="strategy-content-wrap col-md-5 col-sm-6">
          <div class="logo-design-wrap">
           <img src="{{'new_italiano_logo.png' | file_url }}" alt="">
          </div>
          <div class="title-box">
            <h2>
              Strategy<br/>
              <span>
                then
              </span>
              design.
            </h2>
          </div>
          <div class="content-box">
            <p>
              Help you knead dough for every need – from soft Roti Atta to stiff baguette dough, whole grain rolls to pliant pizza dough and cinnamon buns to garlic bread dough. The options are limitless
            </p>
          </div>
        </div>
        <div class="strategy-video-wrap col-md-7 col-sm-6">
          <div class="ipad_video_wrapper">
            <div class="ipad_video">
              <img src="{{'new_iPad_First_Screen.jpg' |file_url}}" alt="Video Player" data-video="https://www.youtube.com/embed/8SZbibKeL4c?autoplay=1&mute=1" />
            </div>
          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
      <div class="clearfix" style="clear: both;">

      </div>
    </div>
  </section>
 
  <section class="preBook-form-wrapperMain" id="preBookFormWrapper">
    <div class="container">
      <div class="preBookWrapper">
        <div class="col-md-6 col-sm-6 preBook-img">
          <img src="{{'img-2.png' | file_url }}" alt>
        </div>
        <div class="col-md-6 col-sm-6 pull-right preBook-formWrap">                 
          <div class="title-box">

            <h2>
            Revo                           
            </h2>
            <strong>
              
              <span class="no_bold_font">
                MRP: INR 8000
              </span>
            </strong>
            <span class="bold_font">
              Special launch price: INR 5999
            </span>
            <!-- <span>Get Cakes & Bakes Recipe Book by Chef Sanjeev Kapoor!</span>
            <span>
              <strong>
                Submit your query, we'll get back to you soon.
              </strong>
            </span> -->
            <span>
              Hurry! Limited quantity only!
            </span>
          </div>
          
          <div class="form-box">
			
 			
            {% if product.available %}
            {%comment%}{%endcomment%}
            <div class="{% unless textposition == 'center' %}eight {% if textposition == 'left' %}offset-by-one{% endif %}{% else %}ten offset-by-three{% endunless %} columns omega equal-columns--outside-trim">
               {% assign variant = product.selected_or_first_available_variant %}
                      {% include 'sca_freegift_price' with product %}
                        <div class="clearfix product_form init smart-payment-button--{{ show_payment_button }} {% if sca_product_variantCount > 1 or product.options.size > 1 %}product_form_options{% endif %} product_form--{{ settings.product_form_style }}"
                              id="product-form-{{ product.id }}"
                              data-money-format="{{ shop.money_format }}"
                              data-shop-currency="{{ shop.currency }}"
                              data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
                              data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
                              data-product="{{ product | json | escape }}"
                              {% if settings.limit_quantity or settings.display_inventory_left %}
                                data-variant-inventory='[{%- for v in product.variants -%}}
                      {"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}
				{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
        		{% endif %}
        	data-product-id="{{ product.id }}">
    {% form 'product', product %}

    	{% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
          {% for v in product.variants %}
              {% unless v.metafields.secomapp.freegifts %}
              {% unless v.title contains '(Freegifts)' %}

            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>

              {%endunless%}
              {%endunless%}
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and sca_product_variantCount > 1 or product.options.size == 1 and product.options[0] != "Title" %}
      <div class="select">
        <label>{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id">
          {% for v in product.variants %}
            {% unless v.metafields.secomapp.freegifts %}
            {% unless v.title contains '(Freegifts)' %}

		            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>

            {%endunless%}
            {%endunless%}
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ variant.id }}" />
    {% endif %}


              {% if product.available %}
                      <div class="purchase-details">
                        <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
                          {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
                          <button type="submit" name="add" class="action_button add_to_cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }}>
                            <p>Limited quantities only</p>
                            <span class="text">SHOP NOW</span>

                          </button>

                        </div>
                      </div>    
              {% endif %}
            {% endform %}
            </div>
          </div>
            {% else %}
            	<button type="submit" name="add" class="action_button add_to_cart" > 
                    <a href="https://www.wonderchef.com/products/wonderchef-revo-stand-mixer-and-dough-kneader" style="color:#FFF">Shop Now</a>
                </button>
            {% endif%}
        </div>
      </div>
    </div>
  </section>
  <!-- Pre Book footer form Section start -->
  <div class="page-footer-wrapper">
    <!-- Footer section start -->
    <footer class="page-footer new_footer">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="footer_logo">	
                <img src="{{'footer_logo_revo.png' | file_url }}" alt="wonderchef">
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8">
              <div class="footer_links">
                <div class="static_links">
                  <ul>
                    <li>
                      <a href="/pages/about-us" target="_blank"> 
                        About us 
                      </a>
                    </li>
                    <li>
                      <a href="/collections/cookware" target="_blank"> 
                        cookware 
                      </a>
                    </li>
                    <li>
                      <a href="/collections/appliances" target="_blank"> 
                        APPLIANCES 
                      </a>
                    </li>
                    <li>
                      <a href="/collections/offers" target="_blank"> 
                        offers 
                      </a>
                    </li>
                    <li>
                      <a href="/pages/contact-us" target="_blank"> 
                        contact us 
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
      <hr />
     
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-6 copyrights_section">
            <p>Copyrights &copy; 2019 All Rights Reserved by Wonderchef</p>
          </div>
          <div class="col-sm-4 col-md-6 col-lg-6 mailid_section">
            <a href="mailto:marketing@wonderchef.in">
              marketing@wonderchef.in
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer section end -->
  </div>
</div>


<!-- Page Wrapper Close -->
<style type="text/css">
  
  #maincontent.page-main{
    max-width: 100% !important;
    padding: 0;
  }
  #maincontent.page-main .columns .column.main{
    padding-bottom: 0;
  }
  body .messages .message-success{
    z-index: 9999999999999;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .ipad_video_wrapper{
    background-image: url('{{'ipad_border_video.png' | file_url }}');
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-child(2) .parts-content-wrapper .content-box {
    padding-right: 50px;
  }
  @media(max-width: 900px){
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-child(2) .parts-content-wrapper .content-box {
      padding-right: 0;
    }
  }
  @media(max-width: 700px){
    body {
      padding-top: 0;
    }
    #maincontent.page-main {
      margin-top: 65px !important;
    }
    #maincontent.page-main .columns .column.main {
      padding-top: 0;
    }
    body .messages .message-success {
      position: absolute;
    }
  }
  div#swym-anchor {
    display: none;
}.swym-button-bar.swym-wishlist-button-bar.swym-inject {
    display: none!important;
}
</style>


<script type="text/javascript">
  
    jQuery(document).ready(function() {
      jQuery(".handle").click(function() {
        if (!jQuery(".panelhandleInfo").is(":visible"))
          jQuery('.handle').addClass("catMenuOpen");
        jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').addClass("hide");
        jQuery(".panelhandleInfo").slideToggle(function() { 
          if (!jQuery(".panelhandleInfo").is(":visible"))
            jQuery('.handle').removeClass("catMenuOpen");
          jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').removeClass("hide");
        });
        jQuery(".panelheadInfo").hide();
        jQuery(".panelmiddleInfo").hide();
        jQuery(".panelbowlInfo").hide();
        jQuery('.head').removeClass("catMenuOpen");
        jQuery('.middle').removeClass("catMenuOpen");
        jQuery('.bowl').removeClass("catMenuOpen");
      });
      jQuery(".head").click(function() {
        if (!jQuery(".panelheadInfo").is(":visible"))
          jQuery('.head').addClass("catMenuOpen");
        jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').addClass("hide");
        jQuery(".panelheadInfo").slideToggle(function() { 
          if (!jQuery(".panelheadInfo").is(":visible"))
            jQuery('.head').removeClass("catMenuOpen");
          jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').removeClass("hide");
        });
        jQuery(".panelhandleInfo").hide();
        jQuery(".panelmiddleInfo").hide();
        jQuery(".panelbowlInfo").hide();
        jQuery('.handle').removeClass("catMenuOpen");
        jQuery('.middle').removeClass("catMenuOpen");
        jQuery('.bowl').removeClass("catMenuOpen");
      });
      jQuery(".middle").click(function() {
        if (!jQuery(".panelmiddleInfo").is(":visible"))
          jQuery('.middle').addClass("catMenuOpen");
        jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').addClass("hide");
        jQuery(".panelmiddleInfo").slideToggle(function() { 
          if (!jQuery(".panelmiddleInfo").is(":visible"))
            jQuery('.middle').removeClass("catMenuOpen");
          jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').removeClass("hide");
        });
        jQuery(".panelhandleInfo").hide();
        jQuery(".panelheadInfo").hide();
        jQuery(".panelbowlInfo").hide();
        jQuery('.handle').removeClass("catMenuOpen");
        jQuery('.head').removeClass("catMenuOpen");
        jQuery('.bowl').removeClass("catMenuOpen");
      });
      jQuery(".bowl").click(function() {
        if (!jQuery(".panelbowlInfo").is(":visible"))
          jQuery('.bowl').addClass("catMenuOpen");
        jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').addClass("hide");
        jQuery(".panelbowlInfo").slideToggle(function() { 
          if (!jQuery(".panelbowlInfo").is(":visible"))
            jQuery('.bowl').removeClass("catMenuOpen");
          jQuery('.stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap .showHide').removeClass("hide");
        });
        jQuery(".panelhandleInfo").hide();
        jQuery(".panelmiddleInfo").hide();
        jQuery(".panelheadInfo").hide();
        jQuery('.handle').removeClass("catMenuOpen");
        jQuery('.head').removeClass("catMenuOpen");
        jQuery('.middle').removeClass("catMenuOpen");
      });
    });
  
  jQuery(document).ready(function() { 
    //strategy video script starts here//
    jQuery('.stand-mixer-mainWrapper .strategyMain-wrapper .strategy-video-wrap img').click(function(){
      var video = '<iframe width="100%" height="365px" frameborder="0" src="'+ jQuery(this).attr('data-video') +'"></iframe>';
      jQuery(this).replaceWith(video); 
    });
    //strategy video script ends here//

    //watch action video script starts here//
    jQuery(document).ready(function() {
      
      // Gets the video src from the data-src on each button
      var $videoSrc;  
      jQuery('.video-btn').click(function() {
        $videoSrc = jQuery(this).data( "src" );
      });
      console.log($videoSrc);
      //vwhen the modal is opened autoplay it  
      jQuery('#watchAction').on('shown.bs.modal', function (e) {

        // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
        jQuery("#actionVideo").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1&mute=1" ); 
      })
      // stop playing the youtube video when I close the modal
      jQuery('#watchAction').on('hide.bs.modal', function (e) {
        // a poor man's stop video
        jQuery("#actionVideo").attr('src',$videoSrc); 
      })
      // document ready  
    });
    //watch action video script ends here//

   

  });
  /*require(['yofla360', 'bootstrap', 'yofla360config'], function($){ 

});*/
 //onclick scroll script starts here//
    jQuery(".stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .pre-book h4 a").click(function() {
      jQuery('html,body').animate({
        scrollTop: jQuery("#preBookFormWrapper").offset().top - 140},
                                  2000);
    });
    //onclick scroll script ends here//
</script>



<!--360 angle rotating mixer -->

{% unless customer.email contains 'manish.wonderchef@gmail.com'%}
 <script src="{{ 'revo.js' | asset_url }}"></script>
{%endunless%}