<!-- The Modal -->
<div class ="tncwonderchef">
      <div class="mainbanner">
        <img class="hidden_xs" src="{{'main_banner_desktop.jpg'|file_url}}" alt="TNC banner" s/>
        <img class="visible_xs" src="{{'mobile-banner.jpg'|file_url}}" alt="TNC banner" s/>
      </div>
      <div class="centerText normaltext container">
        <h5>Refer & Earn</h5>
        <p>When you register on <a href="https://www.wonderchef.com">wonderchef.com</a><br />
          your wallet is instantly activated</p>
      </div>
      <div class="container">
        <!-- first step Start-->
        <div class="eight column margintop normaltext hidden_xs first_stagechanges">
          <img src="{{'first-1.png'|file_url}}" alt="tnc One" class="imageone  firts-step-pointers">
          <h3 class="headingreward">Share with friends <br>& family</h3>
          <p>Click on <span id="divAnim"> <input type="button" id="btAnimate" value="SHARE &amp; EARN"></span> tab on</p><p>product page.</p>
          <p>Click on <span><img src="{{'fb.png'|file_url}}" alt="tnc One" class="imageone"></span> or <span><img src="{{'twitterr.png'|file_url}}" alt="tnc One" class="imageone"></span> icon as
          </p><p>seen in the tab.</p>
          <p> Your page will open with</p>
          <p>product image.</p>
          <p>Share your experience.</p>
        </div>
        <div class="eight column margintop">
          <img class="first_stage_image" src="{{'first-person.png'|file_url}}" alt="tnc One" >
        </div>
        <div class="eight column margintop normaltext visible_xs first_stagechanges">
          <img src="{{'first-1.png'|file_url}}" alt="tnc One" class="imageone  firts-step-pointers">
          <h3 class="headingreward">Share with friends <br>& family</h3>
          <p>Click on <span id="divAnim"> <input type="button" id="btAnimate" value="SHARE &amp; EARN"></span> tab on</p><p>product page.</p>
          <p>Click on <span><img src="{{'fb.png'|file_url}}" alt="tnc One" class="imageone"></span> or <span><img src="{{'twitterr.png'|file_url}}" alt="tnc One" class="imageone"></span> icon as
          </p><p>seen in the tab.</p>
          <p> Your page will open with</p>
          <p>product image.</p>
          <p>Share your experience.</p>
        </div>
        <!-- first step complete-->
        <div class="clearfix"></div>
        <!-- second step Start-->

        <div class="eight column margintop">
          <img src="{{'wp-main.png'|file_url}}" alt="tnc One" class="centerimg thierdimage">
        </div>

        <div class="eight column margintop normaltext righttoleft second_stagechanges">

          <img src="{{'second-2.png'|file_url}}" alt="tnc One" class="imageone  firts-step-pointers">
          <h3 class="headingreward hidden_xs"> <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone wpwork headingwonderpoint"> Earn WonderPoints</h3>
          <h3 class="visible_xs headingreward "> <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone wpwork"> Earn WonderPoints</h3>
          <p>Get 10 <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone"> in your wallet on <br />.every share</p>
            <p>Also earn 10% <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone"> for value <br />of every purchase your</p>
            <p> .friends make
            </p>
            <p>
            Even they get 7% <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone"> when <br />they purchase through <br />.your referral</p>
          <p class="hidden_xs"> <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone"> Moreover you earn 5%<br> on purchases when they </p>
            <p>.share it further
          </p>
          <p class="visible_xs">Moreover you earn 5% <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone"> on purchases when they. share it further
          </p>
        </div>


        <!-- second step complete-->
        <div class="clearfix"></div>
        <!-- fourth step Start-->


        <div class="eight column margintop normaltext">
          <img src="{{'third-3.png'|file_url}}" alt="tnc One" class="imageone  firts-step-pointers">
          <h3 class="margin_h3remove lineh3_rremove remove_mobile_padmarh" >Shop With</h3><h3 class="margin_h3remove lineh3_rremove remove_mobile_padmarh"  class="visible_xs"> WonderPoints </h3><h3  class="margin_h3remove lineh3_rremove lasthmobile"  class="hidden_xs"> WonderPoints <img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone   wpwork  headingwonderpoint"> </h3>
          <p><span><img src="{{'wp.png'|file_url}}" alt="tnc One" class="imageone"></span> are added to your wallet<br />
            on Wonderchef website.<br />
            Redeem these points to<br />
            shop on the site.</p>
        </div>

        <div class="eight column margintop">
          <img src="{{'earn-point.png'|file_url}}" alt="tnc One" >
        </div>

        <!-- fourth step complete-->
        <div class="pointer_rewards">
          <div class=" margintop normaltext">
            <p>4. This program works for 2 levels of purchase.</p>
          </div>

          <div class=" normaltext">
            <p>5. Each point is equivalent to 0.33 INR (and is subjected to change in the future without any prior intimation)</p>
          </div>

          <div class=" normaltext">
            <p>6. Points will be valid for a period of 6 months from the date of purchase/sharing</p>
          </div>

          <div class=" normaltext">
            <p>7. The points earned through referral program can be redeemed only through our online portal <a href="https://www.wonderchef.com">www.wonderchef.com</a></p>
          </div>

          <div class=" normaltext">
            <p>8. A maximum of 25 non-duplicate items can be shared by a single customer/visitor and is subjected to change in the future without any prior intimation)</p>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="termsplicy-reward">
        <div class="container">
          <div class=" normaltext centerText">
            <h3>Terms & Conditions</h3>
            <p>The Wonderchef Referral Program (“Program”) offered by Treasure Retail Pvt Ltd  has been created to reward our loyal customers,<br> (“you,” “Member,” “Referrer,” “Participant”) for doing what you would already do – recommending us to friends and family who sign on to be Wonderchef customers (“Participants” or “Referred”). It’s also created to reward your friends and family for making a purchase from your referral.</p>

            <div id="dots" class="collapse normaltext"></div>
            <div id="more" class="collapse normaltext">
              <p>
                The following Wonderchef Referral Program Terms and Conditions (“Program Terms and Conditions”) contain important information about our program. The Program Terms and Conditions are a binding agreement between you and Wonderchef and will govern your participation in any and all Program offers.
              </p>
              <p>
                Wonderchef reserves the right to modify these Program  Terms & Conditions at any time, at its sole discretion, and without notice to you. Participation in the Program is considered acceptance of Program Terms & Conditions and any modifications  which might be made. Wonderchef may also, in its sole discretion, change, cancel, suspend, or modify any aspect of the Program without notice. Wonderchef also reserves the right to disqualify any customers or prospective
              </p>
              <p>
                customers at any time from participation in the Program.
              </p>
              <div class="sixteen column normaltext liability">
                <h3>Liability</h3>
                <p><b>Binding Effects:</b> By participating in the Program, you agree to and are bound by the Program Terms and Conditions. If you do not wish to agree to and abide by the Program Terms & Conditions in their entirety, you are not authorized to participate in the Program.</p>
                <p><b>Termination:</b> Wonderchef may, in its sole and absolute discretion, cancel, change, suspend, or modify & aspect of the Program or Program Terms and Conditions at any time, without notice. Wonderchef may, in its sole and absolute discretion, terminate or suspend any Member’s participation in the Program for breach of these Program Terms and Conditions or taking any actions that are inconsistent with the intent of these Program Terms and Conditions.</p>
                <p>
                  <b>Release:</b> By participating in the Program, Participants release Wonderchef, its parent company, subsidiaries, affiliates, suppliers, advertising, and promotions agencies and their respective directors, officers, employees, and agents from any & all liability for any loss, harm, damages, cost, or expense, including, without limitation, property damages, personal injury and/or death, arising out of or in any way connected to the Program and/or the use of any Program rewards. 
                </p>
                <p>
                  <b>Indemnification:</b> Participants agree to indemnify, defend,and hold Wonderchef and its representatives and agents harmless from and against any and all third party claims, demands, liabilities, costs, or expenses, including attorney’s fees and costs, arising from, or related to any breach by the participant of any of these Program Terms & Conditions or any violation by Participant of applicable law.
                </p>

              </div>
            </div>
            <button onclick="myFunction()" id="reward_readmore">see more <span class="icon-down-arrow wonderarrow"></span></button>
          </div>
        </div>
      </div>
   
    </div>

<style>
  .cust_modal_segment ol li {
    margin-bottom: 14px;
    list-style: lower-roman;
  }
  .cust_modal_segment p {
    margin: 0 0 20px;
  }p.cust_modal_title3 {
    margin: 0;
  }
  .cust_modal_segment ol {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 20px;
  }
  .cust_modal_close {
    color: #c11616;
    float: right;
    font-size: 50px;
    font-weight: 400;
    border: 1px solid #e32c2b;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 4px 4px 4px 5px;
    line-height: 32px;
    letter-spacing: 6px;
    top: -14px;
    position: relative;
    right: -14px;
    cursor: pointer;
  }
  .margin_h3remove{
  margin-bottom:0;
  } 
  .lineh3_rremove{
  line-height:30px;
  }
</style>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("reward_readmore");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "see more <span class='icon-down-arrow wonderarrow'></span>"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "see less <span class='icon-up-arrow'></span>"; 
    moreText.style.display = "inline";
  }
}
</script>

<style>
   .imageone{
    margin-bottom:15px;
  }
  button#reward_readmore {
    text-transform: none;
    background: transparent;
    color: #2626fd;
    font-size: 26px;
    border: 0;
    outline:none;
  }
  img.imageone.wpwork {
    position: relative;
    top: 22px;
  }
  .second_stagechanges p {
    line-height: 30px;
    margin: 0;
}
  h3.headingreward {
    letter-spacing: -1.2px!important;
    line-height: 40px!important;
    margin-bottom: 20px!important;
  }
  .first_stagechanges p {
    margin-bottom: 0;
  }
  .first_stagechanges p input#btAnimate {
    min-height: 30px;
    height: 30px;
  }
  .sixteen.column.normaltext.liability {
    text-align: left;
}
  .wonderarrow{
    margin:6px 0px 0px 6px;
  }
  .icon-up-arrow{
    margin:6px 0px 0px 6px;
    font-size:15px;
  }
  .second_stagechanges h3.headingreward.hidden_xs {
    margin-bottom: 0px!important;
}
  .centerText{
    text-align:center;
  }#more {display: none;}
  .tncwonderchef p {
    font-size: 25px;
    font-weight: 500;
    color: #4e4e4e;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  .sixteen.column.normaltext.liability h3 {
    color: #e33237;
    margin: 30px 0 10px;
    text-align: center;
    text-transform: none;

  }
 
  .first_stagechanges p img.imageone {
    margin: 0;
    top: 4px;
    width: 25px;
  }
  img.first_stage_image {
    width: 80%;
    float: right;
  }
  .padding_top.main.content {
    padding: 0;
}
  img.imageone.firts-step-pointers {
    width: 60px;
  }
 p img.imageone {
    top: 6px;
    position: relative;
    margin: 0;
}
  .tncwonderchef h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
    letter-spacing: 0;
    color: #4e4e4e;
  }
  .tncwonderchef #divAnim input {
    padding: 0 6px;
    border: solid 1px #5d6bc4;
    background: #606ec6;
    color: #FFF;
    cursor: pointer;
    height: 40px;
    line-height: 26px!important;
    min-height: 40px;
    font-weight: 600;
  }
  .centerText h1 {
    color:#e31e24;
    margin: 40px 0px 0px 0px;
    text-transform: none;
    font-size: 41px;
    letter-spacing: -1.2px;
    line-height: 40px;
  }
  .margintop{
    margin-top:60px;
  }
  .margintop h3{
    text-transform:none;
  } 

  .tncwonderchef .imageone{
    width:5%;
  }
  .centerimg{
    padding:40% 0px 0px 0px;
  }
  .righttoleft{
    direction: rtl;
  }
  .mainbanner img {
    width: 100%;
  }
  .pointer_rewards {
    display: block;
    clear: both;
    padding-top: 40px;
  }
  img.imageone.wpwork.headingwonderpoint {
    position: relative;
    top: 18px;
}
  .pointer_rewards p {
    margin-bottom: 26px;
  }.termsplicy-reward {
    background: #eaeaea;
    padding-bottom: 20px;
  }

  .termsplicy-reward h3 {
    color: #e21e24;
    text-transform: none;
    margin: 20px 0 10px;
  }
  @media (max-width: 600px){
    .tncwonderchef h3 {
      font-size: 20px;
      text-align: center;
    }
    .tncwonderchef p {
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }

    .tncwonderchef span#divAnim {
      display: inline-block;
    }
    .tncwonderchef #divAnim input{
      min-height: 30px;
      height: 30px;
    }
    .tncwonderchef .imageone {
      width: 10%;
    }
    .margintop {
      margin-top: 0;
    }
    .centerimg {
      padding: 10% 0 0;
    }
    .tncwonderchef {
      margin-top: 0px;
    }
    img.imageone.firts-step-pointers {
    width: 50px;
}.tncwonderchef h3 {
    font-size: 26px;
    text-align: center;
    line-height: 34px!important;
}
    img.first_stage_image {
    width: 100%;
    float: none;
}
     h3.visible_xs.headingreward {
    margin-bottom: 0px!important;
}
    .pointer_rewards p {
    text-align: left;
}
    .popupcontent {
    padding: 0;
}
    .reward-popup{
        height: 400px;
    }
    .termsplicy-reward{
        background: #ffffff!important;
    }
    .termsplicy-reward p{
        text-align: left;
    }
    .termsplicy-reward .container {
    width: 100%;
}
    .tncwonderchef .container {
    width: 100%;
}
  }
</style>