<div class="share_toolbox">  
   <!-- Add product share option to Shopify product page -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% if template contains 'product' %}
  <div class="product-share">
    <h3>Share this product:</h3>
    <div class="product-sharing-buttons">
   
        <a class="share-button" href="https://www.facebook.com/sharer/sharer.php?u=https://wonderchefind.myshopify.com{{ product.url }}" target="_blank" rel="noopener noreferrer">
         <i class="fa fa-facebook-square" ></i>
        </a>
    
        <a class="share-button" href="https://twitter.com/intent/tweet?url=https://wonderchefind.myshopify.com{{ product.url }}&text={{ product.title }}" target="_blank" rel="noopener noreferrer">
         <i class="fa fa-twitter-square" ></i>
        </a>
     
        <a class="share-button" href="https://pinterest.com/pin/create/button/?url=https://wonderchefind.myshopify.com{{ product.url }}&media={{ product.featured_image | img_url: 'medium' }}&description={{ product.title }}" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-pinterest-square"></i>
        </a>
     
        <a class="share-button" href="whatsapp://send?text={{ product.title }} - https://wonderchefind.myshopify.com{{ product.url }}" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-whatsapp"></i>
        </a>
     
        <a class="share-button" href="mailto:?subject=Check out this product&body=Hey, I found this amazing product and thought you might like it! %0D%0A%0D%0A{{ product.title }} - https://wonderchefind.myshopify.com{{ product.url }}">
         <i class="fa fa-envelope-square"></i>
        </a>
    
        <a class="share-button" onclick="copyProductURL()">
          <i class="fa fa-clone"></i>
        </a>
     
    </div>
  </div>

  <script>
    function copyProductURL() {
      var copyText = "{{ product.url }}";
      var tempInput = document.createElement("input");
      tempInput.value = copyText;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      alert("Product URL copied to clipboard!");
    }
  </script>
{% endif %}

</div>
<style>
  .product-sharing-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
    font-size: 25px;
}

.share-button {
  display: inline-block;
  
  
  text-decoration: none;
  border-radius: 4px;
 
  font-weight: bold;
  margin-right: 10px;
}

.share-button:hover {
 
}
</style>