<!-- /snippets/social-meta-tags.liquid -->
{%- assign og_title = page_title -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}
{% if settings.share_image %}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ settings.share_image | img_url: '1200x1200' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ settings.share_image | img_url: '1200x1200' }}">{%- endcapture -%}
{% endif %}

{% comment %} Template specific overides {% endcomment %}
{% if template.name == 'product' %}
    {%- assign og_title = product.title | strip_html -%}
    {%- assign og_type = 'product' -%}
    {% if product.images.size > 0 %}
        {%- capture og_image_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image" content="http:{{ image.src | product_img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
        {%- capture og_image_secure_url_tags -%}{% for image in product.images limit:3 -%}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
    {% endif %}

{% elsif template.name == 'article' %}
    {%- assign og_title = article.title | strip_html -%}
    {%- assign og_type = 'article' -%}
    {%- assign og_description = article.excerpt_or_content | strip_html -%}
    {% if article.image %}
        {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ article.image | img_url: '1200x1200' }}">{%- endcapture -%}
        {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x1200' }}">{%- endcapture -%}
    {% endif %}

{% elsif template.name == 'collection' %}
    {%- assign og_title = collection.title | strip_html -%}
    {%- assign og_type = 'product.group' -%}
    {% if collection.image %}
        {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ collection.image | img_url: '1200x1200' }}">{%- endcapture -%}
        {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x1200' }}">{%- endcapture -%}
    {% endif %}

{% elsif template.name == 'password' %}
    {%- assign og_title = shop.name -%}
    {%- assign og_url = shop.url -%}
    {%- assign og_description = shop.description | default: shop.name -%}
{% endif %}

{% if page.title == 'Kitchen Queen' %}
<meta property="og:image" content="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/WhatsApp_Image_2023-08-17_at_10.46.48_PM.jpg?v=1692293028" >
{% endif %}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">
<meta name="robots" content="max-image-preview:large">

{% if template.name == 'product' %}

  <div itemprop="offers" itemtype="https://schema.org/Offer" itemscope>
         <meta itemprop="sale_price" content="{{ product.price | money_without_currency | strip_html }}" />
    <meta property="og:price:amount" content="{{ product.compare_at_price | money_without_currency | strip_html }}">
    <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
   <meta property="product:category" content="{{ collection.title }}" />
<meta property="product:gender" content="women's" />
<meta property="product:availability" content="{{ product.available ? 'in stock' : 'out of stock' }}" />
<meta property="product:price:amount" content="{{ product.compare_at_price | money_without_currency }}" />
<meta property="product:price:currency" content="{{ shop.currency }}" />
{% if product.compare_at_price > product.price %}
<meta property="product:sale_price:amount" content="{{ product.price | money_without_currency }}" />
<meta property="product:sale_price:currency" content="{{ shop.currency }}" />
    <meta property="product:brand" content="{{ product.vendor }}" />
    <meta property="product:condition" content="new" />
<meta property="product:retailer_item_id" content="{{ product.current_variant.sku }}" />
    <meta property="product:rating:value" content="{{ product.metafields.reviews.rating.value }}" />
<meta property="product:rating:count" content="{{ product.metafields.reviews.rating_count }}" />
{% endif %}
    </div>
{% endif %}
{{ og_image_tags }}
{{ og_image_secure_url_tags }}

{% unless settings.social_twitter_link == blank %}
    <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
{% endunless %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}">

