<div class="container">
    {% include 'breadcrumb' %}
    <div class="page page-login">
        <div class="mb-5">
            <h2 class="loginTitle">{{ 'customer.orders.title' | t }}</h2>

            {% paginate customer.orders by 20 %}
                {% if customer.orders.size != 0 %}

                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                                <th scope="col">{{ 'customer.orders.total' | t }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in customer.orders %}
                                <tr>
                                    <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                                        <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                                    </th>
                                    <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                                    <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                                    <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                                    <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <div class="form-message form-message--warning">
                        <p>{{ 'customer.orders.none' | t }}</p>
                    </div>

                {% endif %}
                {% if paginate.pages > 1 %}
                    {% render 'pagination', paginate: paginate %}
                {% endif %}
            {% endpaginate %}
        </div>
        <div>
            <h2 class="loginTitle">{{ 'customer.account.details' | t }}</h2>
            {{ customer.default_address | format_address }}
            <div class="button-group">
                <a href="{{ routes.account_addresses_url }}" class="btn btn--secondary btn--big"><span>{{ 'customer.account.view_addresses' | t }}</span> ({{ customer.addresses_count }})</a>
                {% if customer %}
                    <a class="btn btn--primary btn--big" id="customer_logout_link" href="{{ routes.account_logout_url }}">{{ 'layout.customer.log_out' | t }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>