{% if section.settings.display_google_map %}
    <div class="map">
        {% if section.settings.google_map_code != blank %}
            {{ section.settings.google_map_code }}
        {% endif %}
    </div>
{% endif %}
<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-login">
        <div class="row">
            <div class="col-12 col-sm-6 mb-5">
                <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
                    {{ 'customer.recover_password.success' | t }}
                </div>
                <div id="CustomerLoginForm" class="form-vertical">
                    <h1 id="LoginHeading" class="loginTitle">{{ 'customer.login.title' | t }}</h1>
                    <p><strong>{{ 'customer.login.guest_title' | t }}</strong></p>
                    {% form 'customer_login', novalidate: 'novalidate' %}
                        {%- if form.errors -%}
                            <div class="form-message form-message--error">
                                <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
                                {{ form.errors | default_errors }}
                            </div>
                        {%- endif -%}

                        <label for="CustomerEmail" class="form-label">{{ 'customer.login.email' | t }}<em>*</em></label>
                        <input
                            type="email"
                            name="customer[email]"
                            class="form-control"
                            id="CustomerEmail"
                            autocomplete="email"
                            autocorrect="off"
                            autocapitalize="off"
                            {%- if form.errors contains 'form' -%}
                                class="input--error"
                                aria-invalid="true"
                            {%- endif -%}
                            >

                        {% if form.password_needed %}
                            <label for="CustomerPassword" class="form-label">{{ 'customer.login.password' | t }}<em>*</em></label>
                            <input
                                type="password"
                                value=""
                                name="customer[password]"
                                class="form-control"
                                id="CustomerPassword"
                                {%- if form.errors contains 'form' -%}
                                    class="input--error"
                                    aria-invalid="true"
                                {%- endif -%}
                            >
                        {% endif %}

                        <div class="button-group">

                            <input type="submit" class="btn btn--secondary" value="{{ 'layout.customer.log_in' | t }}">
                             <hr>
                            {% if form.password_needed %}
                                <div class="RecoverPassword-wrapper">
                                    <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
                                </div>
                             <hr>
                            {% endif %}
                        </div>
                    {% endform %}
                </div>
           

                <div id="RecoverPasswordForm" class="hide">
                    <h2 id="RecoverHeading" class="loginTitle">{{ 'customer.recover_password.title' | t }}</h2>
                    <p>{{ 'customer.recover_password.subtext' | t }}</p>
                

                    <div class="form-vertical">
                        {% form 'recover_customer_password' %}

                            {% comment %}
                                Add a hidden span to indicate the form was submitted succesfully.
                            {% endcomment %}
                            {% if form.posted_successfully? %}
                                <span class="hide reset-password-success"></span>
                            {% endif %}

                            <label for="RecoverEmail" class="form-label">{{ 'customer.recover_password.email' | t }}</label>
                            <input
                                type="email"
                                value=""
                                name="email"
                                id="RecoverEmail"
                                class="input-full{% if form.errors %} input--error{% endif %} form-control"
                                autocorrect="off"
                                autocapitalize="off"
                                {% if form.errors %}
                                    aria-invalid="true"
                                    aria-describedby="RecoverEmail-email-error"
                                {%- endif -%}
                                >
                            {%- if form.errors -%}
                                <span id="RecoverEmail-email-error" class="input-error-message">
                                    {% render 'icon-error' %} {{ form.errors.messages['form'] }}
                                </span>
                            {%- endif -%}

                            <div class="button-group">
                                <input type="submit" class="btn btn--secondary" value="{{ 'customer.recover_password.submit' | t }}">
                                <a href="#LoginHeading" id="HideRecoverPasswordLink" class="btn btn--primary">{{ 'customer.recover_password.cancel' | t }}</a>  
                            </div>
                        
                        {% endform %}
                    </div>
              

                </div>

                {% comment %}
                    If accounts are set as optional, the following will be shown as an option
                    during checkout, not on the default /login page.
                {% endcomment %}
                {% if shop.checkout.guest_login %}
                    <div class="text-left">
                        <hr class="hr--invisible">
                        <h2 class="loginTitle">{{ 'customer.login.guest_title' | t }}</h2>

                        {% form 'guest_login' %}
                            <input type="submit" class="btn btn--secondary" value="{{ 'customer.login.guest_continue' | t }}">
                        {% endform %}
                    </div>
                {% endif %}
            </div>
          <!--  <div class="col-12 col-sm-6">
                <div class="form-vertical" id="CustomerRegisterForm" >

                    <h1 class="loginTitle">{{ 'customer.register.title' | t }}</h1>
                    <p><strong>{{ 'customer.register.register_title' | t }}</strong></p>
                    <p>{{ 'customer.register.description' | t }}</p>
                    {%- assign formId = 'RegisterForm' -%}
                    {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
                        {% render 'form-status', form_id: formId %}

                        <label for="{{ formId }}-FirstName" class="form-label">{{ 'customer.register.first_name' | t }}<em>*</em></label>
                        <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name" class="form-control">

                        <label for="{{ formId }}-LastName" class="form-label">{{ 'customer.register.last_name' | t }}<em>*</em></label>
                        <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name" class="form-control">

                        <label for="{{ formId }}-email" class="form-label">{{ 'customer.register.email' | t }}<em>*</em></label>
                        <input
                            type="email"
                            name="customer[email]"
                            id="{{ formId }}-email"
                            class="form-control"
                            class="{% if form.errors contains 'email' %} input--error{% endif %}"
                            {% if form.email %} value="{{ form.email }}"{% endif %}
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            aria-required="true"
                            {%- if form.errors contains 'email' -%}
                                class="input--error"
                                aria-invalid="true"
                                aria-describedby="{{ formId }}-email-error"
                            {%- endif -%}
                        >
                        {%- if form.errors contains 'email' -%}
                            <span id="{{ formId }}-email-error" class="input-error-message">{% render 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                        {%- endif -%}

                        <label for="{{ formId }}-password" class="form-label">{{ 'customer.register.password' | t }}<em>*</em></label>
                        <input
                            type="password"
                            name="customer[password]"
                            id="{{ formId }}-password"
                            class="form-control"
                            class="{% if form.errors contains 'password' %} input--error{% endif %}"
                            aria-required="true"
                            {%- if form.errors contains 'password' -%}
                                class="input--error"
                                aria-invalid="true"
                                aria-describedby="{{ formId }}-password-error"
                            {%- endif -%}
                        >
                        {%- if form.errors contains 'password' -%}
                            <span id="{{ formId}}-password-error" class="input-error-message">{% render 'icon-error' %} {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
                        {%- endif -%}

                        <div class="button-group">
                            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--secondary-accent btn--big">
                        </div>

                    {% endform %}
                </div>
              <hr>
              <div class='oxi-social-login'></div>
            </div>-->
        </div>
    </div>
</div>