<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-login">
        <div class="form-vertical">
            {% form 'reset_customer_password' %}

                <h1 class="loginTitle">{{ 'customer.reset_password.title' | t }}</h1>

                <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

                {%- if form.errors -%}
                    <div class="form-message form-message--error">
                        {{ form.errors | default_errors }}
                    </div>
                {%- endif -%}

                <label for="ResetPassword" class="form-label">{{ 'customer.reset_password.password' | t }}</label>
                <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %} form-control">

                <label for="PasswordConfirmation" class="form-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %} form-control">
                <div class="button-group">
                    <input type="submit" class="btn btn--secondary-accent btn--big" value="{{ 'customer.reset_password.submit' | t }}">
                </div>
            {% endform %}
        </div>
    </div>
</div>