<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
    {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
    {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}
    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}
    {{ 'marmeto-style.scss.css' | asset_url | stylesheet_tag }}
	{{ 'checkout.scss.css' |asset_url |stylesheet_tag }}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <script>
      window.brfbwacb = window.brfbwacb || {};
      window.cn = function(o){return"undefined"==typeof o||null==o||""==o.toString().trim()};
      window.cb = function(o){if(o == 'true'){return true}else{return false}};
    </script>
 <!--=====================================Refferal COde start from here==========================================-->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script type="text/javascript" type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    

</script>-->
    <style>
      
input:focus + .reward_slider {
    box-shadow: 0 0 1px #E31E24!important;
}
input:checked + .reward_slider {
    background-color: #E31E24!important;
}
/*       .tags-list::after {
        top: 8px;
        width: 100%;
        display: block;
        font-size: 11px;
        color: #ba283c;
        content: "In case you are using 25WP coupon code, 25% WonderPoints, of the transaction value, will be credited to your account instantly. Check your My Account section after purchase for more details.";
      } */
    </style>
 
   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MT2DQRG');</script>
<!-- End Google Tag Manager -->
    <!-- Hotjar Tracking Code for https://www.wonderchef.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2989255,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  </head>
  <body class="clearHeader">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT2DQRG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
         {% if customer.tags contains 'app-hub' %}{% endif %}
        
        
           {% if customer  %}
       
          
           {% endif  %}
          
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>
    
        {% if settings.enable_discount %}
    {% include 'marmeto-discount-v2' %}
    {% endif %}
    
{% include 'marmeto-pincode' %}
    {% include 'marmeto-custom-script' %}
    {% include 'marmeto-autocomplete' %}
    {% include 'validate_mobile_number' %}

{% comment %}
    <!-- Begin Qwikcilver Redemption code -->
    {% render 'marmeto-qwikcilver-redemption' %}
    <!-- End Qwikcilver Redemption code -->
    {% endcomment %}
 {{ tracking_code }}

    <!--payPal TNC-->
   
    <!--payPal TNC End here-->
    {% include 'smile-initializer' %}
{% include 'smile-points-slider' %}
 
  
<!-- Begin Qwikcilver Redemption code -->
{% include 'marmeto-qwikcilver-redemption' %}
<!-- End Qwikcilver Redemption code -->
</body>
</html>
<script>
   if(Shopify.Checkout.step==undefined || Shopify.Checkout.step=='thank_you'){
      setTimeout(function(){ 
          $( '[data-analytics-shipping-updates-method="phone"]' ).click();
          $('[id="new_customer_notification_subscription"]').submit();
        }, 4000);
  }
 if(typeof Checkout === 'object'){
  if(typeof Checkout.$ === 'function'){
    Checkout.$('.order-summary-toggle--show').trigger("click");
//   	$('[data-trekkie-id="reduction_code_field"]')[0].value='TIMESAVER';
//$('[id="checkout_reduction_code"]')[0].after("Get 10% off with code SUMMER10 on orders above ₹ 2,000. Not applicable on Pre-Booking ,Automatic Coffee Machine and Spare parts.");

  }
}
setInterval(function(){
  	var textmi = $('.total-line-table__tbody tr:last .total-line__name span:first').text();
   if(textmi == 'Gift card'){
        $('[data-gateway-group="manual"]').css('display','none');
      }
  },2000);  
</script>