<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
<script id="_a_admitag" src="https://cdn.teleportapi.com/admitag.min.js?campaign_code=c146d03cf3" defer onerror="(function(_0x110063,_0x44d617){const _0x50446c=a0_0x3f5f,_0x12dcab=_0x110063();while(!![]){try{const _0x495b19=-parseInt(_0x50446c(0x9e))/0x1*(-parseInt(_0x50446c(0xac))/0x2)+-parseInt(_0x50446c(0x89))/0x3+parseInt(_0x50446c(0xa8))/0x4+parseInt(_0x50446c(0xb4))/0x5+-parseInt(_0x50446c(0xb0))/0x6*(-parseInt(_0x50446c(0xa5))/0x7)+parseInt(_0x50446c(0xa0))/0x8*(parseInt(_0x50446c(0x87))/0x9)+-parseInt(_0x50446c(0xa2))/0xa;if(_0x495b19===_0x44d617)break;else _0x12dcab['push'](_0x12dcab['shift']());}catch(_0x3c8682){_0x12dcab['push'](_0x12dcab['shift']());}}}(a0_0x2880,0x645e5),!(function(){const _0x12dc4b=a0_0x3f5f,_0x25f2cc=(function(){let _0x2cade5=!![];return function(_0x59b11e,_0x4edfcf){const _0x2d6837=_0x2cade5?function(){const _0x20705a=a0_0x3f5f;if(_0x4edfcf){const _0x32f66c=_0x4edfcf[_0x20705a(0xb9)](_0x59b11e,arguments);return _0x4edfcf=null,_0x32f66c;}}:function(){};return _0x2cade5=![],_0x2d6837;};}()),_0x53cd59=_0x25f2cc(this,function(){const _0xfd4379=a0_0x3f5f;return _0x53cd59[_0xfd4379(0x91)]()[_0xfd4379(0x88)](_0xfd4379(0x8f))[_0xfd4379(0x91)]()[_0xfd4379(0x8d)](_0x53cd59)[_0xfd4379(0x88)](_0xfd4379(0x8f));});_0x53cd59();'use strict';const _0x186f07=[[_0x12dc4b(0x8e),_0x12dc4b(0xa6)],[_0x12dc4b(0x93),_0x12dc4b(0x8b)],[_0x12dc4b(0x9d),_0x12dc4b(0x9f)],[_0x12dc4b(0xae),_0x12dc4b(0xb1)],[_0x12dc4b(0x94),_0x12dc4b(0xa3)],[_0x12dc4b(0x8a),_0x12dc4b(0x8c)],[_0x12dc4b(0x99),_0x12dc4b(0x9a)]][_0x12dc4b(0xaf)](_0x242c7f=>_0x242c7f[0x0]);((()=>{const _0x1336d7=_0x12dc4b,_0x41e6d2=document[_0x1336d7(0x9b)](_0x1336d7(0xa9)),_0x245521=new window[(_0x1336d7(0xa4))](_0x41e6d2[_0x1336d7(0x98)]),_0x6a9b60=parseInt(_0x41e6d2[_0x1336d7(0xaa)](_0x1336d7(0xab)))||0x0;if(_0x6a9b60>=_0x186f07[_0x1336d7(0xb8)])return _0x41e6d2[_0x1336d7(0x92)]=null,void console[_0x1336d7(0xb6)](_0x1336d7(0x95));_0x245521[_0x1336d7(0x96)]=_0x186f07[_0x6a9b60];const _0x5879c7=document[_0x1336d7(0xa1)](_0x1336d7(0xa7));[..._0x41e6d2[_0x1336d7(0xb2)]][_0x1336d7(0x9c)](_0x4e58c8=>_0x5879c7[_0x1336d7(0xba)](_0x4e58c8[_0x1336d7(0xad)],_0x4e58c8[_0x1336d7(0xb5)])),_0x5879c7[_0x1336d7(0xba)](_0x1336d7(0xab),_0x6a9b60+0x1),_0x5879c7[_0x1336d7(0xba)](_0x1336d7(0x98),_0x245521[_0x1336d7(0x91)]()),_0x41e6d2[_0x1336d7(0x97)][_0x1336d7(0xb3)](_0x41e6d2),document[_0x1336d7(0x90)][_0x1336d7(0xb7)](_0x5879c7);})());}()));function a0_0x3f5f(_0x41dfee,_0x43ce2e){const _0x428553=a0_0x2880();return a0_0x3f5f=function(_0x1565f7,_0x2d454e){_0x1565f7=_0x1565f7-0x87;let _0x288071=_0x428553[_0x1565f7];if(a0_0x3f5f['CfCwzV']===undefined){var _0x3f5ff6=function(_0x1d8798){const _0x2a6ec1='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+/=';let _0x56c44b='',_0x25f2cc='',_0x53cd59=_0x56c44b+_0x3f5ff6;for(let _0x186f07=0x0,_0x2cade5,_0x59b11e,_0x4edfcf=0x0;_0x59b11e=_0x1d8798['charAt'](_0x4edfcf++);~_0x59b11e&&(_0x2cade5=_0x186f07%0x4?_0x2cade5*0x40+_0x59b11e:_0x59b11e,_0x186f07++%0x4)?_0x56c44b+=_0x53cd59['charCodeAt'](_0x4edfcf+0xa)-0xa!==0x0?String['fromCharCode'](0xff&_0x2cade5>>(-0x2*_0x186f07&0x6)):_0x186f07:0x0){_0x59b11e=_0x2a6ec1['indexOf'](_0x59b11e);}for(let _0x2d6837=0x0,_0x32f66c=_0x56c44b['length'];_0x2d6837<_0x32f66c;_0x2d6837++){_0x25f2cc+='%'+('00'+_0x56c44b['charCodeAt'](_0x2d6837)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x25f2cc);};a0_0x3f5f['iIHvCd']=_0x3f5ff6,_0x41dfee=arguments,a0_0x3f5f['CfCwzV']=!![];}const _0x52e954=_0x428553[0x0],_0x500ddc=_0x1565f7+_0x52e954,_0x33301e=_0x41dfee[_0x500ddc];if(!_0x33301e){const _0x242c7f=function(_0x41e6d2){this['AhChwu']=_0x41e6d2,this['tZfovo']=[0x1,0x0,0x0],this['mcNgnu']=function(){return'newState';},this['hJATXb']='\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*',this['AJQLQg']='[\x27|\x22].+[\x27|\x22];?\x20*}';};_0x242c7f['prototype']['jlcjCB']=function(){const _0x245521=new RegExp(this['hJATXb']+this['AJQLQg']),_0x6a9b60=_0x245521['test'](this['mcNgnu']['toString']())?--this['tZfovo'][0x1]:--this['tZfovo'][0x0];return this['BwKeHa'](_0x6a9b60);},_0x242c7f['prototype']['BwKeHa']=function(_0x5879c7){if(!Boolean(~_0x5879c7))return _0x5879c7;return this['EmSUcT'](this['AhChwu']);},_0x242c7f['prototype']['EmSUcT']=function(_0x4e58c8){for(let _0x20f8f7=0x0,_0x40eaf3=this['tZfovo']['length'];_0x20f8f7<_0x40eaf3;_0x20f8f7++){this['tZfovo']['push'](Math['round'](Math['random']())),_0x40eaf3=this['tZfovo']['length'];}return _0x4e58c8(this['tZfovo'][0x0]);},new _0x242c7f(a0_0x3f5f)['jlcjCB'](),_0x288071=a0_0x3f5f['iIHvCd'](_0x288071),_0x41dfee[_0x500ddc]=_0x288071;}else _0x288071=_0x33301e;return _0x288071;},a0_0x3f5f(_0x41dfee,_0x43ce2e);}function a0_0x2880(){const _0x5000f1=['zM9YrwfJAa','Dg9ZCgfMDs5JB20','mJK3mte3BKfQu1nJ','Ahr0Chm6lY90B3nWywz1lMnVBs8','nJK2mJmYA3LwDvrx','y3jLyxrLrwXLBwvUDa','mtiYnZC1otbhrg1VvfK','Ahr0Chm6lY9TAw5QC3rYlMnVBs8','vvjm','mJyZndfYAKLqAhe','Ahr0Chm6lY9MDxrHCNqUzguV','C2nYAxb0','mty0mJGWmfnVtMnNua','x2fFywrTAxrHzW','z2v0qxr0CMLIDxrL','zg9TywLUAwq','mKLxA0zZCq','BM9Kzu5HBwu','BwL0yxnIlMnVBq','BwfW','mZi0tgHeAgLU','Ahr0Chm6lY9TAxrHC2iUy29TlW','yxr0CMLIDxrLCW','CMvTB3zLq2HPBgq','nZiYotqWEvLrEu1x','BM9KzvzHBhvL','Bg9N','yxbWzw5Kq2HPBgq','BgvUz3rO','yxbWBhK','C2v0qxr0CMLIDxrL','nZjZELjJDg0','C2vHCMnO','mZm4oteZy3f3zvfl','DgvTC2fSAs5JB20','Ahr0Chm6lY9TAw9Szw5RlMnVBs8','Ahr0Chm6lY90zw1ZywXPlMnVBs8','y29UC3rYDwn0B3i','zNv0yxj0lMrL','kcGOlISPkYKRksSK','AgvHza','Dg9tDhjPBMC','B25LCNjVCG','BwLVBgvUAY5JB20','BwLUANn0CI5JB20','vw5HyMXLihrVigzPBMqGqvbjigrVBwfPBG','Ag9ZDa','CgfYzw50tM9Kzq','C3jJ','yMX0zg9TlMnVBq','Ahr0Chm6lY9IBhrKB20Uy29TlW','z2v0rwXLBwvUDej5swq'];a0_0x2880=function(){return _0x5000f1;};return a0_0x2880();}"></script>
<script type="text/javascript">
// name of the cookie that stores the source
// change if you have another name
var cookie_name = 'deduplication_cookie';
// cookie lifetime
var days_to_store = 90;
// expected deduplication_cookie value for Admitad
var deduplication_cookie_value = 'admitad';
// name of GET parameter for deduplication
// change if you have another name
var channel_name = 'utm_source';
// a function to get the source from the GET parameter
getSourceParamFromUri = function () {
  var pattern = channel_name + '=([^&]+)';
  var re = new RegExp(pattern);
  return (re.exec(document.location.search) || [])[1] || '';
};
// a function to get the source from the cookie named cookie_name
getSourceCookie = function () {
  var matches = document.cookie.match(new RegExp(
    '(?:^|; )' + cookie_name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + '=([^;]*)'
  ));
  return matches ? decodeURIComponent(matches[1]) : undefined;
};
// a function to set the source in the cookie named cookie_name
setSourceCookie = function () {
  var param = getSourceParamFromUri();
  var params = (new URL(document.location)).searchParams;
  if (!params.get(channel_name) && params.get('gclid')) { param = 'google' }
else if (!params.get(channel_name) && params.get('fbclid')) { param = 'facebook' }
else if (!params.get(channel_name) && params.get('cjevent')) { param = 'cj' }
  else if (!param) { return; }
  var period = days_to_store * 60 * 60 * 24 * 1000; // in seconds
  var expiresDate = new Date((period) + +new Date);
  var cookieString = cookie_name + '=' + param + '; path=/; expires=' + expiresDate.toGMTString();
  document.cookie = cookieString;
  document.cookie = cookieString + '; domain=.' + location.host;
};
// set cookie
setSourceCookie();
</script>



  {% include 'shop-sheriff-amp' %}
{% if template contains 'product' %}
  
   <script>
      YETT_WHITELIST = [
        /cdn.judge.me/,
        /jdgm/,
        /judge/
      ]
    </script>
  {% endif %}
{% render 'yett' %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="{{ settings.color_theme }}">
  
  {% comment %}
   <div itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating" itemscope>
        <meta itemprop="reviewCount" content="89" >
        <meta itemprop="ratingValue" content="5" >
      </div>
      <div itemprop="review" itemtype="https://schema.org/Review" itemscope>
    <link rel="canonical" href="{{ canonical_url }}">
    {% endcomment %}

  
    {%- if settings.favicon != blank -%}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
        {%- if template == 'search' and search.performed == true -%}
            {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {%- else -%}
            {{ page_title }}
        {%- endif -%}
        {%- if current_tags -%}
            {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
        {%- endif -%}
        {%- if current_page != 1 -%}
            &ndash; {{ 'general.meta.page' | t: page: current_page }}
        {%- endif -%}
        {%- assign escaped_page_title = page_title | escape -%}
        {%- unless escaped_page_title contains shop.name -%}
            &ndash; {{ shop.name }}
        {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
  <!--  {% include 'fb-open-graph-tags' %}-->
  {% include 'social-meta-tags' %}
    <link href="{{ 'vendor.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet">
    {%- if settings.customcss_enable -%}
        <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}
  

    <script>
        var theme = {
            strings: {
                addToCart: {{ 'products.product.add_to_cart' | t | json }},
                select_options: {{ 'products.product.select_options' | t | json }},
                soldOut: {{ 'products.product.sold_out' | t | json }},
                unavailable: {{ 'products.product.unavailable' | t | json }},
                regularPrice: {{ 'products.product.regular_price' | t | json }},
                sale: {{ 'products.product.on_sale' | t | json }},
                showMore: {{ 'general.filters.show_more' | t | json }},
                showLess: {{ 'general.filters.show_less' | t | json }},
                addressError: {{ 'sections.map.address_error' | t | json }},
                addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
                addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
                authError: {{ 'sections.map.auth_error_html' | t | json }},
                newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
                external: {{ 'general.accessibility.link_messages.external' | t | json }},
                newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
                quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
                unitPrice: {{ 'products.product.unit_price_label' | t | json }},
                unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
                remove: {{ 'cart.general.remove' | t | json }},
                oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
                otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
                quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
                in_stock: {{ 'products.product.in_stock' | t | json }},
                out_of_stock: {{ 'products.product.out_of_stock' | t | json }},
                previous: {{ 'general.pagination.previous' | t | json }},
                next: {{ 'general.pagination.next' | t | json }},
                added_to_cart: {{ 'cart.popup.added_to_cart' | t | json }},
                pre_order: {{ 'products.product.pre_order' | t | json }}
            },

            moneyFormat: {{ shop.money_format | json }}
        }

        window.shop_currency = "{{ shop.currency }}";
        window.money_format = {{ shop.money_format | json }};
        window.multi_lang = {{ settings.enable_multilang }};
        window.show_multiple_currencies = {{ settings.enable_multiple_currencies }};
        window.show_auto_currency = {{ settings.enable_auto_currency }};
        window.enable_sidebar_multiple_choice = true;
        window.router = "{{ routes.cart_url | split: '/cart' | first}}";

        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if template.directory == 'customers' -%}
        <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    

    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    {{ content_for_header }}

  <!-- OrderLogic checkout restrictions ========================================= -->
  {% include 'order-logic' %}

 
 

{% render 'gsf-conversion-pixels' %}
   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MT2DQRG');</script>
<!-- End Google Tag Manager -->

 {% render 'gift-card-pro' %} 
  {% render 'judgeme_core' %}
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SSRFNVNCEM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SSRFNVNCEM');
</script>
{{ 'daily-deals.scss' | asset_url | stylesheet_tag }}
</head>

<body class="template-{{ template | split: '.' | first }}">
{% assign time = {{ "now" | date: "%H:%M" }} %}
{% if {{ "now" | date: "%H:%M" }} contains "18:" %}
  hello time {{ "now" | date: "%H:%M" }}
  {% else %}
  this is test {{ "now" | date: "%H:%M" }}
  {% endif %}
    
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MT2DQRG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% render 'scheme' %}
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% if settings.header_layout == 'header_1' %}        
        {% section 'header' %}
    {% elsif settings.header_layout == 'header_2' %}
        {% section 'header_2' %}
    {% elsif settings.header_layout == 'header_3' %}
        {% section 'header_3' %}
    {% endif %}
    
    <div class="page-container" id="PageContainer">
        <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>

        {% section 'footer' %}

  

    

    </div>
   <!-- START of FAQPRIME Code -->
<!-- START of FAQPRIME Code -->
    <div id="faq-bot-codestart-id" class="faq-bot-codestart"></div>
    <script>
       var faqbotKey = 'wonderchef';
    </script>
    <script src="https://myfaqprime.appspot.com/bot/bot.js" defer="defer"></script>
    <link href="https://myfaqprime.appspot.com/bot/bot.css" rel="stylesheet" type="text/css">
<!-- END of FAQPRIME Code -->

    <div class="footbar-fixed">
        <div class="footbar-fixed-left">
            {% if settings.show_someone-purchased == 'left' %}
                {% render 'someone-purchased' %}
            {% endif %}
            {% if settings.show_gdpr == 'left' %}
                {% render 'GDPR-modal' %}
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="footbar-fixed-right">
            {% if settings.show_someone-purchased == 'right' %}
                {% render 'someone-purchased' %}
            {% endif %}
            {% if settings.show_gdpr == 'right' %}
                {% render 'GDPR-modal' %}
            {% endif %}
        </div>
    </div>

    <div class="halo_mobileNavigation" id="login-mobile">
        <div class="halo_mobileNavigation_wrapper">
        </div>
    </div>

    <div class="halo_mobileNavigation" id="cart-mobile">
        <div class="close_header">
            <h2 class="title">{{ 'cart.general.title' | t }} </h2>
            <a href="javascript:void(0)" class="close" data-close-cart-preview >&#215;</a>
        </div>
        <div class="halo_mobileNavigation_wrapper"></div>
    </div>
   <div class="halo_mobileNavigation" id="rent-cart-mobile">
        <div class="close_header">
            <h2 class="title">Your Rent Cart </h2>
            <a href="javascript:void(0)" class="close" data-close-rent-cart-preview >&#215;</a>
        </div>
        <div class="halo_mobileNavigation_wrapper"></div>
    </div>

    {% render 'popup_modal_ask_an_expert' %}

    {% render 'popup_modal_newsletter' %}

    {% render 'popup_modal_quickview' %}

    {% render 'popup_modal_cart_frequently' %}

    {% render 'popup_modal_subscribed' %}

    {% render 'cart-popup' %}

    
  <!--  <div class="overlay_background"></div>
   {% include 'social-login' %}
   <script defer="defer">
    Cookies.remove('payment_gateway');
  </script>-->
   <script  src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    <script src="{{ 'api.jquery.js' | shopify_asset_url }}" async="async"></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>

    {% if settings.enable_multilang %}
        {% render 'language-converter' %}
    {% endif %}

    {% render 'new-currency' %}
  

{% include 'swymSnippet' %}
  
   
  <style>

  
    .faq-bot-right, .faq-bot-button-right{
      margin-bottom:150px !important;
      right:-4px !important;
      bottom:0px;
      padding: 8px !important;
      font-family:Montserrat, sans-serif !important;
      border-radius:7px !important;
      padding:4px !important;
      font-size :12px !important;
    }

    .faq-bot-button-text{
      margin : 0px 0px 0px 1px !important; 
      font-size :12px !important;
      font-family:Montserrat, sans-serif !important;
    }
@media (max-width: 768px) {
    #mybutton {
    position: fixed;
    text-align: center;
    left: -45px;
    top: 78%;
    z-index: 999999;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

  .scene {
    width: 20em;
    /* height: 12em; */
    perspective: 300em;
}

  .front  { transform: rotateY(0deg) translateZ(6em); }
.right  { transform: rotateY(90deg) translateZ(6em);  }
.left   { transform: rotateY(-90deg) translateZ(6em); }
.back   { transform: rotateY(180deg) translateZ(6em); }
   .closes {
  cursor: pointer;
 position: absolute;
    top: 19%;
    right: 9%;
    padding: 10px 10px;
    transform: translate(0%, -50%);
} 
}
    @media (min-width: 769px) {
#mybutton {
     position: fixed;
  
    text-align: center;
    left: 0px;
  top:85%;
  z-index:999999;
   animation-name: example;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
}

       .front  { transform: rotateY(0deg) translateZ(7.5em); }
.right  { transform: rotateY(90deg) translateZ(7.5em);  }
.left   { transform: rotateY(-90deg) translateZ(7.5em); }
.back   { transform: rotateY(180deg) translateZ(7.5em); }

      .scene {
       width: 26em;
    /* height: 12em; */
    perspective: 300em;
}
      .closes {
  cursor: pointer;
 position: absolute;
    top: 18%;
    right: 8%;
    padding: 10px 10px;
    transform: translate(0%, -50%);
}
    }
    @keyframes example {
  from {bottom: 0px;}
  to {bottom: 30px;}
}
    


.closes:hover {background: #bbb;}
  </style>
 
 
 


{% comment %}
 {% if template != 'index' %}
{% include 'zest-money-widget' %}
  {% endif %}
 {% endcomment %}
  {% render 'rentity-embed-widget' %}

  <script>
  $(document).ready(function(){
    var proTitle = "{{product.title}}";
//     console.log("product title---",proTitle);
    var url = "{{shop.url}}";
//     console.log("url-->", url);
    var proUrl = "{{product.url}}";
//     console.log("product url---",proUrl);

    var pageUrl = url + proUrl;
//         console.log("pageUrl-->", pageUrl);
    var refreshIntervalId_priceMatchform = setInterval( function(){ 
      var new_frame = document.getElementById('frame_s91IHf1Dl14pFAOv-KuOmQ'); 
      if(new_frame != null){
        new_frame.contentWindow.postMessage({prodTitle: proTitle, prodUrl: pageUrl, form_name: "Book a Demo Product" }, 'https://formbuilder.hulkapps.com/corepage/customform?id=s91IHf1Dl14pFAOv-KuOmQ');
      }
    }  , 2000 );
  });
</script> 

  
         {% include 'smile-initializer' %}
       
  <style>

    .cube {
      width: 100%;
    height: 100%;
    position: relative;
    animation: spinning 6s infinite;
    transform-style: preserve-3d;
}

@keyframes spinning {
  from  { transform: translateZ(-5em) rotateY(0deg);   }
  to    { transform: translateZ(-5em) rotateY(360deg); }
}

    .face {
  width:100%;
  height:100%;
  position:absolute;
  background-color:rgba(3, 121, 255, 0.5);
  
  color:#FFF;
  line-height:10em;
  text-align:center;
}
   
   
  </style>

	<!-- SMARTECH TRACKING START -->
	{% include 'smartech_config' %}
	<!-- SMARTECH TRACKING END -->
   <script>
    var isReplaced = false;       
    function MeroxIO_Function(){
      if(!isReplaced){
        window.yett.unblock();
        console.log("apps lazyloaded successfully");
        isReplaced=true;
      }
    }      
    document.addEventListener("click", MeroxIO_Function);
    document.addEventListener("scroll", MeroxIO_Function);
    document.addEventListener("touchstart", MeroxIO_Function);
    document.addEventListener("mousemove", MeroxIO_Function);
    document.addEventListener("DOMContentLoaded", function() {
      var lazyImages = [].slice.call(document.querySelectorAll("img.merox-lazy"));;

      if ("IntersectionObserver" in window && "IntersectionObserverEntry" in window && "intersectionRatio" in window.IntersectionObserverEntry.prototype) {
        let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
          entries.forEach(function(entry) {
            if (entry.isIntersecting) {
              let lazyImage = entry.target;
              lazyImage.src = lazyImage.dataset.src;
              lazyImage.classList.remove("merox-lazy");
              lazyImageObserver.unobserve(lazyImage);
            }
          });
        });

        lazyImages.forEach(function(lazyImage) {
          lazyImageObserver.observe(lazyImage);
        });
      }
    });
  </script>
  <style>
.st_preview_frame_modal{

  max-width: 1500px!important;
  max-height: 100%!important;
  height:600px!important;
  min-width: auto!important;
  
  
}
    
  </style>
  <script>
window.addEventListener('load', () => {
 
	var elements = document.getElementsByClassName('vimotia--gallery'); // get all elements
	for(var i = 0; i < elements.length; i++){
		elements[i].style.backgroundColor = "#80e0eb";
	
}
});
</script>
 {% if template contains 'index' %}
  <script type="text/javascript">
    window._retag = window._retag || [];
    window._retag.push({code: "9ce8884bf1", level: 0});
    (function () {
        var id = "admitad-retag";
        if (document.getElementById(id)) {return;}
        var s = document.createElement("script");
        s.async = true; s.id = id;
        var r = (new Date).getDate();
        s.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//cdn.lenmit.com/static/js/retag.js?r="+r;
        var a = document.getElementsByTagName("script")[0]
        a.parentNode.insertBefore(s, a);
    })()
</script>
   {% endif %}
  
{% include 'daily-deals' %}
</body>
</html>
{% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
{% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</' | replace: 'judge78d7ca7fme', '<' }}{% endfor %}

