{% include 'setting-spacing' %}
{% include 'setting-background-color' %}

{% case section.settings.column %}
    {% when 1 %}
        {%- assign column = '1' -%}
    {% when 2 %}
        {%- assign column = '2' -%}
    {% when 3 %}
        {%- assign column = '3' -%}
    {% when 4 %}
        {%- assign column = '4' -%}
    {% when 5 %}
        {%- assign column = '5' -%}
{% endcase %}


{%- assign title_layout = title_layout | default: section.settings.title_layout -%}
{%- assign carousel = carousel | default: section.settings.layout -%}
{%- assign arrows = arrows | default: section.settings.carousel-arrows -%}
{%- assign dots = dots | default: section.settings.carousel-dots -%}

{% if section.settings.custom_color %}
    {% render 'customcolor_feature-image-row' %}
{% endif %}

<div class="halo-section  bbc example3 {{ padding_top }} {{ padding_bottom }} {{ background_color }} {{ border-top }} {{ border-bottom }}" data-section-id="{{ section.id }}" data-section-type="banner block 1">
    <div class="container">
   
        {% if section.settings.title != blank %}
            <div class="section-header
                {% case title_layout %}
                    {% when 'left' %} text-left
                    {% when 'center' %} text-center
                {% endcase %}">
                <h2>{% render 'multilang' with section.settings.title %}</h2>
            </div>
        {% endif %}

       <div class="container-new">
                <div class="half-column">
                          {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt, stretch_width: true %}
          </div>
          <div class="half-column content" style="padding:50px;">
               {% if section.settings.blog_title != blank %}
                  <a href="{{ section.settings.custom_link }}">
                <h3 class="title desktop-screen" style="font-size:24px;">
                    {% render 'multilang' with section.settings.blog_title %}
                </h3>
                  </a>
                {% endif %}
                 {% if section.settings.mobile_title != blank %}
                   <a href="{{ section.settings.custom_link }}">
                <h3 class="title mobile-screen" style="font-size:24px; margin-bottom:0px;">
                    {% render 'multilang' with section.settings.mobile_title %}
                </h3>
                   </a>
                {% endif %}
              {% if section.settings.description != blank %}
               <p class="desktop-screen">{% render 'multilang' with section.settings.description %}</p><br>
                {% endif %}
               {% if section.settings.blog_link != blank %}
                <a class="text-link desktop-screen" style="margin: initial; width: auto;" href="{{ section.settings.custom_link }}">
                {% render 'multilang' with section.settings.blog_link %}
                </a>
                {% endif %}
          </div>
           </div>
      
        {% if section.blocks.size > 0 %}
            <div class="halo-row halo-row-custom  column-{{ column }}">
                {% for block in section.blocks %}
                    <div class="halo-item cet">
                        <div class="layout-1">
                            <div class="image " style="text-align: center;">
                                {% if block.settings.link != blank %}
                                    <a class="img" href="{{ block.settings.link }}">
                                {% else %}
                                    <div class="img">
                                {% endif %}
                                    {% if block.settings.image != blank %}
                                        <img class="lazyload radius" src="{{ 'loading.svg' | asset_url }}" data-src="{{ block.settings.image | img_url: 'master'  }}" alt="" data-image>
                                    {% else %}
                                        <span class="recommended_size">370x110</span>
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                {% if block.settings.link != blank %}
                                    </a>
                                {% else %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="content">
                                {% if block.settings.title != blank %}
                                    {% if block.settings.link != blank %}
                                        <a class="title" href="{{ block.settings.link }}">
                                    {% else %}
                                        <h3 class="title">
                                    {% endif %}
                                        {% render 'multilang' with block.settings.title %}
                                    {% if block.settings.link != blank %}
                                        </a>
                                    {% else %}
                                        </h3>
                                    {% endif %}
                                {% endif %}
                                {% if block.settings.description != blank %}
                                    <p class="description">{% render 'multilang' with block.settings.description %}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
                
                  {% if section.settings.text_link != blank %}
               <center>
<a class="btn btn--secondary btn--big btn--big2" href="{{ section.settings.custom_link_1 }}">
                {% render 'multilang' with section.settings.text_link %}
                </a>
                 </center>
                {% endif %}
</div>

{% schema %}
{
    "name": "Banner blog",
    "max_blocks": 12,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Gray",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Banner Block 1"
        },
          {
            "type": "text",
            "id": "text_link",
            "label": "Text Link"
        },
      {
            "type": "url",
            "id": "custom_link_1",
            "label": "Link (Optional)"
        },
       {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Main Image"
                },
          {
            "type": "text",
            "id": "blog_title",
            "label": "Blog Title"
        },
       {
            "type": "text",
            "id": "mobile_title",
            "label": "Mobile Title"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
      {
            "type": "text",
            "id": "blog_link",
            "label": "Blog Link"
        },
        {
            "type": "url",
            "id": "custom_link",
            "label": "Link (Optional)"
        },
        {
            "type": "select",
            "id": "title_layout",
            "label": "Title Layout",
            "default": "left",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left",
                    "label": "Left"
                }
            ]
        },
        {
            "type": "header",
            "content": "Layout Column"
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column",
            "default": 3,
            "min": 1,
            "max": 5,
            "step": 1
        },
        {
            "type": "header",
            "content": "Block Style"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlays",
            "default": "dark",
            "options": [
                {
                    "label": "Dark",
                    "value": "dark"
                },
                {
                    "label": "Light",
                    "value": "light"
                }
            ]
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_heading_hover",
            "label": "Heading Color Hover"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        }
    ],
    "blocks": [
        {
            "type": "banner_block",
            "name": "Another Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link (Optional)"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description",
                    "default": "Image with text overlay"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Banner Blog",
            "category": "Banners",
            "blocks": [
                {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                }
            ]
        }
    ]
}
{% endschema %}

<style>
  .container-new{
    display: flex;
    margin-bottom: 40px;
    width: 100% !important;
    font-size: initial;

  }
  .half-column {
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .half-column img{
    border-radius:40px;
  }
  .mobile-screen{
    display:none;
  }

@media (max-width: 1025px){
  .container-new{
    display:block;
    padding:0 15px;
    margin-bottom: -15px;
    padding-top:23px;
  }
   .half-column{
     width: 100%;
    text-align: center;
    padding: 0px !important;
    display: block;
    margin-top: 5px;
  }
   .half-column .text-link{
     margin: 0 auto !important;
   }
  
 .half-column .image-element__wrap{
   width:100%;
   padding-bottom:5px;
 }
   .half-column img{
    border-radius:40px;
  }
  .desktop-screen{
    display:none;
  }
  .mobile-screen{
    display:block;
  }
}
</style>