{% include 'setting-spacing' %}
{% include 'setting-background-color' %}
<div class="halo-section newsletter-section {{ padding_top }} {{ padding_bottom }} {{ background_color }} {{ border-top }} {{ border-bottom }}">
    <div class="container">
        {% if section.settings.title != blank %}
            <div class="section-header text-center">
                <h2>{% render 'multilang' with section.settings.title %}</h2>
                {% if section.settings.description != blank %}
                    <p>{% render 'multilang' with section.settings.description %}</p>
                {% endif %}
            </div>
        {% endif %}
        {%- assign formId = 'Contact_' | append: section.id -%}
        {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
            {%- if form.posted_successfully? -%}
                <p class="form-message form-message--success" tabindex="-1" data-form-status {% if settings.enable_multilang %}data-translate="general.newsletter_form.confirmation"{% endif %}>
                    {{ 'general.newsletter_form.confirmation' | t }}
                </p>
            {%- endif -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                <input type="email"
                    name="contact[email]"
                    id="{{ formId }}-email"
                    class="input-group__field{% if form.errors %} input--error{% endif %}"
                    value="{{ form.email }}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="{{ formId }}-email-error"
                        data-form-status
                    {% endif %}
                    >
                <span class="input-group__btn">
                    <button type="submit" class="btn btn--primary" name="commit" id="Subscribe">
                        <span {% if settings.enable_multilang %}data-translate="general.newsletter_form.submit"{% endif %}>{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                </span>
            </div>
            {%- if form.errors contains 'email' -%}
                <span id="{{ formId }}-email-error" class="input-error-message">
                    {% render 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                </span>
            {%- endif -%}
        {% endform %}
    </div>
</div>

{% schema %}
{
    "name": "Newsletter",
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Gray",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Subscribe to our newsletter"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "A short sentence describing what someone will receive by subscribing"
        },
        {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
        }
    ],
    "presets": [
        {
            "name": "Newsletter",
            "category": "Promotional"
        }
    ]
}
{% endschema %}
