{% include 'setting-spacing' %}
{% include 'setting-background-color' %}

<div class="halo-section  {{ padding_top }} {{ padding_bottom }} {{ background_color }} " data-section-id="{{ section.id }}" data-section-type="banner block 1" style="text-align: center;">

  {% if section.settings.title != blank %}
            <div class="section-header
                {% case title_layout %}
                    {% when 'left' %} text-left
                    {% when 'center' %} text-center
                {% endcase %}">
                <h2 class="smart-title gradiant">{% render 'multilang' with section.settings.title %}</h2>
                {% if section.settings.text_link != blank %}
                    <a class="text-link" href="{{ section.settings.custom_link }}">
                        {% render 'multilang' with section.settings.text_link %}
                    </a>
                {% endif %}
                {% if section.settings.description != blank %}
                    <p>{% render 'multilang' with section.settings.description %}</p>
                {% endif %}
            </div>
        {% endif %}
  
  <div class="container" >
            <div id="demo" class="carousel slide" data-ride="carousel" >
                <div class="carousel-inner">
                  
                  {% for block in section.blocks %}
                  <div class="carousel-item container " id="myDiv{{ forloop.first}}">
                    <div class="shadow-smart " style="min-height: 250px!important;">
                         {% if block.settings.image != blank %}
                                        <img class="lazyload radius-smart marg image-shadow" src="{{ 'loading.svg' | asset_url }}" data-src="{{ block.settings.image | img_url: 'master'  }}" alt="" data-image>
                                    {% else %}
                                        <span class="recommended_size">370x110</span>
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                     
                     {% if block.settings.description != blank %}
                                    <p class="description" >{% render 'multilang' with block.settings.description %}</p>
                                {% endif %}
                      
                       <p class=" gradiant"><b>{% render 'multilang' with block.settings.name %}</b></p>
                    </div>   
                  </div>
                  {% endfor %}
                 
                 
               <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <i class='fas fa-arrow-left i'></i>
                </a>-->
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <i class='fas fa-arrow-right i'></i>
                </a>
              </div>
              
        </div>
</div>
</div>

        <style>

          .carousel-inner {
      overflow: inherit!important;
}

#demo{
       
    margin: auto;
   
}
.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 0px 8rem;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem;
}
@media(max-width:767px){
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 0px 2rem;
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem;
    }
}
.carousel-caption img{
    width: 500px;
    border-radius: 40px;
    margin-top: 2rem;
  margin-bottom: 2rem;
}
@media(max-width:767px){
    .carousel-caption img{
        width: 500px;
        border-radius: 40px;
        margin-top: 1rem;
      margin-bottom: 1rem;
    }
}
#image-caption{
    font-style: normal;
    font-size: 12px;
    margin-top: 0.5rem;
}
@media(max-width:767px){
    #image-caption{
        font-style: normal;
        font-size: 12px;
        margin-top: 0.5rem;
    }
}
.i{
    background-color: rgb(46 46 46);
    padding: 1.4rem;
    border-radius: 50%;
    color: #32c5ff;
}
@media(max-width:767px){
    .i{
      background-color: rgb(46 46 46);
   
    border-radius: 50%;
    color: #32c5ff;
        padding: 0.8rem;
    }
}
.carousel-control-prev{
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
 
}
.carousel-control-prev,.carousel-control-next{
    transition: none;
    opacity: unset;
  top: auto;
   right: 25px;
    bottom: 20px;
}
          
        </style>
        <script>
$(function() {
  $('#myDivtrue').addClass('active');
});
        </script>

        {% schema %}
{
    "name": "smart mobile testimonial",
    "max_blocks": 12,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Gray",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Banner Block 1"
        },
        {
            "type": "text",
            "id": "text_link",
            "label": "Text Link"
        },
        {
            "type": "url",
            "id": "custom_link",
            "label": "Link (Optional)"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "select",
            "id": "title_layout",
            "label": "Title Layout",
            "default": "left",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left",
                    "label": "Left"
                }
            ]
        }
       
    ],
    "blocks": [
        {
            "type": "banner_block",
            "name": "Testimonial",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
               
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name",
                    "default": "Name"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description",
                    "default": "Image with text overlay"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "smart-mobile-testimonial",
            "category": "Banners",
            "blocks": [
                {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                },
               {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                },
                {
                    "type": "banner_block"
                }
            ]
        }
    ]
}
{% endschema %}