<main id="maincontent" class="page-main"><!-- BLOCK amasty.promo.notification --><!-- /BLOCK amasty.promo.notification -->



  <!-- Page Wrapper Start -->
  <div class="page-wrapper stand-mixer-mainWrapper">
    <!-- Header Start here -->
    <div class="page-header stand-mixer-header">
      <div class="header_content">
        <div class="container">
          <!-- Logo Section Start -->
          <div class="col-md-5 col-sm-6 col-xs-6 logo_wrapper">
            <a href="https://www.wonderchef.com/" target="_blank">
              <img src="{{'header_logo_revo.png' | file_url }}' | file_url }}" alt="Wonderchef" title="Wonderchef">
            </a>
          </div>
          <!-- Logo Section Close -->
          <!-- Header Social Icons Section Start -->
          <div class="col-md-3 col-sm-6 col-xs-6 pull-right social_wrapper">
            <div class="header_social_icons">
              <ul>
                <li>
                  <a href="https://www.facebook.com/WonderchefLife/" target="_blank">
                    <img src="{{'revo_facebook.png' | file_url }}" alt="Facebook" title="Facebook">
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/wonderchef" target="_blank">
                    <img src="{{'new_revo_twitter.png' | file_url }}" alt="Twitter" title="Twitter">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/wondercheflife" target="_blank">
                    <img src="{{'revo_instagram.png' | file_url }}" alt="Instagram" title="Instagram">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Header Social Icons Section Close -->
          <div class="clearfix" style="clear: both;">

          </div>
        </div>
      </div>
    </div>
    <!-- Header Close here -->
    <!-- Main Banner Section start -->
    <div class="mainBanner-wrapper">
      <div class="success_msg_wrapper hide container">
        <div class="container extra_success_msg message-success success message">
          <div class="row">
            <div class="col-xs-12">
              <p>
                Thank you for your interest. Your details have been submitted. <br>To book the Revo Stand Mixer please 
                <a class="btn formbuilder-button button pay_now" target="_blank" href="https://cnmhacakgw.stores2.shoptimize.in/nutripotproduct?product_id=852">
                  <span>
                    <span>
                      PAY NOW
                    </span>
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-overly-bg">
        <div class="container">
          <div class="banner-content-wrapper">
            <div class="banner-text">
              <h2>
                The STAND MIXER for every home
              </h2>
              <h4>
                An affordable Atta Kneader for everyday use
              </h4>
            </div>
            <div class="banner-img">
              <img src="{{'stand_mixer_for_ref.png' | file_url }}" alt="" title="">
            </div>
          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
      <div class="banner-white-bg">
        <div class="container">
          <div class="buttons">
            <ul>
              <li class="arrow arrow-prev">
                <a href="#">
                  <img src="{{'prev-arrow.png' | file_url }}">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="{{'play_pause.png' | file_url }}" alt>
                </a>
              </li>
              <li class="arrow arrow-next">
                <a href="#">
                  <img src="{{'next-arrow.png' | file_url }}" alt>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Banner Section close -->
    <!-- Here why Its Work Section  Start -->
    <section class="itWorks-mainWrapper">
      <div class="container">
        <div class="title-wrap">
          <h3>
            Here’s why
          </h3>
          <h2>
            It works.
          </h2>
          <div class="title-icon-box">
            <img src="{{'icon.png' | file_url }}" alt="" title="">
          </div>
        </div>
        <div class="content-box">
          <p>
            REVO Stand Mixer &amp; Dough Kneader offers the performance of a powerful and expensive stand mixer at a really affordable price point. 
            This is made possible thanks to 3 innovations. Moving Head creates the effect of Planetary Motion, which ensures effective mixing of dough, eggs, cream etc.
          </p>
          <p>
            The patented Red Spatula ensures that the dough does not stick on the sides and gets kneaded properly to help make fabulous fluffy Rotis
            everytime. Rotating Stainless Steel Bowl completes the trinity of unique features that give REVO the performance usually found in mixers that cost 5 to 7 times more.
          </p>
        </div>
        <div class="preBook-btn-wrapper">
          <div class="pre-book">
            <h4>
              <a href="#preBookFormWrapper">
                Pre-Book your REVO now <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </h4>
          </div>
          <div class="watch-action">
            <a href="#" type="button" class="video-btn" data-toggle="modal" data-src="https://www.youtube-nocookie.com/embed/pcO1DzIhMqk" data-target="#watchAction">
              Watch it in action
              <span>
                <img src="{{'play-button.png' | file_url }}" alt>
              </span>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="watchAction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>        
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="" id="actionVideo" allowscriptaccess="always">></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>	
      </div>
      <div class="clearfix" style="color: both;">

      </div>
    </section>
    <!-- Here why Its Work Section close -->
    <!-- Tap to Explore Section start -->
    <section class="tapExplore-wrapper">
      <div class="overly-bg">
        <div class="container">
          <div class="explore-wrap">					
            <div class="col-sm-6 exploreText-wrap">
              <h3 style="text-align: center;">
                Tap +
              </h3>
              <h2>
                to explore
              </h2>
            </div>
            <div class="col-sm-6 exploreImage-wrap">
              <img src="{{'mixie.png' | file_url }}" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix" style="clear: both;">

      </div>
    </section>
    <!-- Tap to Explore Section Section close -->
    <!-- Mix Parts Section Section start -->
    <section class="mixParts-mainWrapper">
      <div class="container">
        <div class="parts-wrap">				
          <div class="col-sm-6 parts-img">
            <img src="{{'moving_head.jpg' | file_url }}" alt>
          </div>
          <div class="col-sm-6 parts-content-wrapper">
            <div class="title-box">
              <h2>
                moving head
              </h2>
            </div>
            <div class="content-box">
              <p>
                Truly an innovation from Wonderchef the moving head ensures complete coverage of the ingredients inside the large bowl, so that no part of that dough or cream is left untouched
              </p>
            </div>
          </div>
          <div class="clearfix" style="clear: both;">

          </div>
        </div>
        <div class="parts-wrap">
          <div class="col-sm-6 parts-img">
            <img src="{{'red_spatula.png' | file_url }}" alt>
          </div>
          <div class="col-sm-6 parts-content-wrapper">
            <div class="title-box">
              <h2>
                red spatula
              </h2>
            </div>
            <div class="content-box">
              <p>
                This patented innovation ensures the dough is not left sticking to the sides of the bowl, but is brought back into action repeatedly. This gives your cakes, rotis and other creations that professional touch
              </p>
            </div>
          </div>
          <div class="clearfix" style="clear: both;">

          </div>
        </div>
        <div class="parts-wrap">				
          <div class="col-sm-6 parts-img">
            <img src="{{'rotating_bowl.png' | file_url }}" alt>
          </div>
          <div class="col-sm-6 parts-content-wrapper">
            <div class="title-box">
              <h2>
                rotating
              </h2>
              <h2>
                stainless
              </h2>
              <h2>
                steel bowl
              </h2>
            </div>
            <div class="content-box">
              <p>
                The rotating bowl further enhances the effect of powerful mixers and moving head, and gives you the performance of an expensive stand mixer which may otherwise cost 5-7 times more
              </p>
            </div>
          </div>
          <div class="clearfix" style="clear: both;">

          </div>
        </div>
        <div class="parts-wrap">
          <div class="col-sm-6 parts-img">
            <img src="{{'dough_hooks.png' | file_url }}" alt>
          </div>
          <div class="col-sm-6 parts-content-wrapper">
            <div class="title-box">
              <h2>
                dough hooks
              </h2>
            </div>
            <div class="content-box">
              <p>
                Help you knead dough for every need – from soft Roti Atta to stiff baguette dough, whole grain rolls to pliant pizza dough, and cinnamon buns to garlic bread dough. The options are limitless
              </p>
            </div>
          </div>
          <div class="clearfix" style="clear: both;">

          </div>
        </div>
        <div class="parts-wrap">
          <div class="col-sm-6 parts-img">
            <img src="{{'beaters.png' | file_url }}" alt>
          </div>
          <div class="col-sm-6 parts-content-wrapper">
            <div class="title-box">
              <h2>
                beaters
              </h2>
            </div>
            <div class="content-box">
              <p>
                Mix cookie and cake batters, frostings; sweet and savory ingredients. Convert butter into warm citrus curd or mash boiled potatoes with butter and milk for a creamy comfort meal
              </p>
            </div>
          </div>
          <div class="clearfix" style="clear: both;">

          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
    </section>
    <!-- Mix Parts Section Section close -->
    <!-- strategy design Section start -->
    <section class="strategyMain-wrapper">
      <div class="container">
        <div class="strategwrap-box">
          <div class="strategy-content-wrap col-md-5 col-sm-6">
            <div class="logo-design-wrap">
              <img src="{{'new_italiano_logo.png' | file_url }}" alt="">
            </div>
            <div class="title-box">
              <h2>
                Strategy<br>
                <span>
                  then
                </span>
                design.
              </h2>
            </div>
            <div class="content-box">
              <p>
                Inspired by Italian Design and with German Quality Standards, this stand mixer is an eye-catching icon - a perfect fit for style-
                conscious food aficionados. Deck up your kitchen with a Stand Mixer you always wanted to possess.
              </p>
            </div>
          </div>
          <div class="strategy-video-wrap col-md-7 col-sm-6">
            <img src="{{'new_video_section.png' | file_url }}" alt data-video="https://www.youtube-nocookie.com/embed/N3T9QX4XoUs?autoplay=1' | file_url }}" alt="">
          </div>
          <div class="clearfix" style="clear: both;">

          </div>
        </div>
        <div class="clearfix" style="clear: both;">

        </div>
      </div>
    </section>
    <!-- strategy design Section start -->
    <!-- Pre Book footer form Section start -->
    <section class="preBook-form-wrapperMain" id="preBookFormWrapper">
      <div class="container">
        <div class="preBookWrapper">
          <div class="col-md-6 col-sm-6 preBook-img">
            <img src="{{'img-2.png' | file_url }}" alt>
          </div>
          <div class="col-md-6 col-sm-6 pull-right preBook-formWrap">					
            <div class="title-box">
              <span>
                Take your culinary brilliance to new heights
              </span>
              <h2>
                pre-book now							
              </h2>
              <strong>
                Revo
              </strong>
            </div>
            <div class="form-box">

              <div id="lofform1549101840163932298" class=" formbuilder-form  ">
                <div class="form-content">
                  <div class="formbuilder-loading"></div>
                  <form id="formbuilder1549101840163932298" class="formbuilder form" action="#" method="post" data-hasrequired="* Required Fields" enctype="multipart/form-data" novalidate="novalidate">
                    <input name="hideprice_id" id="hideprice_id" title="Hide Price" class="input-text" type="hidden">
                    <input name="entity_id" id="entity_id" title="Product ID" class="input-text" type="hidden">
                    <div class="form-list row">
                      <div class="field col-sm-12 ">
                        <div class="response-field-text">

                          <div class="subtemplate-wrapper" style="">
                            <label for="loffield_c115" class="required" style="">Name<em>*</em></label>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="subtemplate-inner">
                                  <input placeholder="Name" style="" name="loffield_c115" minlength="0" id="loffield_c115" title="Name" value="" class="input-text   validate-length validate-min-max required-entry maximum-length-100" type="text" data-units="characters">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field col-sm-12 ">
                        <div class="response-field-text">

                          <div class="subtemplate-wrapper" style="">
                            <label for="loffield_c215" class="required" style="">Address<em>*</em></label>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="subtemplate-inner">
                                  <input placeholder="Address" style="" name="loffield_c215" minlength="0" id="loffield_c215" title="Address" value="" class="input-text   validate-length validate-min-max required-entry maximum-length-100" type="text" data-units="characters">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field col-sm-6 ">
                        <div class="response-field-number">
                          <div class="subtemplate-wrapper" style="">
                            <label for="loffield_c315" style="" class="required">Contact<em>*</em></label>
                            <div class="row">
                              <div class="input-box col-sm-12">
                                <div class="subtemplate-inner">
                                  <input name="loffield_c315" placeholder="Contact" id="loffield_c315" style="" title="Contact" value="" class="input-text required-entry validate-number validate-min-max minimum-length-1 maximum-length-10" type="text">
                                </div>
                              </div>
                            </div>
                          </div>								</div>
                      </div>
                      <div class="field col-sm-6 ">
                        <div class="response-field-email">
                          <div class="subtemplate-wrapper" style="">
                            <label for="loffield_c415" style="" class="required">Email<em>*</em></label>
                            <div class="row">
                              <div class="input-box col-sm-12">
                                <div class="subtemplate-inner">
                                  <input name="loffield_c415" placeholder="Email" id="loffield_c415" style="" title="Email" value="" class="input-text required-entry validate-email" type="text">
                                </div>
                              </div>
                            </div>
                          </div>								</div>
                      </div>
                      <input type="hidden" name="return_url" value="https://cnmhacakgw.stores2.shoptimize.in/revo_stand_mixer">
                    </div>
                    <div class="row">
                      <div class="buttons-set col-sm-12">
                        <input type="hidden" name="formId" id="hideit" value="15">
                        <button type="submit" title="Submit" style="   " class="formbuilder-button button"><span><span>
                          Submit																	</span></span></button>
                      </div>
                    </div>
                  </form>
                </div>	
              </div>
              <style>
                #lofform1549101840163932298 .formbuilder button[type="submit"]:hover {
                }
                #lofform1549101840163932298 .form-content  input:hover,
                #lofform1549101840163932298 .form-content .input-box:hover textarea  {
                }
              </style>


              <div class="pay_now_button">
                <a class="btn formbuilder-button button pay_now" href="https://cnmhacakgw.stores2.shoptimize.in/nutripotproduct?product_id=852">
                  <span>
                    <span>
                      PAY NOW
                    </span>
                  </span>
                </a>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Pre Book footer form Section start -->
    <div class="page-footer-wrapper">
      <!-- Footer section start -->
      <footer class="page-footer new_footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
              <div class="footer_logo">	
                <img src="{{'footer_logo_revo.png' | file_url }}" alt="wonderchef">
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8">
              <div class="footer_links">
                <div class="static_links">
                  <ul>
                    <li>
                      <a href="https://www.wonderchef.com/about-us" target="_blank"> 
                        About us 
                      </a>
                    </li>
                    <li>
                      <a href="https://www.wonderchef.com/cookware.html" target="_blank"> 
                        cookware 
                      </a>
                    </li>
                    <li>
                      <a href="https://www.wonderchef.com/appliances.html" target="_blank"> 
                        APPLIANCES 
                      </a>
                    </li>
                    <li>
                      <a href="https://www.wonderchef.com/offer.html" target="_blank"> 
                        offers 
                      </a>
                    </li>
                    <li>
                      <a href="https://www.wonderchef.com/contact-us" target="_blank"> 
                        contact us 
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6 copyrights_section">
              <p>Copyrights © 2018 All Rights Reserved by Wonderchef</p>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-6 mailid_section">
              <a href="mailto:marketing@wonderchef.in">
                marketing@wonderchef.in
              </a>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer section end -->
    </div>
  </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <style>
      [data-aos] {
        visibility: hidden;
      }
      [data-aos].animated {
        visibility: visible;
      }
    </style>
 
  <div class="aos-all">
      <div data-id="1" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="2" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="3" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="4" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="5" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="6" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="7" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="8" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="9" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="10" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="11" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="12" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="13" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="14" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="15" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="16" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="17" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="18" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="19" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="20" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="21" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="22" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="23" class="aos-item" data-aos="fadeInUp"></div>
      <div data-id="24" class="aos-item" data-aos="fadeInUp"></div>
    </div>

 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      if (!window.Cypress) AOS.init({
        useClassNames: true,
        initClassName: false,
        animatedClassName: 'animated',
      });
    </script>
</main>
<!-- Page Wrapper Close -->
<style type="text/css">
  body{
    font-family: 'Century Gothic' !important;
  }
  @font-face {
  font-family: 'CenturyGothic';
  src: url('CenturyGothic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
  #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #e31e24;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    svg {
      width: 16px;
      color: #fff;
      height: 40px;
    }

    &.show {
      opacity: 1;
    }
  }
  #maincontent.page-main{
    max-width: 100% !important;
    padding: 0;
  }
  #maincontent.page-main .columns .column.main{
    padding-bottom: 0;
  }
  .stand-mixer-mainWrapper .stand-mixer-header {
    padding: 0px;
    border: none;
    margin: 0px;
    position: fixed;
    left: 0;
    right: 0;top:0;
    background-color: #fff;
    z-index: 99999;
  }
  .stand-mixer-mainWrapper .stand-mixer-header.sticky{
    height: auto;
    left: 0;
  }
  .stand-mixer-mainWrapper .stand-mixer-header .header_content {
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px 0px;
  }
  .stand-mixer-mainWrapper .stand-mixer-header .header_content .logo_wrapper a img {
    max-width: 100%;
  }
  .stand-mixer-mainWrapper .stand-mixer-header .header_content .social_wrapper {
    text-align: right;
  }
  .stand-mixer-mainWrapper .stand-mixer-header .header_content .social_wrapper .header_social_icons ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .stand-mixer-mainWrapper .stand-mixer-header .header_content .social_wrapper .header_social_icons ul li {
    display: inline-block;
    vertical-align: top;
    width: 43px;
    height: 43px;
    margin-left: 20px;
    margin-top: 12px;
  }
  .stand-mixer-mainWrapper .stand-mixer-header .header_content .social_wrapper .header_social_icons ul li a {
    display: block;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper {
    position: relative;
    margin-top: 90px;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-overly-bg {
    background: url({{'main_wave.png' | file_url }}) no-repeat;
    background-color: #c42329;
    position: relative;
    height: 600px;
    background-size: 100% 100%;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-img img {
    width: 25%;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper {
    text-align: center;
    margin: 65px 0 0 0;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-text h2 {
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
    font-size: 58px;
    color: #fff;
    margin: 0px;
    padding: 0px;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-text h4 {
    margin: 0px;
    padding: 0px;
    line-height: normal;
    letter-spacing: -1.1px;
    font-size: 52px;
    color: #f9d678;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-img {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg {
    height: 180px;
    background: #fff;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons {
    text-align: right;
    margin: 50px 10px 0 0;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    position: relative;
    z-index: 9999;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul li {
    display: inline-block;
    vertical-align: top;
  }
  .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul li.arrow {
    margin: 12px 20px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper {
    background: #c3242b;
    padding: 50px 0px 40px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap {
    text-align: center;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h3, .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h2 {
    margin: 0px;
    padding: 0px;
    color: #fff;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-top: -6px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap .title-icon-box {
    margin: 10px 0px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .content-box {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #fff;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .content-box p {
    margin-bottom: 25px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper {
    text-align: center;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .pre-book {
    margin: 30px 0px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .pre-book h4 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .pre-book h4 a {
    color: #ffeac0;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action {
    text-align: center;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action a {
    display: inline-block;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #ffeac0;
    text-decoration: none;
  }
  .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg {
    background: url({{'explore_Wave.png' | file_url }}) no-repeat;
    padding: 100px 0px 240px;
    background-size: 100% 100%;
  }
  .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap {
    margin-top: 210px;    text-align: center;
  }
  .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h3, .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h2 {
    margin: 0px;
    padding: 0px;
    color: #fff;
  }
  .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h3 {
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
  }
  .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h2 {
    font-size: 75px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper {
    padding: 100px 0px;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap {
    margin-bottom: 100px;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .title-box {
    margin-bottom: 5px;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .title-box h2 {
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #242424;
    text-transform: uppercase;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .content-box {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #242424;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(odd) .parts-content-wrapper {
    text-align: right;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(even) .parts-img {
    float: right !important;
    text-align: right;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(even) .parts-content-wrapper {
    float: left !important;
    text-align: left;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper {
    background: #c42329;
    padding: 100px 0px;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-content-wrap .title-box {
    margin-bottom: 25px;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-content-wrap .title-box h2 {
    margin: 0px;
    padding: 0px;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-content-wrap .title-box h2 span {
    font-weight: 400;
    font-size: 28px;
    vertical-align: middle;
    text-transform: none;
    display: inline-block;
    margin-left: 15px;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-content-wrap .content-box {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #fff;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain {
    margin: 100px 0px;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-img img {
    max-width: 100%;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box span {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #424242;
    display: block;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #242424;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;
    margin: 0px;
    padding: 0px;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box strong {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;
    color: #c42329;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper label {
    display: none;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner input, .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner textarea {
    border: 1px solid #232323;
    padding-left: 25px;
    color: #000;
    height: 74px !important;
    font-size: 19px;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field {
    margin-bottom: 30px;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner input::placeholder, .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner textarea::placeholder {
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #232323;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .buttons-set button , .formbuilder.form .buttons-set button:hover {
    background-color: #242424;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    width: auto;
    padding: 15px;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .buttons-set button span {
    padding: 0 !important;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper form.formbuilder.form:after {
    display: none;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .title-box {
    margin-bottom: 30px;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap{
    padding-left: 50px;
  }
  .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-img{
    padding-right: 45px;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer {
    padding: 50px 0px 80px;
    background-color: #c42329;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer hr {
    border-color: #fff;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_links ul {
    list-style-type:  none;
    padding-left:  0;
    float:  right;
    margin-bottom:  0;
    margin-top: 30px;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_links ul li {
    float:  left;
    padding: 0 10px;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_links ul li a {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.88);
    text-transform:  uppercase;
    font-weight:  400;
    text-decoration: none;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_logo {
    padding-top: 15px;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer .copyrights_section p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.88);
    font-weight: 400;
  }
  .stand-mixer-mainWrapper footer.page-footer.new_footer .mailid_section a{
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    float: right;
    color: rgba(255, 255, 255, 0.88);
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box {
    display: flex;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action button.close {
    position: absolute;
    right: -35px;
    color: #fff;
    opacity: 1;
    top: -1px;
    font-size: 25px;
    border: none !important;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 0;
    font-weight: normal;
    box-shadow: none;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action button.close:hover {
    background-color: #000;
    border: none;
    color: #fff;
    opacity: 1;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action #watchAction {
    background-color: rgba(0,0,0,0.6);
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action .modal-content {
    border-radius: 0;
  }
  .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action #watchAction .modal-dialog {
    top: 25%;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .logo-design-wrap {
    margin-bottom: 40px;
  }
  .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-video-wrap  {
    padding-left: 30px;
    padding-top: 50px;
  }
  .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(1) .parts-content-wrapper, .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(2) .parts-content-wrapper {
    padding-top: 70px;
  }
  body .messages .message-success{
    z-index: 9999999999999;
  }
  .stand-mixer-mainWrapper .pay_now_button{
    display: none;
  }
  .stand-mixer-mainWrapper .pay_now_button.show_pay_now{
    display: block;
    margin-top: 20px;
  }
  .stand-mixer-mainWrapper button.formbuilder-button.button.success_button {
    display:  none;
  }
  .stand-mixer-mainWrapper .success_msg_wrapper {
    text-align: center;
    background-color: #fff;
    border: 1px dashed #000;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .stand-mixer-mainWrapper .container.extra_success_msg.message-success.success.message {
    background-color: #fff;
    padding: 6px 0;
    padding-left: 40px;
    margin-bottom: 0;
    display: inline-block !important;
    width: auto;
    border: none;
    line-height: 30px;
  }
  .stand-mixer-mainWrapper .container.extra_success_msg.message-success.success.message p {
    margin-bottom: 0;
  }
  .stand-mixer-mainWrapper a.btn.formbuilder-button.button.pay_now {
    background-color: #242424 !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 2px;
    font-weight: 600;
    border: 0;
    padding: 10px 20px;
    text-align: center;
    margin-left: 5px;
    font-weight: normal;
  }
  .stand-mixer-mainWrapper .pay_now_button.show_pay_now a.btn.formbuilder-button.button.pay_now {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    line-height: normal;
  }
  @media(max-width: 1100px){
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap {
      padding-left: 15px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-img {
      padding-right: 15px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box h2 {
      font-size: 45px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box strong {
      font-size: 45px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box span {
      font-size: 20px;
    }
  }
  @media(max-width: 1100px) and (min-width: 901px){
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap {
      margin-top: 100px;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h2 {
      font-size: 65px;
    }
  }
  @media(max-width: 900px){
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box {
      display: inline-block;
      width: 100%;
    }
  }
  @media(max-width: 900px) and (min-width: 701px){
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper {
      margin-top: 40px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-img {
      width: 50%;
      margin: 0 auto;
      bottom: -70px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-overly-bg {
      height: 660px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg {
      height: 140px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons {
      margin-top: 40px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .content-box {
      font-size: 25px;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h3 {
      font-size: 40px;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h2 {
      font-size: 50px;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap {
      margin-top: 120px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .title-box h2 {
      font-size: 40px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .content-box {
      font-size: 24px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper {
      padding-bottom: 0;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategy-content-wrap {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategy-video-wrap {
      width: 100%;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBook-img {
      width: 100%;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBook-img img {
      width: 100%;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBook-formWrap {
      width: 100%;
      margin-top: 50px;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_links ul li a {
      font-size: 18px;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_links ul li {
      width: 50%;
    }
  }
  @media(max-width: 700px){
    .stand-mixer-mainWrapper .stand-mixer-header .header_content .social_wrapper .header_social_icons ul li {
      width: 25px;
      margin: 0;
      height: auto;
      margin-left: 10px;
    }
    .stand-mixer-mainWrapper .stand-mixer-header {
      height: 65px;
      box-shadow: 0 0px 15px 0 rgba(0,0,0,0.5);
    }
    .stand-mixer-mainWrapper .stand-mixer-header .header_content {
      padding: 20px 0;
    }
    body {
      padding-top: 0;
    }
    #maincontent.page-main {
      margin-top: 65px !important;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper {
      margin-top: 0;
    }
    #maincontent.page-main .columns .column.main {
      padding-top: 0;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-text h2 {
      color: #fff !important;
      font-size: 20px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-text h4 {
      color: #f9d678 !important;
      font-size: 20px;
      font-weight: normal;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper {
      margin-top: 25px;
      padding: 0 10px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-overly-bg {
      height: 270px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg {
      height: 50px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-img {
      width: 100%;
      right: 0;
      left: 0;
      bottom: -40px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-content-wrapper .banner-img img {
      width: 170px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons {
      margin-right: 0;
      margin-top: 0;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul {
      width: 100%;
      text-align: right;
      margin-top: 12px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h3 {
      font-size: 20px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h3, .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h2 {
      color: #fff !important;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap h2 {
      font-size: 30px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .title-wrap .title-icon-box {
      padding: 0 50px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .content-box p {
      font-size: 14px !important;
      padding: 0 50px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .pre-book h4 {
      font-size: 14px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .pre-book {
      margin-bottom: 10px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action a {
      font-size: 14px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper {
      padding-bottom: 10px;
    }
    .stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .watch-action a span img {
      width: 25px;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg {
      padding: 0;
      padding-bottom: 100px;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h3 {
      font-size: 19px;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h3, .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h2 {
      color: #fff !important;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap h2 {
      font-size: 28px;
      text-align: center;
    }
    .stand-mixer-mainWrapper .tapExplore-wrapper .overly-bg .explore-wrap .exploreText-wrap {
      margin-top: 60px;
      margin-bottom: 30px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .title-box h2 {
      font-size: 20px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .content-box {
      font-size: 14px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap {
      margin-bottom: 35px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(odd) .parts-content-wrapper h2 {
      display: inline-block;
      text-align: center;
      margin: 0;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-content-wrapper .title-box {
      text-align: center;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper {
      padding-bottom: 0px;
      padding-top: 30px;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap .parts-img img {
      margin-bottom: 20px;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper {
      padding: 30px 0;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-content-wrap .title-box h2 {
      color: #fff !important;
      font-size: 28px;
      text-align: center;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .logo-design-wrap {
      text-align: center;
      margin-bottom: 20px;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-content-wrap .title-box h2 span {
      font-size: 14px;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-content-wrap .content-box {
      font-size: 14px;
      margin-bottom: 40px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain {
      margin: 50px 0;
      margin-bottom: 0;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box span {
      font-size: 20px;
      margin-top: 30px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box h2 {
      color: #242424 !important;
      font-size: 30px;
      margin-top: 20px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .preBook-formWrap .title-box strong {
      font-size: 30px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner input, .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner textarea {
      height: auto !important;
      padding: 5px;
      font-size: 14px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner input::placeholder, .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field .subtemplate-wrapper .subtemplate-inner textarea::placeholder{
      font-size: 14px;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .form-list .field {
      margin-bottom: 20px;
      min-height: auto;
    }
    .stand-mixer-mainWrapper .preBook-form-wrapperMain .preBookWrapper .formbuilder.form .buttons-set button, .formbuilder.form .buttons-set button:hover {
      font-size: 14px;
      padding: 5px 20px;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer {
      margin: 25px 0px;
      margin-bottom: -22px;
      padding: 20px;
      padding-top: 0;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_logo {
      padding: 30px;
      padding-bottom: 0;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_links ul li a {
      font-size: 12px;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .footer_links ul li {
      width: 50%;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .copyrights_section p {
      font-size: 12px !important;
      text-align: center !important;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .mailid_section a {
      font-size: 12px;
      float: none;
    }
    .stand-mixer-mainWrapper footer.page-footer.new_footer .mailid_section {
      text-align: center;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul li a img {
      width: 100%;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul li {
      margin-bottom: 0;
      text-align: center;
      width: 25px;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul li.arrow a img{
      width: 40%;
    }
    .stand-mixer-mainWrapper .mainBanner-wrapper .banner-white-bg .buttons ul li.arrow {
      margin: 0;
    }
    .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(1) .parts-content-wrapper, .stand-mixer-mainWrapper .mixParts-mainWrapper .parts-wrap:nth-of-type(2) .parts-content-wrapper {
      padding-top: 0;
    }
    body .messages .message-success {
      position: absolute;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .strategy-video-wrap {
      padding: 0px 15px 5px;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .logo-design-wrap img {
      width: 60%;
    }
    .stand-mixer-mainWrapper .strategyMain-wrapper .strategwrap-box .logo-design-wrap {
      margin-bottom: 10px;
    }
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    //strategy video script starts here//
    jQuery('.stand-mixer-mainWrapper .strategyMain-wrapper .strategy-video-wrap img').click(function(){
      var video = '<iframe width="100%" height="100%" frameborder="0" src="'+ jQuery(this).attr('data-video') +'"></iframe>';
      jQuery(this).replaceWith(video); 
    });
    //strategy video script ends here//

    //watch action video script starts here//
    jQuery(document).ready(function() {
      // Gets the video src from the data-src on each button
      var $videoSrc;  
      jQuery('.video-btn').click(function() {
        $videoSrc = jQuery(this).data( "src" );
      });
      console.log($videoSrc);
      //vwhen the modal is opened autoplay it  
      jQuery('#watchAction').on('shown.bs.modal', function (e) {

        // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
        jQuery("#actionVideo").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" ); 
      })
      // stop playing the youtube video when I close the modal
      jQuery('#watchAction').on('hide.bs.modal', function (e) {
        // a poor man's stop video
        jQuery("#actionVideo").attr('src',$videoSrc); 
      })
      // document ready  
    });
    //watch action video script ends here//

    //onclick scroll script starts here//
    jQuery(".stand-mixer-mainWrapper .itWorks-mainWrapper .preBook-btn-wrapper .pre-book h4 a").click(function() {
      jQuery('html,body').animate({
        scrollTop: jQuery("#preBookFormWrapper").offset().top - 140},
                                  2000);
    });
    //onclick scroll script ends here//
  });
</script>

</div></div></main>