<a name="pagecontent" id="pagecontent"></a>
<div class="sixteen columns  clearfix mobile_hidden">
  <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link">
        <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
      </a>
      <meta itemprop="position" content="1" />
    </span>
    <span class="breadcrumb-divider">/</span>
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="{{ page.url }}" itemprop="item" class="breadcrumb_link">
        <span itemprop="name">{{ page.title }}</span>
        <meta itemprop="position" content="3" />
      </a>
    </span>
  </div><br>
</div>

<div class="sixteen columns clearfix">

 <div class="faq-body pt-0 p-0 clearfix">
<div class="faq-header">
<img class="w-100 img-responsive mob_show_block" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="//d4r5n3k3.rocketcdn.me/wp-content/uploads/2020/09/faq-header.png"><noscript><img class='w-100 img-responsive mob_show_block' src='//d4r5n3k3.rocketcdn.me/wp-content/uploads/2020/09/faq-header.png' alt='' /></noscript>
<img class="w-100 img-responsive desk_show_block" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="//d4r5n3k3.rocketcdn.me/wp-content/uploads/2020/09/faq-header-desktop.png"><noscript><img class='w-100 img-responsive desk_show_block' src='//d4r5n3k3.rocketcdn.me/wp-content/uploads/2020/09/faq-header-desktop.png' alt='' /></noscript>
</div>
<div class="search-wrap mt-5">
<div class="search-input">
<input type="search" placeholder="How can we help you?" class="faq-search-bar">
<i class="fa fa-search input-addon"></i>
</div>
<div class="search-results   p-3 w-100"><div class="search-result p-1 w-100">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collosr000">
                <h4 class="panel-title"> Can the weighted blanket be returned?
                </h4><i class="fa float-right" aria-hidden="true"></i>
              </a>
            </div>
            
            <div id="collosr000" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="title">No, the weighted blanket does not have a return policy. It comes with a 1 year manufacturer warranty that only covers manufacturing defects. Any wear and tear caused later will not be covered. </p>
              </div>
            </div>
          </div>
      </div></div>
</div>
<div class="container pt-5 pb-5">
<div class="row col-12 col-md-9 mx-auto">
<div class="col-12 col-md-4 faq-menu">
<div class="drop-down w-100">
<div id="dropDown" class="drop-down__button w-100">
<span class="drop-down__name">Popular Questions</span> <i class="fa fa-angle-down float-right"></i>
</div>
<div class="drop-down__menu-box">
<ul class="drop-down__menu">
<li data-name="0" data-faq="0" class="drop-down__item fq-show">Popular</li>
<li data-name="1" data-faq="1" class="drop-down__item fq-show">Accessories queries</li>
<li data-name="2" data-faq="2" class="drop-down__item fq-show">Mattress queries</li>
<li data-name="3" data-faq="3" class="drop-down__item fq-show">Payment and Shipping</li>
<li data-name="4" data-faq="4" class="drop-down__item fq-show">Warranty and Returns</li>
<li data-name="5" data-faq="5" class="drop-down__item fq-show">Bedbase queries</li>
<li data-name="6" data-faq="6" class="drop-down__item fq-show">Pet Bed queries</li>
<li data-name="7" data-faq="7" class="drop-down__item fq-show">Weighted Blanket queries</li>
</ul>
</div>
</div>
<ul class="nav nav-pills nav-stacked">
<li class="d-block w-100"><span data-faq="0" class="faq-show active"> Popular </span></li>
<li class="d-block w-100"><span data-faq="1" class="faq-show "> Accessories queries </span></li>
<li class="d-block w-100"><span data-faq="2" class="faq-show "> Mattress queries </span></li>
<li class="d-block w-100"><span data-faq="3" class="faq-show "> Payment and Shipping </span></li>
<li class="d-block w-100"><span data-faq="4" class="faq-show "> Warranty and Returns </span></li>
<li class="d-block w-100"><span data-faq="5" class="faq-show "> Bedbase queries </span></li>
<li class="d-block w-100"><span data-faq="6" class="faq-show "> Pet Bed queries </span></li>
<li class="d-block w-100"><span data-faq="7" class="faq-show "> Weighted Blanket queries </span></li>
</ul></div>
<div id="accordion" class="panel-group faq col-12 col-md-8">
<div class="faq-container d-block" data-faqc="0">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div0">
<h4 class="panel-title">How does the 30 nights trial work? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">It's simple. You make the purchase and get to try the SleepyCat mattress for 30 nights at the comfort of your own home. If you are not convinced of your SleepyCat mattress, you can return it for any reason with a 100% refund. Please note - this policy is not applicable on custom sized mattresses, baby mattresses, accessories. Please refer to our <a href="https://sleepycat.in/fine-print/">policy</a> for more details</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div1">
<h4 class="panel-title">Are the accessories also part of the return policy? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">No, the free trial policy is not applicable to SleepyCat accessories. For more information, <a href="https://sleepycat.in/fine-print/">click here</a></p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div2">
<h4 class="panel-title">Is buying from the SleepyCat website different from buying from other platforms? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes! Ordering directly from SleepyCat means direct interaction with our friendly support team. Direct communication with us always leads to a faster resolution. Also, you cannot place custom orders via other channels. Purchases made through other channels will have only their promotional offers. And most importantly, the 30 nights free trial is only applicable on SleepyCat website orders.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div3">
<h4 class="panel-title">Do you provide COD? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div3" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">No, we do not have COD but all our online payment options are easy and hassle-free!</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div4">
<h4 class="panel-title">How firm or soft is the mattress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div4" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Amongst the variants, The Original - 15.24cm (6-inch) and The Latex mattresses are on the firmer side. If you prefer a plush, softer version, we recommend the SleepyCat Original Plus - 20.32cm (8-inch) variant.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div5">
<h4 class="panel-title">Do you have a physical store? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div5" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">SleepyCat is completely an online brand. We have no middlemen, hence, we pass on the benefit of cost to our customers.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div6">
<h4 class="panel-title">Can I get an extra cover along with the mattress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div6" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Sorry, there's no extra cover that comes along. But if you'd like to buy a spare one, contact us directly.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo0div7">
<h4 class="panel-title">What is the difference between Gel Memory Foam and Latex? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo0div7" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Gel Memory foam offers pressure-relieving qualities and motion isolation to improve sleep quality. Whereas, our Latex mattress comes with a 5.08cm (2-inch) layer of 100% organic latex, divided in 7-zones to support the different pressure points of your body. <a href="https://sleepycat.in/mattresses/">Click here</a> for a detailed comparison.</p>
</div>
</div>
</div>
</div>
<div class="faq-container d-none" data-faqc="1">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div0">
<h4 class="panel-title">Are SleepyCat pillows suitable for side and front sleepers? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, they are suitable for all types of sleepers.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div1">
<h4 class="panel-title">Can I buy an extra pillow cover? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, additional covers can be purchased as an add-on from the respective pillow page.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div2">
<h4 class="panel-title">Is the SleepyCat Cloud pillow soft? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes. The Cloud pillow is soft, however you can adjust its firmess. It is the softest when unzipped but it can be adjusted to firm by zipping it up.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div3">
<h4 class="panel-title">What size covers fit the pillows? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div3" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Standard pillow covers of 45.72cm x 71.12cm (18x 28 inches) fit our Cloud and Memory foam Pillow. SleepyCat Cuddle pillow cover size is 50.8cm x 132.08cm (20 x 52 inches).</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div4">
<h4 class="panel-title">Can the pillows be washed? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div4" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">SleepyCat Cloud pillow and Cuddle pillow can be machine washed separately on a gentle cycle. In SleepyCat memory foam pillow only the zipper cover is washable. Please read the care intructions here.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div5">
<h4 class="panel-title">How long does the pillows take for uncompression? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div5" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">SleepyCat memory foam pillow can be used straight away. Our Cloud and Cuddle pillows take about 12 hours to uncompress after being opened. You should fluff the pillows by pressing the corners towards the center and straighten them out allowing air to pass through during the process.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div6">
<h4 class="panel-title">Can you customise the accessories? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div6" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Sorry! Customisation is available on mattresses only.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div7">
<h4 class="panel-title">Is the Cuddle pillow suitable for maternity? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div7" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, it is a support pillow that can be used for maternity.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div8">
<h4 class="panel-title">Can the SleepyCat comforter be machine washed? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div8" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes it can be machine washed.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div9">
<h4 class="panel-title">Can SleepyCat comforter be used with a cover? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div9" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes there are loops at all four corners which can be used to keep it in place when put inside a cover.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div10">
<h4 class="panel-title">Is the comforter waterproof? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div10" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">No it is not waterproof, but it is quick drying.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div11">
<h4 class="panel-title">Can the comforter be used in cold &amp; hot climate? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div11" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes it is a light weight all season comforter.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo1div12">
<h4 class="panel-title">Is the protector waterproof? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo1div12" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, the Sleepycat Mattress protector is waterproof.</p>
</div>
</div>
</div>
</div>
<div class="faq-container d-none" data-faqc="2">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div0">
<h4 class="panel-title">How much weight can the mattress and bed base handle? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Our mattress and bed base can handle upto 250 Kg.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div1">
<h4 class="panel-title">How firm or soft is the mattress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Amongst the variants, The Original - 15.24cm (6-inch) and The Latex mattresses are on the firmer side. If you prefer a plush, softer version, we recommend the SleepyCat Original Plus - 20.32cm (8-inch) variant.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div2">
<h4 class="panel-title">Do you have a physical store? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">SleepyCat is completely an online brand. We have no middlemen, hence, we pass on the benefit of cost to our customers.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div3">
<h4 class="panel-title">Do you customise the mattress orders placed on SleepyCat website? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div3" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes! A SleepyCat mattress can be customized by the length and width you require. We do not customize the height of the mattress. To order a custom size:
1. Go to the mattress page and select category as 'CUSTOM'
2. Input the desired Length and Width in inches
3. Choose the quantity and press 'Add to Cart'
Note: The 30-nights trial is not applicable on custom sizes. Customization is not available on accessories.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div4">
<h4 class="panel-title">How long will the mattress take to expand/uncompress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div4" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Once you're done with the fun unboxing process, 90% of your SleepyCat mattress would take its shape and can be used straight away. However, it would take an additional 24 - 48 hours for the mattress to completely expand as it was compressed.
Note: If you've chosen the latex model, please leave it unused for the first 48-72 hours.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div5">
<h4 class="panel-title">Is the baby mattress cover waterproof? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div5" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, we've got you covered. Our baby mattress cover is waterproof.
<a href="/mattresses/baby-mattress/">Learn more here</a>.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div6">
<h4 class="panel-title">Can I get an extra cover along with the mattress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div6" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Sorry, there's no extra cover that comes along. But if you'd like to buy a spare one, contact us directly.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div7">
<h4 class="panel-title">Can I roll back the mattress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div7" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The mattress can't be rolled back once opened.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div8">
<h4 class="panel-title">Can I clean my SleepyCat mattress cover? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div8" class="panel-collapse collapse">
 <div class="panel-body">
<p class="title">Yes, a mild detergent handwash is recommended to clean the cover. For more information you can refer to the 'Care' section <a href="https://sleepycat.in/fine-print/mattress/">here</a>.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div9">
<h4 class="panel-title">Which mattress is best suitable for me? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div9" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Wouldn't we all love to know about the most suitable mattress for us! <a href="https://sleepycat.in/mattress-recommender/">Click here</a> to find out what our mattress expert recommends for you.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div10">
<h4 class="panel-title">Which mattress is best for back pain? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div10" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">A mattress is a personal choice, depending on one's preferences and conditions. Why don't you let our mattress expert answer that for you, <a href="https://sleepycat.in/mattress-recommender/">try it out here</a>.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div11">
<h4 class="panel-title">What is the difference between Gel Memory Foam and Latex? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div11" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Gel Memory foam offers pressure-relieving qualities and motion isolation to improve sleep quality. Whereas, our Latex mattress comes with a 5.08cm (2-inch) layer of 100% organic latex, divided in 7-zones to support the different pressure points of your body. <a href="https://sleepycat.in/mattresses/">Click here</a> for a detailed comparison.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div12">
<h4 class="panel-title">What is the density of the HD foam used? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div12" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Our specialized HD foam is of 32 density (on the firm side).</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo2div13">
 <h4 class="panel-title">What is the life of a SleepyCat mattress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo2div13" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Our mattresses have a 10-year warranty. However, durability or the life of a mattress depends on the overall maintainence and care. Moreover, keeping in mind health and hygiene, it is advisable to change your mattress every 8-10 years.</p>
</div>
</div>
</div>
</div>
<div class="faq-container d-none" data-faqc="3">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div0">
<h4 class="panel-title">When will my refund be processed? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The refund of any item is processed once we receive the product back at our warehouse and confirm its physical condition. Refund may take 5-7 working days to reflect in your account.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div1">
<h4 class="panel-title">Is shipping free? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes! Shipping is absolutely free. We only charge extra in case of special requests like delivery via airmail.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div2">
<h4 class="panel-title">How long does it take to deliver my SleepyCat order? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title"><span style="font-weight: 400;">Our delivery timelines vary with products and shipping pincode. We have 72-hour&nbsp; delivery available across 9200+ pincodes. In other cities we mostly deliver within 7- 10 days. However, if it's a customized mattress exclusively manufactured for you then it might take slightly longer. For regular orders, you can also check serviceability on our product page with the help of your pincode.</span></p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div3">
<h4 class="panel-title">Can you expedite the delivery? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div3" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Usually, we try to deliver within the normal timelines of 7-10 days and expedite further. An additional expedition would mean shipping by air which will cost extra depending on the location, the product and the case at hand.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div4">
<h4 class="panel-title">How do I cancel my order? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div4" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">In order to make a cancelation, we request you to drop us an email at info@sleepycat.in. Please state the reason for cancelation and our team will look into it. Kindly note, if the order has already been shipped and is in transit, we will not accept the cancelation. If there are any cancellations or size changes after dispatch of the order, a fee for logistics will be charged to the customer depending on the product, the location and case at hand.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div5">
<h4 class="panel-title">Money is deducted from my account however I have not received any order confirmation email? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div5" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">These issues sometimes arise due to technical glitches with the payment gateway. However, not to worry as our support team is always here to help! Please send us an email to info@sleepycat.in with the payment value, order number (if any) and other details and we shall sort it out for you.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div6">
<h4 class="panel-title">Do you provide COD? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div6" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">No, we do not have COD but all our online payment options are easy and hassle-free!</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div7">
<h4 class="panel-title">Can we apply two coupon codes/offers? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div7" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">No, two coupon codes/offers cannot be clubbed. Only one coupon code will get applied at the time of checkout.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div8">
<h4 class="panel-title">Is GST included in the price? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div8" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes! The prices are inclusive of GST and all taxes.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div9">
<h4 class="panel-title">Can I buy the mattress on EMI? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div9" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, we have flexible EMI options of 3 to 24 months.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo3div10">
<h4 class="panel-title">How can I opt for No Cost EMI? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo3div10" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">We offer easy No Cost EMI. On the payment screen, choose the desired bank's No Cost EMI offer and enter your card details. <a href="https://sleepycat.in/no-cost-emi/">Click here</a> to learn more.</p>
</div>
</div>
</div>
</div>
<div class="faq-container d-none" data-faqc="4">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo4div0">
<h4 class="panel-title">How does the 30 nights trial work? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo4div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">It's simple. You make the purchase and get to try the SleepyCat mattress for 30 nights at the comfort of your own home. If you are not convinced of your SleepyCat mattress, you can return it for any reason with a 100% refund. Please note - this policy is not applicable on custom sized mattresses, baby mattresses, accessories. Please refer to our <a href="https://sleepycat.in/fine-print/">policy</a> for more details</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo4div1">
<h4 class="panel-title">Are the accessories also part of the return policy? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo4div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">No, the free trial policy is not applicable to SleepyCat accessories. For more information, <a href="https://sleepycat.in/fine-print/">click here</a></p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo4div2">
<h4 class="panel-title">Is 30 nights trial applicable on other sleepycat seller platforms? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo4div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The 30 nights free trial policy is applicable only on the mattresses purchased on SleepyCat website unless explicitly mentioned on any other market place.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo4div3">
<h4 class="panel-title">How does the returns process work? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo4div3" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Your return request is just a click away. Fill up <a href="https://sleepycat.in/return-request/">this form</a> and our team will get in touch with all further information.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo4div4">
<h4 class="panel-title">Do I need to return in the original box if I decide to return? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo4div4" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The mattress cannot be put back into the box. For the return, the reverse pickup will be tackled from our end, not to worry!</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo4div5">
<h4 class="panel-title">What is covered under warranty? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo4div5" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Our warranty covers manufacturing defect only, resulting from defective material or workmanship. For more details please read the warranty section for each product <a href="https://sleepycat.in/fine-print/">here</a>.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo4div6">
<h4 class="panel-title">Is buying from the SleepyCat website different from buying from other platforms? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo4div6" class="panel-collapse collapse">
<div class="panel-body">
 <p class="title">Yes! Ordering directly from SleepyCat means direct interaction with our friendly support team. Direct communication with us always leads to a faster resolution. Also, you cannot place custom orders via other channels. Purchases made through other channels will have only their promotional offers. And most importantly, the 30 nights free trial is only applicable on SleepyCat website orders.</p>
</div>
</div>
</div>
</div>
<div class="faq-container d-none" data-faqc="5">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div0">
<h4 class="panel-title">Is the Ohayo bed treated for termites? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, the bed does come treated for termites</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div1">
<h4 class="panel-title">What is the assembly type for the Ohayo bed base </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The Ohayo is a tool free bed frame that is easy to set up and can be self assembled in minutes</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div2">
<h4 class="panel-title">Does the Ohayo bed base come with a mattress? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Ohayo bed base does not come with a mattress. If needed, you may add the desired mattress as a separate item in your cart.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div3">
<h4 class="panel-title">Can I return the Ohayo bed base in case I do not want it or do not like it? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div3" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Sorry, once the bed is purchased we can not accept the return.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div4">
<h4 class="panel-title">Does the Ohayo bed comes with a warranty period? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
 </div>
<div id="collo5div4" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, it comes with a 1 year warranty.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div5">
<h4 class="panel-title">Does the Ohayo bed base come with a free trial period? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div5" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Sorry, the Ohayo bed does not come with free trial period.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div6">
<h4 class="panel-title">How strong is the Ohayo bed base? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div6" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Very strong! The Ohayo bed base is designed not to squeak or creak, and has a weight capacity of 250kg.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div7">
<h4 class="panel-title">Does the headboard on the Ohayo bed base have to go up against a wall? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div7" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, because it isn’t attached to the frame, The headboard has been designed to sit between your mattress and wall, or any flat surface.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div8">
<h4 class="panel-title">What is the headboard for? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div8" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The headboard is made to fit perfectly between your mattress and wall (or any flat surface behind your bed). It is built to a simple, minimal look and a stable but soft place to lean back and stack pillows against. It’s not attached to the frame, but when used correctly it’s designed to stay in place, while being easily removable, as needed. It can also accommodate for any extrusions (like walls, molding, and window sills) up to 2" in size without any problems.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo5div9">
<h4 class="panel-title">How long does it take to set-up/breakdown the Ohayo bed base? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo5div9" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Once you remove the pieces from the packaging, The Ohayo bed can be assembled in around five minutes by one person without tools. For those who prefer to take their time, you're still likely to be all set-up in under fifteen minutes.</p>
</div>
</div>
</div>
</div>
<div class="faq-container d-none" data-faqc="6">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo6div0">
<h4 class="panel-title">How do I clean spills on the pet bed? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo6div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The SleepyCat Pet Bed is splash proof, so you can simply wipe off any spills as soon as they happen. Dab at any wet spots lightly with a tissue or microfiber cloth. Do not rub.<br><br>
However, if the liquid is viscous, or allowed to stay on the fabric, it will seep through. Which is why our pet beds come with a removable cover that you can simply throw in the wash. Easy!</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo6div1">
<h4 class="panel-title">How do I select the right sized pet bed? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo6div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">The first part's easy. Grab a measuring tape, and then try to keep your furry friend still (good luck!), and measure their spine. Add 25.4cm (10 inches) to it. That's it! Spine length + 25.4cm (10 inches) is the starting size, or minimum size of the bed that would be suitable. If you're still unsure, we recommend sizing up. </p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo6div2">
<h4 class="panel-title">What’s the difference between the original and the orthopaedic pet bed </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo6div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Great question! The Original pet bed offers plush, contoured comfort and is great for both cats and dogs. The Orthopaedic pet bed offers a medium-soft to firm support, making it ideal for senior pets, and ones who have arthritis, joint pains, back or spinal concerns.</p>
</div>
</div>
</div>
</div>
<div class="faq-container d-none" data-faqc="7">
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo7div0">
<h4 class="panel-title">Are glass beads the best choice for a weighted blanket? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo7div0" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Other filling options such as plastic balls, sand, and heavy cotton would prove to be inconvenient over time as they may lead to increased product weight, or access heat generation.<br>
Our glass beads are equally distributed throughout the blanket and do absorb heat or liquids. Thus, provide even pressure throughout the blanket and are a sustainable choice of filling</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo7div1">
<h4 class="panel-title">Does the weighted blanket feel too hot to use ? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo7div1" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Any blanket is made with the intent to insulate the body. While the weight of this blanket is on the higher end, we’ve used materials that do not trap excess heat. <br>
The glass beads are encased between a cotton filling, which in turn is wrapped in a breathable outer cotton cover. So, this leads to adequate airflow.
</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo7div2">
<h4 class="panel-title">Is the weighted blanket appropriate for all ages ? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo7div2" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">Yes, It is appropriate for all ages. With precisely distributed weight, the blanket ensures that the sleeper does not feel pressure at one single point, but rather feels pressure even applied while sleeping under it. </p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo7div3">
<h4 class="panel-title">Does it take time to get adjusted to the Weighted blanket? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo7div3" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">It might take 5 to 7 days to get used to the weighted blanket. One can start by covering the lower half of the body for a couple of days and slowly get used to the weight. Eventually the body will feel accustomed and you will then be able to use the blanket on a daily basis. </p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collo7div4">
<h4 class="panel-title">Can the weighted blanket be returned? </h4><i class="fa float-right" aria-hidden="true"></i>
</a>
</div>
<div id="collo7div4" class="panel-collapse collapse">
<div class="panel-body">
<p class="title">No, the weighted blanket does not have a return policy. It comes with a 1 year manufacturer warranty that only covers manufacturing defects. Any wear and tear caused later will not be covered. </p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<style>
.faq-header{
  background : #eeee ;
  /* display : flex ; */
  display:none;
  justify-content : center ;
  position : relative ;
}
.faq-body {
    margin-top: 0;
}

.search-wrap{
  position : relative ;
  top : 0px ;
  background : #fff ;
  border : 1px solid #eee ;
  width : 80% ;  
  display : flex ;
  justify-content : center ;
  flex-direction : column ;
  align-items :center;
  max-width : 800px ;
  z-index: 99 ;
  margin : 0 auto ;
  left : 0 ;
  right : 0 ;
}
.search-wrap.active{
  box-shadow : 0px 5px 13px 0px #eee;
  bottom : -80px ;
}

.search-wrap .search-results{
  display : none ;
}

.search-wrap.active .search-results{
  display : block ;
}

.search-input{
  width : 100% ;
 display : flex ;
  justify-content : center ;
}
input.faq-search-bar{
  width : 100% ;
  border-radius : 5px ;
  padding : 15px 15px !important ;
  background-color : #f9f9f9 ;
  border : none ;
}

.nav-pills > li{
  padding : 10px ;
  text-transform : uppercase ;


}
.nav-pills > li .faq-show{
    color : #6a6a6a ;
}

.nav-pills > li .faq-show.active, .nav-pills > li .faq-show:hover{
    color : #ff6a32 ;
    cursor : pointer;
}


.faq-menu{
  border-right : 1px solid #ababab  ;
}

.panel-title{
  font-size : 0.85rem ;
  color : #6a6a6a ;
  max-width : 80% ;
}
.panel-body p{
  padding-right : 70px !important ;
  font-size : 0.8rem !important ;
}

.panel-heading a{
  color : #333 ;
}


.table_center{
  display:table-cell;
  vertical-align: middle;
}
.drop-down{
    display: inline-block;
    position: relative;
}

.drop-down__button{
  /* background: linear-gradient(to right,#3d6def, #8FADFE); */
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  padding: 0 18px;
  text-align: left;
  border-radius: 4px;
  /* box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2); */
  cursor: pointer;
}

.drop-down__name {
    font-size: 0.75rem;
    text-transform: initial;
    color: #ff6a32;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Poppins';
}

.drop-down__icon {
    width: 18px;
    vertical-align: middle;
    margin-left: 14px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  
}



.drop-down__menu-box {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
     transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
 visibility: hidden;
opacity: 0;
  margin-top: 5px;
}

.drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
  
}
.drop-down__menu-box:before{
  content:'';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;

}

.drop-down__menu-box:after{
  content:'';
  background-color: transparent;
}

.drop-down__item {
    font-size: 13px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #6a6a6a;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}

.drop-down__item-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    fill: #8995b6;
  
}

.drop-down__item:hover .drop-down__item-icon{
  fill: #3d6def;
}

.drop-down__item:hover{
  color: #3d6def;
}



.drop-down__item:last-of-type{
  border-bottom: 0;
}


.drop-down--active .drop-down__menu-box{
visibility: visible;
opacity: 1;
  margin-top: 15px;
  z-index : 1;
}

.drop-down__item:before{
  content:'';
  position: absolute;
width: 3px;
height: 28px;
background-color: #3d6def;
left: -13px;
top: 50%;
transform: translateY(-50%);
  display:none;
}

.drop-down__item:hover:before{
  display:block;
}

.faq-menu .drop-down{
  display : none ;
}



[data-toggle="collapse"] .fa:before {
  content: "-";
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 0;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "+";
  font-size: 1.5rem;
}



@media only screen and (max-width : 767px) {


  .faq-menu .drop-down{
    display : block  ;
  }


  .faq-menu {
    border-right : none !important ;
    padding-bottom : 25px !important ;  
    /* border-bottom : 1px solid #ababab  ; */
  }

  .faq-menu ul.nav{
    display : none;
  }
  /* .faq-menu ul{
    display : flex !important ;
    flex-direction : row ; 
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
    width : 1000px;
    max-width: 100% ;
    height : 30px ;
    border-right : none !important ;
    white-space: nowrap;
  }

  .faq-menu li.d-block{
    display : inline-block !important ;
    
    width : 400px !important ;
    font-size: 0.6rem ;
  } */

}




.input-addon{
  position : absolute ;
  right : 0 ;
  top : 15px;
  right : 20px ;
  font-size : 1.5rem ;
  color : #ababab ;
}

.panel-heading a[aria-expanded=true] h4{
  font-weight : 600 ;
}

</style>
<script>

var faqDump = {"0":[{"title":"How does the 30 nights trial work?","section_title":"Popular","content":"It's simple. You make the purchase and get to try the SleepyCat mattress for 30 nights at the comfort of your own home. If you are not convinced of your SleepyCat mattress, you can return it for any reason with a 100% refund. Please note - this policy is not applicable on custom sized mattresses, baby mattresses, accessories. Please refer to our <a href=\"https:\/\/sleepycat.in\/fine-print\/\">policy<\/a> for more details"},{"title":"Are the accessories also part of the return policy?","section_title":"Popular","content":"No, the free trial policy is not applicable to SleepyCat accessories. For more information, <a href=\"https:\/\/sleepycat.in\/fine-print\/\">click here<\/a>"},{"title":"Is buying from the SleepyCat website different from buying from other platforms?","section_title":"Popular","content":"Yes! Ordering directly from SleepyCat means direct interaction with our friendly support team. Direct communication with us always leads to a faster resolution. Also, you cannot place custom orders via other channels. Purchases made through other channels will have only their promotional offers. And most importantly, the 30 nights free trial is only applicable on SleepyCat website orders."},{"title":"Do you provide COD?","section_title":"Popular","content":"No, we do not have COD but all our online payment options are easy and hassle-free!"},{"title":"How firm or soft is the mattress?","section_title":"Popular","content":"Amongst the variants, The Original - 15.24cm (6-inch) and The Latex mattresses are on the firmer side. If you prefer a plush, softer version, we recommend the SleepyCat Original Plus - 20.32cm (8-inch) variant."},{"title":"Do you have a physical store?","section_title":"Popular","content":"SleepyCat is completely an online brand. We have no middlemen, hence, we pass on the benefit of cost to our customers."},{"title":"Can I get an extra cover along with the mattress?","section_title":"Popular","content":"Sorry, there's no extra cover that comes along. But if you'd like to buy a spare one, contact us directly."},{"title":"What is the difference between Gel Memory Foam and Latex?","section_title":"Popular","content":"Gel Memory foam offers pressure-relieving qualities and motion isolation to improve sleep quality. Whereas, our Latex mattress comes with a 5.08cm (2-inch) layer of 100% organic latex, divided in 7-zones to support the different pressure points of your body. <a href=\"https:\/\/sleepycat.in\/mattresses\/\">Click here<\/a> for a detailed comparison."}],"Accessories queries":[{"title":"Are SleepyCat pillows suitable for side and front sleepers?","section_title":"Accessories queries","content":"Yes, they are suitable for all types of sleepers."},{"title":"Can I buy an extra pillow cover?","section_title":"Accessories queries","content":"Yes, additional covers can be purchased as an add-on from the respective pillow page."},{"title":"Is the SleepyCat Cloud pillow soft?","section_title":"Accessories queries","content":"Yes. The Cloud pillow is soft, however you can adjust its firmess. It is the softest when unzipped but it can be adjusted to firm by zipping it up."},{"title":"What size covers fit the pillows?","section_title":"Accessories queries","content":"Standard pillow covers of 45.72cm x 71.12cm (18x 28 inches) fit our Cloud and Memory foam Pillow. SleepyCat Cuddle pillow cover size is 50.8cm x 132.08cm  (20 x 52 inches)."},{"title":"Can the pillows be washed?","section_title":"Accessories queries","content":"SleepyCat Cloud pillow and Cuddle pillow can be machine washed separately on a gentle cycle. In SleepyCat memory foam pillow only the zipper cover is washable. Please read the care intructions here."},{"title":"How long does the pillows take for uncompression?","section_title":"Accessories queries","content":"SleepyCat memory foam pillow can be used straight away. Our Cloud and Cuddle pillows take about 12 hours to uncompress after being opened. You should fluff the pillows by pressing the corners towards the center and straighten them out allowing air to pass through during the process."},{"title":"Can you customise the accessories?","section_title":"Accessories queries","content":"Sorry! Customisation is available on mattresses only."},{"title":"Is the Cuddle pillow suitable for maternity?","section_title":"Accessories queries","content":"Yes, it is a support pillow that can be used for maternity."},{"title":"Can the SleepyCat comforter be machine washed?","section_title":"Accessories queries","content":"Yes it can be machine washed."},{"title":"Can SleepyCat comforter be used with a cover?","section_title":"Accessories queries","content":"Yes there are loops at all four corners which can be used to keep it in place when put inside a cover."},{"title":"Is the comforter waterproof?","section_title":"Accessories queries","content":"No it is not waterproof, but it is quick drying."},{"title":"Can the comforter be used in cold &amp; hot climate?","section_title":"Accessories queries","content":"Yes it is a light weight all season comforter."},{"title":"Is the protector waterproof?","section_title":"Accessories queries","content":"Yes, the Sleepycat Mattress protector is waterproof."}],"Mattress queries":[{"title":"How much weight can the mattress and bed base handle?","section_title":"Mattress queries","content":"Our mattress and bed base can handle upto 250 Kg."},{"title":"How firm or soft is the mattress?","section_title":"Mattress queries","content":"Amongst the variants, The Original - 15.24cm (6-inch) and The Latex mattresses are on the firmer side. If you prefer a plush, softer version, we recommend the SleepyCat Original Plus - 20.32cm (8-inch) variant."},{"title":"Do you have a physical store?","section_title":"Mattress queries","content":"SleepyCat is completely an online brand. We have no middlemen, hence, we pass on the benefit of cost to our customers."},{"title":"Do you customise the mattress orders placed on SleepyCat website?","section_title":"Mattress queries","content":"Yes! A SleepyCat mattress can be customized by the length and width you require. We do not customize the height of the mattress. To order a custom size:\r\n1. Go to the mattress page and select category as 'CUSTOM'\r\n2. Input the desired Length and Width in inches\r\n3. Choose the quantity and press 'Add to Cart'\r\nNote: The 30-nights trial is not applicable on custom sizes. Customization is not available on accessories."},{"title":"How long will the mattress take to expand\/uncompress?","section_title":"Mattress queries","content":"Once you're done with the fun unboxing process, 90% of your SleepyCat mattress would take its shape and can be used straight away. However, it would take an additional 24 - 48 hours for the mattress to completely expand as it was compressed.\r\nNote: If you've chosen the latex model, please leave it unused for the first 48-72 hours."},{"title":"Is the baby mattress cover waterproof?","section_title":"Mattress queries","content":"Yes, we've got you covered. Our baby mattress cover is waterproof.\r\n<a href=\"\/mattresses\/baby-mattress\/\">Learn more here<\/a>."},{"title":"Can I get an extra cover along with the mattress?","section_title":"Mattress queries","content":"Sorry, there's no extra cover that comes along. But if you'd like to buy a spare one, contact us directly."},{"title":"Can I roll back the mattress?","section_title":"Mattress queries","content":"The mattress can't be rolled back once opened."},{"title":"Can I clean my SleepyCat mattress cover?","section_title":"Mattress queries","content":"Yes, a mild detergent handwash is recommended to clean the cover. For more information you can refer to the 'Care' section <a href=\"https:\/\/sleepycat.in\/fine-print\/mattress\/\">here<\/a>."},{"title":"Which mattress is best suitable for me?","section_title":"Mattress queries","content":"Wouldn't we all love to know about the most suitable mattress for us! <a href=\"https:\/\/sleepycat.in\/mattress-recommender\/\">Click here<\/a> to find out what our mattress expert recommends for you."},{"title":"Which mattress is best for back pain?","section_title":"Mattress queries","content":"A mattress is a personal choice, depending on one's preferences and conditions. Why don't you let our mattress expert answer that for you, <a href=\"https:\/\/sleepycat.in\/mattress-recommender\/\">try it out here<\/a>."},{"title":"What is the difference between Gel Memory Foam and Latex?","section_title":"Mattress queries","content":"Gel Memory foam offers pressure-relieving qualities and motion isolation to improve sleep quality. Whereas, our Latex mattress comes with a 5.08cm (2-inch) layer of 100% organic latex, divided in 7-zones to support the different pressure points of your body. <a href=\"https:\/\/sleepycat.in\/mattresses\/\">Click here<\/a> for a detailed comparison."},{"title":"What is the density of the HD foam used?","section_title":"Mattress queries","content":"Our specialized HD foam is of 32 density (on the firm side)."},{"title":"What is the life of a SleepyCat mattress?","section_title":"Mattress queries","content":"Our mattresses have a 10-year warranty. However, durability or the life of a mattress depends on the overall maintainence and care. Moreover, keeping in mind health and hygiene, it is advisable to change your mattress every 8-10 years."}],"Payment and Shipping":[{"title":"When will my refund be processed?","section_title":"Payment and Shipping","content":"The refund of any item is processed once we receive the product back at our warehouse and confirm its physical condition. Refund may take 5-7 working days to reflect in your account."},{"title":"Is shipping free?","section_title":"Payment and Shipping","content":"Yes! Shipping is absolutely free. We only charge extra in case of special requests like delivery via airmail."},{"title":"How long does it take to deliver my SleepyCat order?","section_title":"Payment and Shipping","content":"<span style=\"font-weight: 400;\">Our delivery timelines vary with products and shipping pincode. We have 72-hour\u00a0 delivery available across 9200+ pincodes. In other cities we mostly deliver within 7- 10 days. However, if it's a customized mattress exclusively manufactured for you then it might take slightly longer. For regular orders, you can also check serviceability on our product page with the help of your pincode.<\/span>"},{"title":"Can you expedite the delivery?","section_title":"Payment and Shipping","content":"Usually, we try to deliver within the normal timelines of 7-10 days and expedite further. An additional expedition would mean shipping by air which will cost extra depending on the location, the product and the case at hand."},{"title":"How do I cancel my order?","section_title":"Payment and Shipping","content":"In order to make a cancelation, we request you to drop us an email at info@sleepycat.in. Please state the reason for cancelation and our team will look into it. Kindly note, if the order has already been shipped and is in transit, we will not accept the cancelation. If there are any cancellations or size changes after dispatch of the order, a fee for logistics will be charged to the customer depending on the product, the location and case at hand."},{"title":"Money is deducted from my account however I have not received any order confirmation email?","section_title":"Payment and Shipping","content":"These issues sometimes arise due to technical glitches with the payment gateway. However, not to worry as our support team is always here to help! Please send us an email to info@sleepycat.in with the payment value, order number (if any) and other details and we shall sort it out for you."},{"title":"Do you provide COD?","section_title":"Payment and Shipping","content":"No, we do not have COD but all our online payment options are easy and hassle-free!"},{"title":"Can we apply two coupon codes\/offers?","section_title":"Payment and Shipping","content":"No, two coupon codes\/offers cannot be clubbed. Only one coupon code will get applied at the time of checkout."},{"title":"Is GST included in the price?","section_title":"Payment and Shipping","content":"Yes! The prices are inclusive of GST and all taxes."},{"title":"Can I buy the mattress on EMI?","section_title":"Payment and Shipping","content":"Yes, we have flexible EMI options of 3 to 24 months."},{"title":"How can I opt for No Cost EMI?","section_title":"Payment and Shipping","content":"We offer easy No Cost EMI. On the payment screen, choose the desired bank's No Cost EMI offer and enter your card details. <a href=\"https:\/\/sleepycat.in\/no-cost-emi\/\">Click here<\/a> to learn more."}],"Warranty and Returns":[{"title":"How does the 30 nights trial work?","section_title":"Warranty and Returns","content":"It's simple. You make the purchase and get to try the SleepyCat mattress for 30 nights at the comfort of your own home. If you are not convinced of your SleepyCat mattress, you can return it for any reason with a 100% refund. Please note - this policy is not applicable on custom sized mattresses, baby mattresses, accessories. Please refer to our <a href=\"https:\/\/sleepycat.in\/fine-print\/\">policy<\/a> for more details"},{"title":"Are the accessories also part of the return policy?","section_title":"Warranty and Returns","content":"No, the free trial policy is not applicable to SleepyCat accessories. For more information, <a href=\"https:\/\/sleepycat.in\/fine-print\/\">click here<\/a>"},{"title":"Is 30 nights trial applicable on other sleepycat seller platforms?","section_title":"Warranty and Returns","content":"The 30 nights free trial policy is applicable only on the mattresses purchased on SleepyCat website unless explicitly mentioned on any other market place."},{"title":"How does the returns process work?","section_title":"Warranty and Returns","content":"Your return request is just a click away. Fill up <a href=\"https:\/\/sleepycat.in\/return-request\/\">this form<\/a> and our team will get in touch with all further information."},{"title":"Do I need to return in the original box if I decide to return?","section_title":"Warranty and Returns","content":"The mattress cannot be put back into the box. For the return, the reverse pickup will be tackled from our end, not to worry!"},{"title":"What is covered under warranty?","section_title":"Warranty and Returns","content":"Our warranty covers manufacturing defect only, resulting from defective material or workmanship. For more details please read the warranty section for each product <a href=\"https:\/\/sleepycat.in\/fine-print\/\">here<\/a>."},{"title":"Is buying from the SleepyCat website different from buying from other platforms?","section_title":"Warranty and Returns","content":"Yes! Ordering directly from SleepyCat means direct interaction with our friendly support team. Direct communication with us always leads to a faster resolution. Also, you cannot place custom orders via other channels. Purchases made through other channels will have only their promotional offers. And most importantly, the 30 nights free trial is only applicable on SleepyCat website orders."}],"Bedbase queries":[{"title":"Is the Ohayo bed treated for termites?","section_title":"Bedbase queries","content":"Yes, the bed does come treated for termites"},{"title":"What is the assembly type for the Ohayo bed base","section_title":"Bedbase queries","content":"The Ohayo is a tool free bed frame that is easy to set up and can be self assembled in minutes"},{"title":"Does the Ohayo bed base come with a mattress?","section_title":"Bedbase queries","content":"Ohayo bed base does not come with a mattress. If needed, you may add the desired mattress as a separate item in your cart."},{"title":"Can I return the Ohayo bed base in case I do not want it or do not like it?","section_title":"Bedbase queries","content":"Sorry, once the bed is purchased we can not accept the return."},{"title":"Does the Ohayo bed comes with a warranty period?","section_title":"Bedbase queries","content":"Yes, it comes with a 1 year warranty."},{"title":"Does the Ohayo bed base come with a free trial period?","section_title":"Bedbase queries","content":"Sorry, the Ohayo bed does not come with free trial period."},{"title":"How strong is the Ohayo bed base?","section_title":"Bedbase queries","content":"Very strong! The Ohayo bed base is designed not to squeak or creak, and has a weight capacity of 250kg."},{"title":"Does the headboard on the Ohayo bed base have to go up against a wall?","section_title":"Bedbase queries","content":"Yes, because it isn\u2019t attached to the frame, The headboard has been designed to sit between your mattress and wall, or any flat surface."},{"title":"What is the headboard for?","section_title":"Bedbase queries","content":"The headboard is made to fit perfectly between your mattress and wall (or any flat surface behind your bed). It is built to a simple, minimal look and a stable but soft place to lean back and stack pillows against. It\u2019s not attached to the frame, but when used correctly it\u2019s designed to stay in place, while being easily removable, as needed. It can also accommodate for any extrusions (like walls, molding, and window sills) up to 2\" in size without any problems."},{"title":"How long does it take to set-up\/breakdown the Ohayo bed base?","section_title":"Bedbase queries","content":"Once you remove the pieces from the packaging, The Ohayo bed can be assembled in around five minutes by one person without tools. For those who prefer to take their time, you're still likely to be all set-up in under fifteen minutes."}],"Pet Bed queries":[{"title":"How do I clean spills on the pet bed?","section_title":"Pet Bed queries","content":"The SleepyCat Pet Bed is splash proof, so you can simply wipe off any spills as soon as they happen. Dab at any wet spots lightly with a tissue or microfiber cloth. Do not rub.<br\/><br\/>\r\n\r\nHowever, if the liquid is viscous, or allowed to stay on the fabric, it will seep through. Which is why our pet beds come with a removable cover that you can simply throw in the wash. Easy!"},{"title":"How do I select the right sized pet bed?","section_title":"Pet Bed queries","content":"The first part's easy. Grab a measuring tape, and then try to keep your furry friend still (good luck!), and measure their spine. Add 25.4cm (10 inches) to it. That's it! Spine length + 25.4cm (10 inches) is the starting size, or minimum size of the bed that would be suitable. If you're still unsure, we recommend sizing up. "},{"title":"What&#8217;s the difference between the original and the orthopaedic pet bed","section_title":"Pet Bed queries","content":"Great question! The Original pet bed offers plush, contoured comfort and is great for both cats and dogs. The Orthopaedic pet bed offers a medium-soft to firm support, making it ideal for senior pets, and ones who have arthritis, joint pains, back or spinal concerns."}],"Weighted Blanket queries":[{"title":"Are glass beads the best choice for a weighted blanket?","section_title":"Weighted Blanket queries","content":"Other filling options such as plastic balls, sand, and heavy cotton would prove to be inconvenient over time as they may lead to increased product weight, or access heat generation.<br\/> \r\nOur glass beads are equally distributed throughout the blanket and do absorb heat or liquids. Thus, provide even pressure throughout the blanket and are a sustainable choice of filling"},{"title":"Does the weighted blanket feel too hot to use ?","section_title":"Weighted Blanket queries","content":"Any blanket is made with the intent to insulate the body. While the weight of this blanket is on the higher end, we\u2019ve used materials that do not trap excess heat. <br\/>\r\nThe glass beads are encased between a cotton filling, which in turn is wrapped in a breathable outer cotton cover. So, this leads to adequate airflow. \r\n"},{"title":"Is the weighted blanket appropriate for all ages ?","section_title":"Weighted Blanket queries","content":"Yes, It is appropriate for all ages. With precisely distributed weight, the blanket ensures that the sleeper does not feel pressure at one single point, but rather feels pressure even applied while sleeping under it. "},{"title":"Does it take time to get adjusted to the Weighted blanket?","section_title":"Weighted Blanket queries","content":"It might take 5 to 7 days to get used to the weighted blanket. One can start by covering the lower half of the body for a couple of days and slowly get used to the weight. Eventually the body will feel accustomed and you will then be able to use the blanket on a daily basis. "},{"title":"Can the weighted blanket be returned?","section_title":"Weighted Blanket queries","content":"No, the weighted blanket does not have a return policy. It comes with a 1 year manufacturer warranty that only covers manufacturing defects. Any wear and tear caused later will not be covered. "}]};
// var faqDump = {} ;
var stopwords = ["a", '?' ,"about", "above", "after", "again", "against", "all", "am", "an", "and", "any","are","aren't","as","at","be","because","been","before","being","below","between","both","but","by","can't","cannot","could","couldn't","did","didn't","do","does","doesn't","doing","don't","down","during","each","few","for","from","further","had","hadn't","has","hasn't","have","haven't","having","he","he'd","he'll","he's","her","here","here's","hers","herself","him","himself","his","how","how's","i","i'd","i'll","i'm","i've","if","in","into","is","isn't","it","it's","its","itself","let's","me","more","most","mustn't","my","myself","no","nor","not","of","off","on","once","only","or","other","ought","our","ours","ourselves","out","over","own","same","shan't","she","she'd","she'll","she's","should","shouldn't","so","some","such","than","that","that's","the","their","theirs","them","themselves","then","there","there's","these","they","they'd","they'll","they're","they've","this","those","through","to","too","under","until","up","very","was","wasn't","we","we'd","we'll","we're","we've","were","weren't","what","what's","when","when's","where","where's","which","while","who","who's","whom","why","why's","with","won't","would","wouldn't","you","you'd","you'll","you're","you've","your","yours","yourself","yourselves"];

function remove_stopwords(str) {
    res = []
    words = str.split(' ')
    for(i=0;i<words.length;i++) {
       word_clean = words[i].split(".").join("")
       if(!stopwords.includes(word_clean)) {
           res.push(word_clean)
       }
    }
    return(res.join(' '))
}  

function Compare(strA,strB){
  strA = strA.replace(/[^a-zA-Z ]/g, "");
  strB = strB.replace(/[^a-zA-Z ]/g, "");

  question = strA.split(" ");
  search_term = strB.split(" ");


  wordsMatched = 0 ;

  search_term.forEach((wordA) => {
    
    question.forEach((wordB) => {
      
      if(wordB.includes(wordA)){
        wordsMatched++ ;
      }
    

    });  


  });


  return Math.abs( Math.round(( wordsMatched / question.length ) *  100) ) ;

}

function reverseObject(object) {
  var newObject = {};
  var keys = [];

  for (var key in object) {
      keys.push(key);
  }

  for (var i = keys.length - 1; i >= 0; i--) {
    var value = object[keys[i]];
    newObject[keys[i]]= value;
  }       

  return newObject;
}

$(document).ready(function(){

  $(".faq-show , .fq-show").click(function() {
    $(".faq-show , .fq-show").removeClass('active');
    $(this).addClass('active');
    $('.faq-container').removeClass('d-block');
    $('.faq-container').addClass('d-none');
    
    $('.faq-container[data-faqc=' + $(this).data('faq') + ']').addClass('d-block');

    $(".drop-down__name").text( $(this).text() );
  });

  $('.faq-search-bar').on('keyup',function(){
    var search_term = $(this).val() ;
    

    if(search_term != ''){


      var allFaqs = [] ;
      
      // var search_results = [] ;
      Object.keys(faqDump).map((key) =>{

        let value = faqDump[key];
        Object.keys(value).map((item) => {
          let temp = value[item];
          
          allFaqs.push(temp);
        });

      });


      

      var search_results = [];
      allFaqs.map((item) => {
        
        let score = Compare( remove_stopwords(item.title.toLowerCase().replace('?', "")) , remove_stopwords(search_term.toLowerCase().replace('?', "")) ) ;
        if( score > 0){
          item.score = score ;
          // if(search_results[score])
          search_results[score] = item ;
        }

      });


      $(".search-results").html('');
      var i = 0 ;



      search_results =  Object.entries(search_results).sort().reduce( (o,[k,v]) => (o[k]=v,o), {} )
      search_results =  Object.assign([], search_results).reverse();



      Object.keys(search_results).forEach(key => {
        let currentItem = search_results[key];

        $(".search-results").append(`<div class="search-result p-1 w-100">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collosr00${i}">
                <h4 class="panel-title"> ${currentItem.title}
                </h4><i class="fa float-right" aria-hidden="true"></i>
              </a>
            </div>
            
            <div id="collosr00${i}" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="title">${currentItem.content}</p>
              </div>
            </div>
          </div>
      </div>`);
        

        i++ ;
      });

      $('.search-wrap').addClass('active');
    }else{
      $('.search-wrap').removeClass('active');
    }
  });




  $('.faq-search-bar').on('click',function(){
    
    
    
  });


  $('#dropDown').click(function(){
    $('.drop-down').toggleClass('drop-down--active');
  });

  $(document).mouseup(function (e) { 
      if ($(e.target).closest(".search-wrap").length 
                  === 0) { 
          $('.search-wrap').removeClass('active');
      }


      if ($(e.target).closest("#dropDown").length 
                  === 0) { 
          $('.drop-down').removeClass('drop-down--active');
      } 
  }); 
});
</script>

<script>
    $ = jQuery;

    jQuery(document).ready(function($){


        var cross_selling_slider = $('#product_cross_sell_wrap_slider').lightSlider({
                item: 1,
                thumbItem: 0,
                slideMargin: 0,
                speed: 500,
                item : 2, 
                responsive : [
                    {
                        breakpoint:520,
                        settings: {
                            item: 1.4,
                            slideMargin:15,
                        }
                    },
                    {
                        breakpoint:320,
                        settings: {
                            item: 1.2,
                            slideMargin:10,
                        }
                    }
                ],
                slideMove : 1, 
                controls: false,
                auto: false,       
                loop: false,
                enableDrag: false,
                pager: true,
                onSliderLoad: function (el) {
                    jQuery('#product_cross_sell_wrap_slider').removeClass('cS-hidden');
                }
        });
        if($('#product_cross_sell_wrap_slider').length){
            $('.product_cross_sell_wrap.cross-selling-section .lSAction .lSPrev').on('click', function () {
                cross_selling_slider.goToPrevSlide();
            });
            $('.product_cross_sell_wrap.cross-selling-section .lSAction .lSNext').on('click', function () {
                cross_selling_slider.goToNextSlide();
            });
            if($('#product_cross_sell_wrap_slider .single_product_cross_sell_wrap').length > 2)
                $('.mattress_all_multi .product_cross_sell_wrap .lSAction').show();
        }else{}


        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            let expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        let all_cookies = document.cookie;


        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };

        if(getUrlParameter('utm_medium') == 'returning'){
            setCookie('user_type', 'returning' , 3);
        }

        if(getCookie('user_type') == 'returning'){
            $("#homeCarousel .banner-desktop.banner-bg-3").css({ 'background-image' : "url('https://sleepycat.in/wp-content/uploads/2021/05/returninguser_15_banner_desktop_bg.jpg')" });
            $("#homeCarousel .slide-3 .banner-mobile").css({ 'background-image' : "url('https://sleepycat.in/wp-content/uploads/2021/05/returninguser_15_banner_mobile_bg.jpg')" });
            $("#homeCarousel .banner-desktop.banner-bg-3 .banner-desktop-svg").css({ 'background-image' : "url('https://sleepycat.in/wp-content/uploads/2021/05/returninguser_15_banner_desktop_txt.svg')" });
            $("#homeCarousel .slide-3 .banner-mobile-svg").css({ 'background-image' : "url('https://sleepycat.in/wp-content/uploads/2021/05/returninguser_15_banner_mobile_txt.svg')" });
        }
        // $('#homeCarousel').lightSlider({
        //     item : 1,
        //     auto: false ,
        //     loop : true , 
        //     slideMove:1,
        //     controls : true, 
        //     pause:6000,
        //     adaptiveHeight:false,
        //     pager: true,
        //     slideMargin:0,
        //     onSliderLoad: function (el) {                
        //         jQuery('#homeCarousel').removeClass('cS-hidden');
        //     }

        // });

        if($('.techSpeficiationsSlider li').length>=2){
        $('.techSpeficiationsSlider').lightSlider({
            item : 1,
            auto: false ,
            loop : true , 
            slideMove:1,
            controls : true, 
            pause:1000,
            adaptiveHeight:false,
            pager: false  ,
            onSliderLoad: function (el) {
                jQuery('.techSpeficiationsSlider').removeClass('cS-hidden');
            }

        });
        }else{
            $('.techSpeficiationsSlider').removeClass('cS-hidden');
            $('.techSpeficiationswrap').addClass('techspecsNoSlider');
        }
        var cross_selling_slider_cart = jQuery('.cart-cross-sells').lightSlider({
            thumbItem: 0,
            slideMargin: 0,
            speed: 500,
            item : 2, 
            slideMove : 1, 
            controls: false,
            auto: false,       
            loop: false,
            //enableDrag: true,
            pager: true,
            adaptiveHeight: true,
            addClass: '',
            mode: "slide",
            useCSS: true,
            cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
            easing: 'linear', //'for jquery animation',////
            responsive : [
                {
                    breakpoint:520,
                    settings: {
                        item: 1.4,
                        slideMargin:15,
                    }
                },
                {
                    breakpoint:320,
                    settings: {
                        item: 1.2,
                        slideMargin:10,
                    }
                }
            ],
            onSliderLoad: function (el) {
                jQuery('.cart-cross-sells').removeClass('cS-hidden');
                $( window ).resize();
            }, onAfterSlide: function() {
                $( window ).resize();
            }
        });
        $('.cart-cross-sell-section-wrap.cross-selling-section .lSAction .lSPrev').on('click', function () {
            cross_selling_slider_cart.goToPrevSlide();
        });
        $('.cart-cross-sell-section-wrap.cross-selling-section .lSAction .lSNext').on('click', function () {
            cross_selling_slider_cart.goToNextSlide();
        });
        $('.cross-selling-section .lSAction a').click(function(){
            var cross_selling_parent = $(this).attr('data-sliderparent');
            var totalItem = $('.cross-selling-section.'+cross_selling_parent+' .lSSlideOuter .lslide').length;
            var activeItem = $('.cross-selling-section.'+cross_selling_parent+' .lSSlideOuter .lslide.active').index();
            var lSPrev = $('.cross-selling-section.'+cross_selling_parent+' .lSAction .lSPrev');
            var lSNext = $('.cross-selling-section.'+cross_selling_parent+' .lSAction .lSNext');
            var fromLastEle = 2;
            if(activeItem < 1){
                lSPrev.hide();
            }else{
                lSPrev.show();
            }
            // if(cross_selling_parent == 'cart-cross-sell-section-wrap')
            //    var fromLastEle = 1;
            if(activeItem >= totalItem-fromLastEle){
                lSNext.hide();
            }else{
                lSNext.show();
            }
        });
    });
</script>
<div class="floating_bg_img" style="">
<div class="floater_content">
<h3 class="pb-3">Ready to start your<br> journey to better sleep?</h3>
<a href="/products" class="std-btn-orange" style="min-width:100px;">&nbsp;&nbsp;SHOP NOW&nbsp;&nbsp;</a>
</div>
</div>

<div id="brandYtVideoModal" class="sizeChartModal modal fade" role="dialog">
<div class="modal-dialog mx-2">
<div class="modal-content">
<button type="button" class="close sizeChartModalClose" data-dismiss="modal">×</button>
<div class="yt-video-2"><iframe id="player-brand" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="560" height="315" src="https://www.youtube.com/embed/WJlVOPeEcnM?enablejsapi=1&amp;origin=https%3A%2F%2Fsleepycat.in&amp;widgetid=1"></iframe></div>
</div>
</div>
</div>

<div id="measureMattress" class="sizeChartModal modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<button type="button" class="close sizeChartModalClose" data-dismiss="modal">×</button>
<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%20100'%3E%3C/svg%3E" width="auto" height="100%" data-lazy-src="//d4r5n3k3.rocketcdn.me/wp-content/uploads/2021/09/mattress-measurement-guide01.jpg"><noscript><img src="//d4r5n3k3.rocketcdn.me/wp-content/uploads/2021/09/mattress-measurement-guide01.jpg" width="auto" height="100%"></noscript>
</div>
</div>
</div>



</div>
</div>

<!-- schemaplus-added -->
{% include "schemaplus.page"%}
<!-- endof-schemaplus-added -->

<style>
  
  .faq-body {
    margin-top: 0;
}
  
  @media (min-width: 768px) and (max-width: 991px){
.faq-body {
    margin-top: 15%;
}
  }
  
  .p-0 {
    padding: 0!important;
}
  
  
</style>
