<a name="pagecontent" id="pagecontent"></a>
<div class="center">
<img width="100%" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/about_us_banner_66ca5ca9-1beb-4c58-9a4c-253c74e5a2df_1600x.jpg?v=1550225090" alt="About Us">
</div>
  <div class="about-us">
  
  <div class="  clearfix">
    <div class="container">
      <h1 class="aboutus_title">
        {{ page.title }}
      </h1>
     </div>
    
      <div  class="static-page">
        {% include 'page-multi-column', content: page.content %}
        <div class="container">
          <div class="abt_ussanjeev_kapoor clearfix">
            <div class="eight columns alpha padding_rightabout">
              <p>Wonderchef is a leader in cookware and kitchen
                appliances that enable our customers to cook
                healthy, tasty food with convenience. German
                standards of quality, Italian designs, & constant
                innovation are the hallmarks of Wonderchef.
                We bring warmth to every meal by creating a
                perfect blend of aesthetics and functionality. We
                are inspired by global trends to create beautiful
                kitchen stories that bring out the culinary artist
                in you! 
              </p>

              <p>
                Here, you can seamlessly explore our entire
                collection of Non-Stick Cookware, Stainless
                Steel Pans, Pressure Cookers, Appliances,
                Cooktops, Chimneys, Kitchen Tools, Flasks,
                Bakeware and much more! What makes
                Wonderchef special is the customized recipes
                that are created for every unique product by
                none other than Chef Sanjeev Kapoor. These
                are shared with our consumers via beautifully
                crafted recipe books, social media interactions,
                and dedicated apps.
              </p>
            </div>
            <div class="eight columns alpha align_right right">
              <img class="width_100" src="{{'chef_main_cutting.jpg' | file_url}}" alt="Sanjeev Kapoor"\>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
          <div class="abt_italian_kapoor padding_aboutus clearfix">
            <div class="ten columns alpha  padding_rightabout">
              <img class="italian width_100" src="{{'italian.jpg' | file_url }}" alt="Italian">
            </div>
            <div class="six columns alpha">
              <h3>Italian design with German
                standards
              </h3>
              <img class="istitudo " src="{{'Italian_design.png' | file_url }}" alt="Istituto">
              <p>
                Beautiful design stirs emotions
                & inspires us to achieve excellence.
                Our deep-rooted partnership with
                Italian Design Institute ensures
                that we infuse classical design
                sensibilities into every piece of our
                flawlessly crafted range of
                kitchenware.
              </p>
            </div>
            <div class="clearfix"></div>
            <p class="clearfix constantly_strive">We constantly strive to achieve a balance between the form and function – be it choice of design, material, technology or production process. This helps us curate products which impeccably
              transition from kitchen to the table.
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
          <div class="abt_innovation clearfix">
             <div class="eight columns alpha  padding_rightabout">
              <img class="innovation_cutting width_100" src="{{'innovation_cutting.jpg' | file_url }}" alt="Innovation">
               <h3 class="innovation_heading">“Wonderchef has always
                 leveraged innovation and
                 technology to surprise and 
                 delight its customers”</h3>
               <p>Gas Oven Tandoor makes restaurant-style Tandoori food at home and makes you a
                 proud home-chef! Wonderchef was one
                 of the first brands to introduce Cold
                 Pressed Juicers, Air Fryers, Nutri-Pot, Slow
                 Cookers, Bread Maker, Health Grills,
                 Die-cast Cookware, Ceramic Cooker & a
                 host of other unique appliances enabling
                 our customers to cook healthy and tasty,
                 with convenience. Our patented tools like
                 Turbo Chopper enable food-prep in a jiffy,
                 saving precious time and delivering great
                 performance.</p>
               
            </div>
             <div class="eight columns alpha">
               <p>Wonderchef prides itself in getting new ideas,
                 solutions, & technologies to the market.
                 Wonderchef Royal Velvet Pans brought forth
                 a revolution of fresh hues & colors in non-stick
                 cookware. Cookware has never been the same
                 again. Wonderchef has changed the perception
                 of cookware from black & boring to colorful 
                 & exciting. Our customers often match their
                 cookware to the hue of their kitchen cabinets,
                 setting of their living room or the color of their
                 curtains. Over 25 color palettes form the
                 repertoire of Wonderchef pans.
               </p>
              <img class="nutriblend width_100" src="{{'nb_story__463x502-_2.png' | file_url }}" alt="Nutri Blend">
               <h3 class="nutri-blend">The Nutri-Blend Story</h3>
               <p>Homes were getting smaller, customers more
                 pragmatic. We curated Nutri-blend, the most
                 loved blender, mixer & grinder that makes
                 chutneys, masalas, smoothies & juices in a jiffy!
                 With simple functioning, compact size,
                 precision-engineered blades and 22,000 RPM,
                 the motor creates a tornado, quite literally in
                 your jar, giving you a perfect result every time!
                 It is one of our most copied products, which
                 we are happy about – after all, plagiarism is
                 flattery! No copy, however, comes remotely
                 close to the quality and performance
                 that Nutri-blend delivers.</p>
               
            </div>
          </div>
        </div>
         <div class="clearfix"></div>
        
        <div class="count_down_timer clearfix">
          <div class="container">
        	<ul class="count_style">
                <li><h3>3 Crore +</h3><p>Happy Customers</p></li>
              <li><h3>10,000 +</h3><p>Retail Points</p></li>
              <li><h3>20,000 +</h3><p>Service pin codes</p></li>
            
          </ul>
          </div>
        </div>
          <div class="clearfix"></div>
        
        <div class="abt-details padding_aboutus clearfix">
          <div class="container">
            <p>Wonderchef products are available in over 10,000 retail outlets across the country, all leading
              departmental stores, hypermarkets, specialty stores and in a growing number of Exclusive Brand
              Outlets. We have our own TV-shopping shows, are a leading brand in E-commerce business and also
              sell through a dynamic channel of over 70,000 self-employed, motivated & trained women
              entrepreneurs. You can easily shop for our products in your vicinity or at your fingertips! Or simply 
              order them here on our website.
            </p>
          </div>
        </div>
         <div class="clearfix"></div>
        
        <div class="abt-slider  clearfix">
          <div class="container">
            <div class="joy_gifting"  >
              <div class="gifting_joy">
                <div class="eight columns alpha padding_rightabout">
                  <img src="{{'joy_gifting_490x414-_1.png' | file_url }}" alt="Gifting">
                </div>
                <div class="eight columns alpha">
                  <h3 class="gifting">The joy of gifting!</h3>
                  <p>Our products are made for making
                    beautiful memories in the kitchen &
                    on your dining table. Our customers
                    love to share them as treasured gifts.
                    Every product comes in a beautifully
                    designed gift box. Uniqueness,
                    attractive prices and classy designs
                    make them the best choice for gifting.
                    Be it a house-warming party, a birthday,
                    a wedding or an anniversary, we have the
                    the perfect gift for every occasion.
                    Wonderchef sets and blenders are the
                    perfect gifts when a young couple
                    sets.
                  </p>
                </div>
              </div>
         
              
            </div>
          </div>
        </div>
         <div class="clearfix"></div>
        
        <div class="abt-lst_section padding_aboutus  clearfix">
          <div class="container">
            <h3 class="warranty_reliable">Reliable Wonderchef Warranty</h3>
            <p>We believe that the point of purchase is only the beginning of the relationship. Our Reliable
              Warranty ensures that you continue to get our support long after your purchase. Have a
              problem – we are a phone call away. Have a question about how to care for your product – 
              we are here to help. We pride ourselves on customer service and are always eager to hear
              from you.</p>

            <h4 class="testingmonila_ftr">You’re sure to delight your family and friends with everything you
              cook & serve. Bon Appetit!</h4>
          </div>
        </div>
      </div>
    
    </div>
  </div>
