<div class=" clearfix">
<div  class="static-page roti-magic">
<div class ="tncwonderchef">
   <div class="mainbanner">
      <img class="hidden_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Kriti_fully_automatic_coffee_maker_banner_for_microsite_Brown_bg_DESKTOP_6278590e-4954-46e8-a8cd-9234c8496b08.jpg?v=1691663825" width="100%" alt="Fully automatic coffee machine" s/>
      <img class="visible_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Kriti_fully_automatic_coffee_maker_banner_for_microsite_Brown_bg_MOBILE_cd0bd6ad-6d51-4823-bda3-fec5e3bb60f3.jpg?v=1691663829" width="100%" alt="Fully automatic coffee machine" s/>
   </div>

  <div class="container">
    <h2 class="pddda"><strong>Your Personal </strong><span style="color:#988577; font-family: Arnhem-BoldItalic;">Barista</span></h2>    
   
    <p class="black">Extracts professional-grade coffee at 19-bar pressure, exactly like you would find in an international coffee house.</p>
   <iframe src="https://www.youtube.com/embed/iEPcpgsIsdA" title="Wonderchef Regalia Fully Automatic Coffee Machine | Your personal Barista" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <p class="black">
Just choose your favourite type of coffee, and this bean-to-cup, fully automatic machine will take care of the rest - from grinding and tamping the beans, extracting aromatic shots of espresso, to even adding frothed milk for a delicious cappuccino or latte!</p>
  </div>
  {% section 'tooltips'  %}
   <div class="two-column" style="padding-bottom:10px;">
      <div class="column-1">
         <div class="image-container laptop"><img width="80%" alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/machine_front_image_for_prebook.jpg?v=1663424819"></div>
      </div>
      <div class="column-1 pre-book-div padtop">
          <p>MRP: <strong>₹ 1,25,000/-</strong></p>
            <p class="nomarg">SPECIAL LAUNCH PRICE: <strong>₹ 89,999/-</strong></p>
           
          <br>
            <h1><strong>BUY NOW</strong></h1>
            <h2><strong><span style="color:#988577">AND SAVE ₹ 35,001/-</span></strong></h2>
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
        
         <!-- pre-book button -->
         {% section 'product-template-au-coffee-prebook' %}
         <!-- end of pre book button-->
          
{% render 'sticky-add-to-cart' %}
              <p style="font-size: 14px;font-style: italic;font-family: Arimo,sans-serif;">Avail No Cost EMI on select cards of all leading banks. To avail No Cost EMI, choose Razorpay Secure as the payment option at checkout and select No Cost EMI from the available offers.</p>
</div>
   </div>
     <div class="container" style="padding: 3% 0%;">
           <!-- Rentity Snippet Start for Product Card -->
          		{% render 'rentity-product-rent-card', product: product %}
		          <!-- Rentity Snippet End for Product Card -->
                    <!-- <input required type="text" id="monogram" name="properties[Note]" data-error="Please enter a Note."> -->
                   
      </div>

 {% section 'coffee-machine-product-slider' %} 
  <div class=" last-column" style="width:100%;background-color:#fff;">
               
               <div class="new-image">
                <img class="desktop-image" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/office_desktop.jpg?v=1663424264">
                <img class="mobile-image" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/office_mobile.jpg?v=1663424264">
              </div>
              <div class="new-content" style="text-align:left;">
              <h2 ><strong>Make a lasting impression and have a </strong><span style="color:#988577; font-family: Arnhem-BoldItalic;">great time doing it!</span></h2>   
       
               <font >Drop some jaws at your next party by getting a machine for your home. Or make a lasting impression when you have visitors in your office by having a machine there, too!<br><br>
               It's ideal for showrooms and offices with 5-50 employees!<br><br>It'll be so easy to operate that you won't even have to lift a finger - except maybe to press the button that makes your favourite cup of coffee.</font>
              </div>
            </div>
  <div class="productView-description">
 <h2 ><strong>Thoughtfully </strong><span style="color:#988577; font-family: Arnhem-BoldItalic;">Designed</span></h2>  
         
     <div class="three-column">
     <div >
        
       <div class="eight columns alpha">
        
                   <p class="mobile"><strong>One Touch Brewing and Frothing</strong></p>
                  <p class="image-container">  <img class="lazyload-fade lazyautosizes ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/a.jpg?v=1663346117" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/a.jpg?v=1663346117" data-sizes="auto" alt="coffee machine" ></p>
                  </div>
                      <div class="eight columns">
                      
                      <p class="laptop"><strong>One Touch Brewing and Frothing</strong></p>
<p>The touch screen has a 7-inch capacitive display. 11 programmable brewing settings, one-touch operation of the milk frother, and automatic cleaning are all features available.</p>
                      
                    <br>
                  </div>
                  
                      
     </div> 
      <div class="column-1">
         <p class="mobile"><strong>4-Step Grinder Adjustment</strong></p>
         <p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/b.jpg?v=1663346117"></p>
         <p class="laptop"><strong>4-Step Grinder Adjustment</strong></p>
         <p>With a 4-step adjustable conical burr grinder, you can turn your beans into anything from ultra-fine powder to coarse grindings.</p>
      </div>
      <div class="column-1">
         <p class="mobile"><strong>Adjustable Spout Height</strong></p>
         <p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/e.jpg?v=1663346117"></p>
         <p class="laptop"><strong>Adjustable Spout Height</strong></p>
         <p>Adjustable spout height accommodates cups and mugs with different heights to make personalised beverages.</p>
      </div>
      <div class="column-1" style="text-align: start;">
         <p class="mobile"><strong>One Touch Milk Frother</strong></p>
         <p class="image-container"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/d_69c1987f-172e-4d33-a00a-9891a5ca76da.jpg?v=1663346117" style="float: none;"></p>
         <p class="laptop"><strong>One Touch Milk Frother</strong></p>
         <p>The milk frother system allows you to quickly create rich, creamy foam for beverages such as latte macchiato and cappuccino.
         </p>
      </div>
      <div class="column-1">
         <p class="mobile"><strong>Removable Drip Tray and Waste Bin</strong></p>
           <p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/f.jpg?v=1663346117"></p>
         <p class="laptop"><strong>Removable Drip Tray and Waste Bin</strong></p>
         <p>The drip tray and waste bin are both easily accessible and can be removed for quick cleaning.</p>
      </div>
      <div class="column-1">
         <p class="mobile"><strong>In-built Water Tank </strong></p>
         <p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/c.jpg?v=1663346116"></p>
         <p class="laptop"><strong>In-built Water Tank</strong></p>
         <p>The in-built water tank has a capacity of 1.8L and is located at the back of the machine.</p>
      </div>
          <div class="column-1">
         <p class="mobile"><strong>Thermoblock Technology</strong></p>
         <p class="image-container"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Thermoblock-Technology.jpg?v=1670495791" alt=""></p>
         <p class="laptop"><strong>Thermoblock Technology</strong></p>
         <p>The thermoblock technology in this coffee maker is energy efficient and saves time by allowing you to make double shots of espresso one after another while maintaining the perfect temperature.</p>
      </div>
     <div>
         <br>
       <div class="eight columns alpha">
         
                   <p class="mobile"><b>Professional conical burr grinder</b></p>
                  <p class="image-container">  <img class="lazyload-fade lazyautosizes ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/8_94fe018b-8f44-4b0c-8e63-efee15da72eb.jpg?v=1663430059" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/8_94fe018b-8f44-4b0c-8e63-efee15da72eb.jpg?v=1663430059" data-sizes="auto" alt="Granite Non-stick Cookware Set, 4Pc (Frying Pan With Lid, Wok, Dosa Tawa), Induction Bottom, Pure Grade Aluminium, PFOA, 3.5mm, 2 Years Warranty, Red" ></p>
                  </div>
                      <div class="eight columns">
                      
                      <p class="laptop"><b>Professional conical burr grinder</b></p>
<p>This long-lasting, conical burr grinder delivers the freshest possible results to your cup with its adjustable fineness settings and direct bean grinding. The grinder's distinct shape allows for a more uniform grind, while its wide range of settings ensures that you can get the perfect grind every time.
<br></br>No matter what beans you're using, this grinder will deliver a consistent, uniform grind that brings out the best flavor and aroma. You'll enjoy the maximum flavour and good taste with every sip.</p>
                      
                   
                  </div>
                  
                      
     </div>  
      
              
</div>
    
  </div>
   <div class="container" style=
"padding:2%;">
<h2 ><strong>See how it </strong><span style="color:#988577; font-family: Arnhem-BoldItalic;">works</span></h2>  

  <iframe  src="https://www.youtube.com/embed/EEHkUKEqXOA" title="Fully Automatic Coffee Machine | Wonderchef" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <br><br><br>
      <h2><strong>Frequently Asked Questions</strong></h2>  
     <div class="roti-magic-faq">
  {% include 'faq_regalia_coffee_grinder' %}
     </div>
   </div>
</div>  
</div>

   
</div>

<style>
   .roti-magic p{
   text-align:center;
   font-size: 26px;
   margin-bottom:10px;
   line-height: 30px;
   font-family:century gothic,sans-serif;
   color: #6e6a6a;
   }
   p.intro{
   font-size: 30px;
   line-height: 36px;
   }
   .roti-magic .one-column, .roti-magic .three-column{
   width:80%;
   margin:35px auto;
   }
   .two-column .image-container {
   text-align: right;
   margin-right: 50px;
   }
   .roti-magic font{
   font-size:18px;
   text-align:center;
   font-family:century gothic,sans-serif;
   color: #979393;
   }
   .roti-magic h1, .roti-magic h2{
   width: 100%;
   text-align: center;
   margin-bottom: 0px;
   text-transform: initial;
   font-family: inherit;
   font-weight:100;
   font-family:century gothic,sans-serif;
   color:#000;
   }
   .roti-magic iframe{
   width:100%;
   
   height:607px;
   }
   .roti-magic img.save-img{
   width: 200px;
   position: absolute;
   right: 0px;
   top:-150px;
   }
   .roti-magic .two-column p{
   text-align:left;
   }
   .roti-magic h1{
   font-size: 52px;
   }
   .roti-magic h2{
   margin-bottom:10px;
   font-size: 34px;
   }
   .roti-magic .last-column{
   padding: 30px;
   margin-bottom: 25px;
   text-align: center;
   float: left;
   padding-left: 0px;
   position:relative;
   }
   .last-column .new-image{
   width: 55%;
   float: left;
   }
   .last-column .mobile-image{
   display:none;
   }
   .last-column .desktop-image{
   display:block;
   }
   .last-column .new-content{
   width: 41%;
   float: right;
   text-align: left;
   padding-left: 20px;
   position: absolute;
   top: 50%;
   left: 55%;
   transform: translateY(-50%);
   }
   .roti-magic .last-column font{
   font-size: 2.5vh;
  
   }
   .last-column .new-content p{
   font-size: 20px;
   text-align: left;
   line-height: 10px;
   }
   .last-column .magic-font{
   font-size: 4vh;
   line-height: 10px;
   text-align:left;
   }
   .last-column h1 {
   font-size: 6vh;
   text-align: left;
   }
   .last-column h2 {
   font-size: 4vh;
   text-align: left;
   margin-bottom:20px;
   }
   .pre-book-div{
   position:relative;
   margin-top:40px;
   padding-left: 50px !important;
   }
   .pre-book-div h1{
   text-align:left;
   font-family: Rajdhani,sans-serif;
   font-size: 50px;
   }
   .pre-book-div h2{
   text-align:left;
   font-family: Rajdhani,sans-serif;
   }
   .pre-book-btn{
   background:#242425;
   width:200px;
   text-align:center;
   padding:10px;
   }
   .pre-book-div iframe{
   margin-left:0px;
   }
   .shopify-buy__layout-vertical {
   text-align: left;
   }
   .shopify-buy__product {
   text-align: left;
   }
   .roti-magic .three-column h2{
   font-size: 32px;
   margin-bottom:0px;
   }
   .shopify-payment-button .shopify-payment-button__button--unbranded{
   width:200px !important;
   }
   .small-heading{
   margin-top:20px;
   }
  
  .roti-magic-faq .card .card-header .title{  
    padding-left: 15px;
    text-align: left!important;
    font-size: 18px;
    line-height: 30px;
    font-family: century gothic,sans-serif;
    color: #000;
    background-color: #e3e3e3;
  }

    .roti-magic-faq p{  
    text-align: left!important;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 30px;
    font-family: century gothic,sans-serif;
    color: #000;
  }
  
   @media (min-width: 601px){

     .nomarg{

       margin-bottom:0px!important;
     }
      .header1{
  text-align:center!important;
   
  }
      .h2{
  text-align:center!important;
        
   
  }
   .pddda{
   padding-top:20px!important;
   }
   .rotirent{
   padding: 2px 20px 20px 50px!important;
   }
   .new1{
   margin: 20% 0px 0px 37px!important;
   width: 80%!important;
   }
   .column-1half{
   width:45%!important;
   }
   .column-2half{
   width:27.33%!important;
   }
   .pad1{
   padding: 10px 10px 10px 100px!important;
   }
   .pfont{
   font-size: 30px!important;
   }
   .productView-description p {
   text-align: left; 
   font-size: 18px;
   margin-bottom: 10px;
   line-height: 30px;
   font-family: century gothic,sans-serif;
   color: #000;
     background-color:#e3e3e3;
   }
   }
   @media (max-width: 600px){
      .header1{
       text-align: left!important;
       
  }
     .nomarg{

       margin-bottom:-8px!important;
     }
       .h2{
       text-align: left!important;
       
  }
   .new1{
   margin: 0% 0px 0px 0px!important;
   width: 100%!important;
   }
   .padtop{
   padding-top:15px!important;
   }
   .pad1{
   padding: 10px 10px 10px 10px!important;
   }
   .pfont{
   font-size: 16px!important;
   }
   .productView-description p {
   font-size: 18px;
   }

   .padtop{
   margin-top: 12px!important;
   }
   .special-phone{
   margin: 15px auto 20px auto!important; 
   }
   .roti-magic p{
   font-size: 16px!important;
   margin-bottom: 10px;
   }
   .column-1{
   padding-top:20px!important;
   }
   p.intro {
   font-size: 20px;
   line-height: 24px;
   }
   .roti-magic h1 {
   font-size: 30px;
   }
   .roti-magic .three-column h2 {
   font-size: 24px;
   }
   .roti-magic .one-column, .roti-magic .three-column{
   margin: 15px auto 50px auto;
   }
   .roti-magic font{
   font-size:16px;
   }
   .magic-font {
   font-size: 16px;
   }
   .roti-magic h2{
   font-size:30px;
   }
   .roti-magic iframe{
   height:250px;
   width: 100%;
   padding: 0 10px;
   margin:0px;
   }
   .roti-magic img.save-img{
   width: 100px;
   top: -70px;
   }
   .roti-magic .last-column{
   padding:0px;
   margin-bottom:30px;
   }
   .image-container img {
   width: 100%;
   }
   h1.small-heading{
   font-size: 18px;
   margin-top: 0px;
   }
   .pre-book-div {
   margin-top: 0;
   padding: 0 25px !important;
   }
   .pre-book-btn {
   margin: 0 auto;
   }
   .two-column .image-container {
   text-align: center;
   margin-right: 0;
   }
   .pre-book-div h1 {
   font-size: 40px;
   }
   .pre-book-div h2 {
   font-size: 28px;
   }
   .two-column .image-container img {
   width: 80%;
   }
   .last-column .mobile-image{
   display:block;
   }
   .last-column .desktop-image{
   display:none;
   }
   .last-column .new-image {
   width: 100%;
   }
   .last-column .new-content {
   width: 100%;
   padding: 20px;
   text-align: center;
   position: unset;
   transform: none;
   }
   .last-column h1, .last-column h2{
   text-align:center;
   }
   .roti-magic .last-column font {
   font-size: 16px;
   }
   .last-column .magic-font {
   font-size: 16px;
   text-align:center;
   }
          .roti-magic-faq .card .card-header .title{  
    font-size: 16px;
  }
    .roti-magic-faq p{  
    font-size: 16px;
  }
   }

  .header1{
   text-transform: uppercase;
  
    color: #988577!important;
    font-size: 30px!important;
    padding-top: 30px;
    
  }
   .header2{
   text-transform: uppercase!important;
   padding-bottom: 30px!important;
    
  }
  
    .productView-description {
    padding:10px 0px;
     background-color:#e3e3e3;
   }
@media (min-width: 601px){
.tooltip-button {
   
    width: 15px!important;
    height: 15px!important;
}
   .black{
  color: #000!important;
    font-size: 20px!important;
    padding-bottom: 20px!important;
    text-align:center!important;
  }
}
  @media (max-width: 600px){
.tooltip-button {
   
    width: 10px!important;
    height: 10px!important;
}
    .black{
  color: #000!important;
    font-size: 20px!important;
    padding-bottom: 20px!important;
    text-align:justify!important;
  }

    .pddda{
      padding-top:20px;
    }

    .pre-book-div p{
      font-size:19px!important;
    }
}
  
  .tooltip-button {
    background: #100f0f!important;
    width: 100%;
    border: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
    border-radius: 100%!important;
    line-height: normal!important;
    min-height: auto;
    border: 3px solid #fff;
    box-shadow: 0 0 0 0 rgb(255 255 255 / 70%);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 2s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 22px;
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    color: #ffffff;
    transition: all 300ms ease-in-out;
}


  @media print, screen and (min-width: 40em)
.grid-container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

  .grid-container {
     padding-right: 0.625rem; 
    padding-left: 0.625rem;
    max-width: 75rem;
    margin: 0 auto;
}
  .productView-description p {
   text-align: left!important; 
   font-size: 18px;
   margin-bottom: 10px;
   line-height: 30px;
   font-family: century gothic,sans-serif;
   color: #000;
     background-color:#e3e3e3;
   }
       .roti-magic-faq .card .card-header .title{  
    font-size: 18px;
  }
    .roti-magic-faq p{  
    font-size: 18px;
  }

  
element.style {
}
@media (min-width: 1025px)
a:hover {
    color: #b20000;
}
a:hover {
    color: #383e47;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

a, button, [role=button], input, label, select, textarea {
    touch-action: manipulation;
}
a {
    position: relative;
    outline: none;
    text-decoration: none;
    transition: all .3s ease;
    background-color: transparent;
    color: #383e47;
}
html * {
    outline: none!important;
}
a {
   
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.tooltip-header {
  font-size: 2em;
}
  
</style>
<div class=" clearfix">
</div>
<div class="container">
   {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}
  
</div>
<script type="text/javascript">
    // required object
    window.ad_product = {
        "id": "{{ product.id }}",   // required
        "vendor": "{{ product.vendor }}",
        "price": "{{ product.price | money }}",
        "url": "//www.wonderchef.com{{ product.url }}",
        "picture": "{{ product.featured_image | image_url }}",
        "name": "{{ product.title }}",
        "category": "{{ collection.title | metafield_text}}"
    };

    window._retag = window._retag || [];
    window._retag.push({code: "9ce8884bff", level: 2});
    (function () {
        var id = "admitad-retag";
        if (document.getElementById(id)) {return;}
        var s = document.createElement("script");
        s.async = true; s.id = id;
        var r = (new Date).getDate();
        s.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//cdn.lenmit.com/static/js/retag.js?r="+r;
        var a = document.getElementsByTagName("script")[0]
        a.parentNode.insertBefore(s, a);
    })()
</script>